<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{gallery.rows}">

    <f:for each="{gallery.rows}" as="row">

        <div class="row">

            <f:for each="{row.columns}" as="column">
                <f:if condition="{column.media}">
                    <div class="ce-column col">
                        <f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                    </div>
                </f:if>
            </f:for>

        </div>

    </f:for>

</f:if>


</html>
