

.tx-sonotec-customers .licenses {
    margin-bottom: 3em;
}
.tx-sonotec-customers .alert-success ,
.tx-sonotec-customers .alert-warning {
    color: #eb1c23;
}
.tx-sonotec-customers table .delete {
    font-size: 14px;
}
.tx-sonotec-customers .icon {
    height: 1em;
    width: 1em;
}
.tx-sonotec-customers .icon path {
    fill: #eb1c23;
}
.tx-sonotec-customers .delete-cell {
    width: 20px;
    text-align: right;
}

.tooltip {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #eb1c23;
}
.tooltip .tooltip-text {
    display: none;
    position: absolute;
    bottom: 26px;
    left: 50%;
    width: 20em;
    background: #606060;
    color: #fff;
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    margin-left: -10em;
}
.tooltip .tooltip-text:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #606060;
}
label:hover .tooltip-text {
    display: block;
    font-weight: normal;
}
