<div class="container">
    <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit,recordId:contentObjectData.uid}">

            <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">

                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />

            </f:for>

    </n:widget.paginate>

</div>
