<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<!--
	=====================
		Partials/List/Item.html
-->
<div class="article row articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}" itemscope="itemscope" itemtype="http://schema.org/Article">
    <div class="col-12 col-md-4 col-xl-3">
        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
            <f:alias map="{mediaElement: newsItem.mediaNonPreviews.0}">
                <f:if condition="{mediaElement.originalResource.type} == 2">
                    <f:image image="{mediaElement}"
                             class="img-fluid"
                             title="{mediaElement.originalResource.title}"
                             alt="{mediaElement.originalResource.alternative}"
                             width="576c"
                             height="290c"
                    />
                </f:if>
            </f:alias>
        </n:link>
    </div>

    <div class="col-12 col-md-8 col-xl-9">
        <header>
             <span class="news-list-date">
                <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                    <f:format.date format="%d.%m.%Y">{newsItem.datetime}</f:format.date>
                </time>
            </span>
            <f:if condition="{newsItem.newsAuthor}">

                    <span class="d-block">
                        <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:fromathor" />
                        <strong>
                            <f:link.action action="listAuthor" controller="News" pageUid="{settings.pageUids.list.author}" arguments="{newsAuthor:newsItem.newsAuthor}">{newsItem.newsAuthor.name}</f:link.action>
                        </strong>
                    </span>
            </f:if>
            <h3 class="news-list-header" itemprop="headline">
                <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                    {newsItem.title}
                </n:link>
            </h3>
        </header>
        <n:removeMediaTags>
            <f:if condition="{newsItem.teaser}">
                <f:then>
                    <div class="news-list-teaser" itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:then>
                <f:else>
                    <div class="news-list-teaser" itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
                </f:else>
            </f:if>
        </n:removeMediaTags>

        <n:link newsItem="{newsItem}" settings="{settings}" class="news-list-link" title="{newsItem.title}"><f:translate key="more-link"/></n:link>
    </div>
</div>
</html>
