<div class="container">
    <div class="row list-events">
        <f:for each="{news}" as="newsItem" iteration="iterator">

            <f:render partial="List/ListEventsItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />

        </f:for>
    </div>
</div>
