<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="date-start">
    <header>
             <span class="news-list-date">
                <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                    <f:format.date format="%d.%m.%Y">{newsItem.datetime}</f:format.date>
                </time>
            </span>
        <h4 class="news-list-header" itemprop="headline">
            {newsItem.title}
        </h4>
    </header>
    <n:removeMediaTags>
        <f:if condition="{newsItem.teaser}">
            <div class="news-list-teaser" itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
        </f:if>
    </n:removeMediaTags>

    <n:link newsItem="{newsItem}" settings="{settings}" class="date-start-link" title="{newsItem.title}">
        <f:translate key="more-link"/>
    </n:link>
</div>
</html>
