<div class="row">
    <f:for each="{news}" as="newsItem" iteration="iterator">
        <div class="col-12 {f:if(condition:'{settings.limit}==2',then:'col-md-6',else:'col-md-4')}  articletype-{newsItem.type} news-start" itemscope="itemscope" itemtype="http://schema.org/Article">
            <f:render partial="List/StartNewsItem" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
        </div>
</f:for>
</div>
