<f:if condition="{data.formVariant}">
    <f:then>
        <f:variable name="formVariant" value="{data.formVariant}" />
    </f:then>
    <f:else>
        <f:variable name="formVariant" value="contact.form.yaml" />
    </f:else>
</f:if>

<formvh:render persistenceIdentifier="EXT:sonotec_config/Resources/Private/Forms/{formVariant}" />
