<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

        <f:if condition="{settings.list.showFilter} && !{settings.hideFilter}">
            <div class="row mb-3">
                <div class="col-12 col-sm-6 mb-3 mb-sm-0 col-lg-4">
                    <select class="form-control job-filter-select">
                        <option value=".job_unit_0"><f:translate key="filter.units" /></option>
                        <f:for each="{units}" as="unit">
                            <option value=".job_unit_{f:if(condition:'{unit.l10nParent}>0',then:'{unit.l10nParent}',else:'{unit.uid}')}">{unit.title}</option>
                        </f:for>
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <select class="form-control job-filter-select">
                        <option value=".job_unit_0"><f:translate key="filter.categories" /></option>
                        <f:for each="{categories}" as="category">
                            <option value=".job_category_{f:if(condition:'{category.l10nParent}>0',then:'{category.l10nParent}',else:'{category.uid}')}">{category.title}</option>
                        </f:for>
                    </select>
                </div>
            </div>
            <div class="mb-5 number-of-jobs">
                <span class="number-of-jobs-count">{jobs -> f:count()}</span>
                <f:translate key="filter.number" />
            </div>
        </f:if>

        <div class="job-list">
            <f:for each="{jobs}" as="job" iteration="i">
                <div class="job-item job_unit_0 job_unit_{job.unit.uid} job_category_0 job_category_{job.category.uid} {f:if(condition:'{i.isOdd}',then:'odd')}">
                    <h3 class="job-title job-flex-item">
                        <f:link.action action="show" pageUid="{settings.detailPage}" arguments="{job:job}">
                            {job.jobTitle}
                            <f:if condition="{f:translate(key:'job.mwd')}">
                                <span class="small">{f:translate(key:'job.mwd')}</span>
                            </f:if>
                            <span class="d-block small categories">
                                {job.category.title} &middot; {job.unit.title}
                            </span>
                        </f:link.action>

                    </h3>
                    <div class=" pt-3 pt-md-0">
                    <f:link.action class="btn btn-job btn-red m-0 "
                                   action="show" pageUid="{settings.detailPage}" arguments="{job:job}">
                        {f:translate(key:'job.more')}
                    </f:link.action>
                    </div>
                </div>
            </f:for>
        </div>


</html>
