<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{title}">
    <f:then>
        <meta property="og:title" content="{title}">
        <meta name="twitter:title" content="{title}">
    </f:then>
    <f:else>
        <meta property="og:title" content="{job.jobTitle} {f:translate(key:'LLL:EXT:smapone_jobposting/Resources/Private/Language/locallang.xlf:job.mwd')}">
        <meta name="twitter:title" content="{job.jobTitle} {f:translate(key:'job.mwd')}">
    </f:else>
</f:if>
<meta property="og:type" content="article">
<meta property="og:url" content="{f:uri.action(absolute:1, action:'show', extensionName:'SmaponeJobposting', controller:'Job', pluginName:'pi1', arguments:'{job:job}')}">
<f:if condition="{job.metaImage}">
    <f:then>
        <meta property="og:image" content="{f:uri.image(image:job.metaImage, absolute:1, width:'1600c', height: '720c')}">
        <meta property="og:image:width" content="1600">
        <meta property="og:image:height" content="720">
    </f:then>
    <f:else>
        <meta property="og:image" content="{f:uri.image(src:'fileadmin/user_upload/company/career/start-2.jpg', absolute:1, width:'1600c', height: '720c')}">
        <meta property="og:image:width" content="1600">
        <meta property="og:image:height" content="720">
    </f:else>
</f:if>

<meta name="description" content="{description -> f:format.stripTags() -> f:format.crop(maxCharacters: 160)}">
<meta property="og:description" content="{description -> f:format.stripTags() -> f:format.crop(maxCharacters: 160)}">
<meta name="twitter:description" content="{description -> f:format.stripTags() -> f:format.crop(maxCharacters: 160)}">

<f:if condition="{job.metaImage}">
    <f:then>
        <meta name="twitter:image" content="{f:uri.image(image:job.metaImage, absolute:1, width:'1600c', height: '720c')}">
        <meta name="twitter:image:src" content="{f:uri.image(image:job.metaImage, absolute:1, width:'1600c', height: '720c')}">
    </f:then>
    <f:else>
        <meta name="twitter:image" content="{f:uri.image(src:'fileadmin/user_upload/company/career/start-2.jpg', absolute:1, width:'1600c', height: '720c')}">
        <meta name="twitter:image:src" content="{f:uri.image(src:'fileadmin/user_upload/company/career/start-2.jpg', absolute:1, width:'1600c', height: '720c')}">
    </f:else>
</f:if>
</html>
