<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="position-relative">

    <div class="d-none d-lg-block text-right position-relative container" style="top:0px;height:0;z-index: 10;">

        <f:link.page class="btn btn-red mt-0 job-application-btn"
                     pageUid="{settings.applicationForm}"
                     title="{f:translate(key:'job.apply_now')}"
                     additionalParams="{ref:'{f:uri.page(absolute:1,additionalParams:{tx_smaponejobposting_pi1:{job:job,action:\'show\'}})}'}">
            {f:translate(key:'job.apply_now')}
        </f:link.page>
    </div>

    <div class="hero-header-wrap pb-5 mb-5">
        <div class="container">
            <header class="page-title  w-lg-75">
                <h1>{job.jobTitle}</h1>
                <f:if condition="{f:translate(key:'job.mwd')}">
                    <h2>{f:translate(key:'job.mwd')}</h2>
                </f:if>
            </header>
            <f:if condition="{job.introtext}">
                <p class="w-lg-75"><strong>
                    <f:format.nl2br>{job.introtext -> f:format.stripTags()}</f:format.nl2br>
                </strong></p>

                <f:link.page class="btn btn-red d-lg-none job-application-btn"
                             pageUid="{settings.applicationForm}"
                             additionalParams="{ref:'{f:uri.page(absolute:1,additionalParams:{tx_smaponejobposting_pi1:{job:job,action:\'show\'}})}'}">
                    Jetzt bewerben
                </f:link.page>
            </f:if>
            <f:if condition="{job.images}">
                <div class="job-images">
                    <f:for each="{job.images}" as="image">
                        <div class="job-image">
                            <f:image image="{image}" height="180" class="img-fluid"/>
                        </div>
                    </f:for>
                </div>
            </f:if>
        </div>
    </div>

    <div class="container">
        <div class="job-flex-container">
            <div class="content-element ce-text w-lg-75 mb-5 pb-3 job-content-element-main">
                <f:if condition="{job.description5}">
                    <f:format.html>{job.description5}</f:format.html>
                </f:if>
                <f:if condition="{job.description3}">
                    <h3>{f:translate(key:'job.benefits')}</h3>
                    <f:format.html>{job.description3}</f:format.html>
                </f:if>
                <f:if condition="{job.description}">
                    <h3>{f:translate(key:'job.job_description')}</h3>
                    <f:format.html>{job.description}</f:format.html>
                </f:if>
                <f:if condition="{job.description2}">
                    <h3>{f:translate(key:'job.requirements')}</h3>
                    <f:format.html>{job.description2}</f:format.html>
                </f:if>
                <f:if condition="{job.description4}">
                    <h3>{f:translate(key:'job.our_contact')}</h3>
                    <f:format.html>{job.description4}</f:format.html>
                </f:if>

                <div class="d-lg-flex justify-content-lg-between">
                    <f:link.page class="btn btn-red d-lg-none job-application-btn mr-md-3"
                                 pageUid="{settings.applicationForm}"
                                 title="{f:translate(key:'job.apply_now')}"
                                 additionalParams="{ref:'{f:uri.page(absolute:1,additionalParams:{tx_smaponejobposting_pi1:{job:job,action:\'show\'}})}'}">
                        {f:translate(key:'job.apply_now')}
                    </f:link.page>
                    <div style="display:block;">
                        <f:link.page class="btn btn-red download-pdf job-application-btn ml-0 ml-lg-0"
                                     additionalParams="{tx_smaponejobposting_pi1:{job:job,action:'show'},tx_web2pdf_pi1:{argument:'printPage',controller:'Pdf'}}">
                            {f:translate(key:'job.download_pdf')}
                        </f:link.page>
                    </div>
                    <div class="job-share-links mt-3">
                        <a target="_blank" class="job-share-link" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={f:uri.action(absolute:1,action:'show',arguments:{job:job})}">
                            <span class="icon-facebook2"></span>
                        </a>
                        <a target="_blank" class="job-share-link" title="Share on Twitter" href="https://www.twitter.com/share?url={f:uri.action(absolute:1,action:'show',arguments:{job:job})}">
                            <span class="icon-twitter"></span>
                        </a>
                        <a target="_blank" class="job-share-link" title="Share on LinkedIn" href="https://www.linkedin.com/sharing/share-offsite/?url={f:uri.action(absolute:1,action:'show',arguments:{job:job})}">
                            <span class="icon-linkedin"></span>
                        </a>
                        <a target="_blank" class="job-share-link" title="Share via Mail" href="mailto:?subject={f:uri.action(absolute:1,action:'show',arguments:{job:job})}&body={f:uri.action(absolute:1,action:'show',arguments:{job:job})}">
                            <span class="icon-mail"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="job-contact-sidebar">
                <div class="job-contact-sidebar__inner">

                    <f:if condition="{job.contact.0}">

                    <div class="content-element ce-sonoteccontact_pi1 ce-layout-0">
                        <f:render partial="Job/ContactInner" arguments="{contact:job.contact.0}" />

                        <div class="ce-contact__text">
                            <h4 class="ce-contact__name">{job.companyName}</h4>
                            <p>
                                <f:if condition="{job.contact.0.name}">
                                    {job.contact.0.name}<br/>
                                </f:if>
                                <f:if condition="{job.locations.0.address}">
                                    {job.locations.0.address}<br/>
                                </f:if>
                                <f:if condition="{job.locations.0.zipCode} || {job.locations.0.city}">
                                    {job.locations.0.zipCode} {job.locations.0.city}<br/>
                                </f:if>
                            </p>
                        </div>
                    </div>

                    </f:if><div class="text-right mt-3">
                    <f:link.page class="btn btn-red mt-0 job-application-btn"
                                 pageUid="{settings.applicationForm}"
                                 title="{f:translate(key:'job.apply_now')}"
                                 additionalParams="{ref:'{f:uri.page(absolute:1,additionalParams:{tx_smaponejobposting_pi1:{job:job,action:\'show\'}})}'}">
                        {f:translate(key:'job.apply_now')}
                    </f:link.page>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<f:render partial="Job/Contact" arguments="{contact:job.contact.0,location:job.locations.0,company:job.companyName}"/>

<f:section name="Slider">
    <f:if condition="{files}">
        <div class="ce-slider  job-content-element ce-layout-1 content-element full-width">
            <div class="container">
                <div class="ce-slider-carousel slider-carousel">
                    <f:for each="{files}" as="file">
                        <div class="slider-carousel__item">
                            <f:image
                                image="{file}"
                                height="340"
                                class="img-fluid "
                            />
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </f:if>
</f:section>


</html>
