
<f:if condition="{jobs}">
    <div class="slider-carousel job-slider">

        <f:for each="{jobs}" as="job">
            <div class="slider-carousel__item job-slider-item--outer" >
                <div class="job-slider-item">

                    <f:link.action class="h4" title="{job.jobTitle}" action="show" pageUid="{settings.detailPage}" arguments="{job:job}">
                        {job.jobTitle} <span class="small">{f:translate(key:'job.mwd')}</span>
                    </f:link.action>
                </div>
            </div>
        </f:for>

    </div>
</f:if>
