<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://typo3.org/ns/Dmind/Cookieman/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:layout name="PopupLayout"/>

<f:section name="Content">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <h4 class="modal-header" id="cookieman-modal-title">
                <f:cObject typoscriptObjectPath="lib.cookiemanHeadline"/>
            </h4>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.cookiemanText"/>


                <div class="collapse" id="cookieman-settings">
                    <form data-cookieman-form class="mt-3"
                          data-cookieman-dnt-enabled="{f:translate(key: 'browser.dnt-enabled')}"
                    >

                        <div id="cookieman-acco" class="mb-3">
                            <f:for each="{settings.groups}" key="groupId" as="group">
                                <div class="card">
                                    <div class="card-header" id="cookieman-acco-h-{groupId}">
                                        <input class="cookieman-input" type="checkbox"
                                               name="{groupId}"
                                               {f:if(condition: group.preselected, then:
                                        'checked="checked"')}
                                        {f:if(condition: group.disabled, then: 'disabled="disabled"')}
                                        >
                                        <a href="" class="collapsed card-link" data-toggle="collapse"
                                           data-target="#cookieman-acco-{groupId}" role="button"
                                           aria-expanded="false" aria-controls="cookieman-acco-{groupId}">{f:translate(key: 'group.{groupId}', default: groupId)}
                                        </a>
                                    </div>

                                    <div id="cookieman-acco-{groupId}" class="collapse card-body"
                                         aria-labelledby="cookieman-acco-h-{groupId}"
                                         data-parent="#cookieman-acco">
                                        <f:if condition="{group.showDntMessage}">
                                            <div data-cookieman-dnt></div>
                                        </f:if>

                                        <p>
                                            {f:translate(key: 'group.{groupId}.desc')}
                                        </p>

                                        <f:if condition="{group -> c:shownTrackingObjects() -> f:count()} > 0">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                    <tr>
                                                        <th>{f:translate(key: 'tableheader.name')}</th>
                                                        <th>{f:translate(key: 'tableheader.purpose')}</th>
                                                        <th>{f:translate(key: 'tableheader.duration')}</th>
                                                        <th>{f:translate(key: 'tableheader.type')}</th>
                                                        <th>{f:translate(key: 'tableheader.provider')}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <f:render partial="TableRowsByGroup" section="content"
                                                              arguments="{_all}"/>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </f:if>
                                    </div>
                                </div>
                            </f:for>
                        </div>
                    </form>
                    <div class="text-right">
                        <button

                            data-cookieman-accept-none data-cookieman-save
                            class="btn btn-secondary mr-1"
                        >
                            {f:translate(key: 'deny')}
                        </button>
                        <button
                            data-cookieman-save
                            class="btn btn-secondary"
                        >
                            {f:translate(key: 'save')}
                        </button>
                        </div>
                </div>
            </div>

            <div class="modal-footer">


                <button class="btn btn-secondary collapsed"
                        type="button" data-toggle="collapse"
                        data-target="#cookieman-settings" aria-expanded="false" aria-controls="cookieman-settings">
                    {f:translate(key: 'settings')}
                </button>

                <button
                    data-cookieman-accept-all data-cookieman-save
                    class="btn btn-primary"
                >
                    {f:translate(key: 'accept')}
                </button>

            </div>
        </div>
    </div>
</f:section>
