#sonotec-backend-map {
    height: 500px;
}


.leaflet-div-icon {
    border: 0 !important;
    background: transparent !important;
}
.ff-map-icon {
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    background: #f03;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 30px;
    width: 30px;
    display: block;
}
.ff-map-icon:after {
    content: '';
    width: 14px;
    height: 14px;
    top: 8px;
    left: 8px;
    background: rgba(255,255,255,0.6);
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
