.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
.marker-cluster-small {
	
	}
.marker-cluster-small div {
	background-color: #eb1c23;
	}

.marker-cluster-medium div {

	background-color: #eb1c23;
	}

.marker-cluster-large {
	}
.marker-cluster-large div {
	
	background-color: #eb1c23;
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	
	}
.leaflet-oldie .marker-cluster-small div {
	
	background-color: #eb1c23;
	}

.leaflet-oldie .marker-cluster-medium {
	
	}
.leaflet-oldie .marker-cluster-medium div {
	
	background-color: #eb1c23;
	}

.leaflet-oldie .marker-cluster-large {
	
	}
.leaflet-oldie .marker-cluster-large div {
	
	background-color: #eb1c23;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
        color: #fff;
	}
.marker-cluster div {
	height: 26px;
	margin-left: 5px;
	margin-top: 5px;
        padding: 0;
        width: 26px;
	text-align: center;
	border-radius: 50%;
            font-size: 12px;
            line-height: 1;
	}
.marker-cluster span {
	line-height: 26px;
	font-weight: 400;
	}