#sonotec-map {
    height: 400px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,1,0.1);
}




.sonotec-map-all-wrapper {
     box-sizing: border-box;
    position: relative;
    z-index: 1;
}

#sonotec-map .leaflet-control-attribution a {
    color: #aaa;
}
#sonotec-map .leaflet-container .leaflet-control-attribution {
    background: none;
}
.leaflet-bar.leaflet-control-zoom {
    box-shadow: none;
}
.leaflet-bar.leaflet-control-zoom a.leaflet-disabled,
.leaflet-bar.leaflet-control-zoom a,
.leaflet-bar.leaflet-control-zoom a:hover {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border-radius: 0 !important;
    border: none !important;
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: 10px;
}
.sonotec-map-wrapper {
    position: relative;
}

#sonotec-map-addresses-singleview,
#sonotec-map-addresses {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    width: 280px;
    max-width: 50%;
    background: #fff;
    padding: 0 1rem;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    height: 380px;
    overflow: auto;
    display: none;
    font-size: 15px;
}
#sonotec-map-addresses-singleview p,
#sonotec-map-addresses p {
    margin: 0 0 1.35em 0;
    line-height: 1.35em;
}
#sonotec-map-addresses-singleview p.contact-data,
#sonotec-map-addresses p.contact-data {
    margin: 0 0 0.2em 0;
}
#sonotec-map-addresses-singleview{
    padding: 2rem 1rem 1rem;
}
.sonotec-map-wrapper .close,
#sonotec-map-addresses li.close{
    color: #eb1c23;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 2rem;
    line-height: 1rem;
    padding: 0 0.5rem 1rem;
    cursor: pointer;
}

#sonotec-map-addresses li.close {
    display: block !important;
    border-bottom: none;
    margin: 0;
}
#sonotec-map-addresses li {
    display: none;
    margin: 1rem 0;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}
.sonotec-map-wrapper span.icon {
    display: inline-block;
    background: #eb1c23;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
    position: relative;
    top: 1px;
}
.sonotec-map-wrapper a {
    color: #eb1c23;
    text-decoration: none;
}
#sonotec-map-addresses li:last-child {
    border-bottom: none;
}
.sonotec-map-wrapper span.categories {
    display: block;
    line-height: 1.4;
    margin-bottom: 0.75em;
}
.sonotec-map-wrapper h3 {
    margin: 0.25em 0 0.5em;
}
.sonotec-map-wrapper p {
    margin: 0.5em 0;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-div-icon {
    background: transparent !important;
    border-color: transparent !important;
}
.ff-map-icon {
    -webkit-border-radius: 50% 50% 50% 0;
    border-radius: 50% 50% 50% 0;
    background: #eb1c23;
    position: absolute;
    top: -24px;
    left: -8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 24px;
    width: 24px;
    display: block;
}
.ff-map-icon:after {
    content: '';
    width: 10px;
    height: 10px;
    top: 7px;
    left: 7px;
    background: rgba(255,255,255,0.9);
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.sonotec-map-filter {
    margin: 1em 0;
}
.sonotec-map-checkbox {
    display: inline-block;
    position: relative;
    padding: 0.5rem 0 0.5rem 2rem;
    line-height: 1.6rem;
    margin: 0 2rem 0 0;
}
.sonotec-map-checkbox:before {
    content: ' ';
    border: 2px solid #000;
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0.5rem;
}
input.sonotec-map-category {
    display: none;
}
input[type=checkbox]:checked + label:before {
    background: #000;
}
input[type=checkbox]:checked + label:after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: ' ';
    display: block;
    width: 8px;
    height:16px;
    left: 8px;
    top: 9px;
    position: absolute;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    line-height: 2rem;
    outline: 0;
    padding: 0rem 1rem;
    vertical-align: middle;
    background: #fff url('/typo3conf/ext/sonotec_map/Resources/Public/Img/arrow-down.png') no-repeat right .75rem center / .8rem 1rem;
    position: relative;
    top: -2px;
    margin: 0.5rem 2rem 0.5rem 0;
    height: 2rem;
    padding-right: 2.4rem;
    width: 18rem;
    max-width: 100%;
    box-sizing: border-box;
}button, select {
    text-transform: none;
}



.contactWrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px 0 0;
    box-sizing: border-box;
    background: #eaeaea;
}
.contactWrapper h3 {
    font-size: 1.3333333333333em;
    margin-bottom: 0.3em;
    padding-bottom: 0.75em;
}

.contactWrapper .contactItem {
    float: left;
    width: 33.3333333333333%;
    margin-bottom: 20px;
}
.contactWrapper .contactItem img {
    float: left;
    margin-right: 10px;
}
.contactWrapper .contactItem p.tel {
    margin-top: 5px;
    line-height: 1.4;
}

@media only screen and (max-width: 1000px) {
    .form-select {
        display: block;
    }

    .contactWrapper .contactItem {
        width: 50%;
    }

}
@media only screen and (min-width: 768px) {
    #sonotec-map {
        width: 100%;
        height: calc(100vh - 12rem);
    }

    #sonotec-map-addresses-singleview,
    #sonotec-map-addresses {
        height: 480px;
    }

    .form-select {
        display: block;
    }
}



.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  background-color: #eb1c23;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
