.nav-tabs {
  display:none;

  .submenu .hero-header & {
    display: flex;
  }
}

.tab-pane {
  .gridelement {
    &:first-child {
      margin-top: 0;
    }
    padding-bottom: 0;

    + .gridelement {
      padding-bottom: rem(80px);
    }
  }
}

@media(min-width:992px) {
  .nav-tabs {
    display: flex;
  }

  .card {
    border: none;
  }

  .tab-pane .card-header {
    display:none;
  }

  .tab-pane .collapse{
    display:block;
  }
}

@media(max-width:991px){
  .tab-pane {
    display: block !important;
    opacity: 1 !important;
    margin-bottom: rem(1px);
  }
}

.accordion-tabs {
  padding-top: 0!important;

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .nav-tabs {
    background: $white-40;
    border-bottom: none;


    .nav-item {
      margin-bottom: 0;
    }

    .nav-link {
      border: none;
      border-radius: 0;
      padding: rem(32px);
      font-size: rem(20px);
      color: $headline-blue;
      font-family: 'Bai Jamjuree',sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      border-right: 1px solid $blue-header;

      &:hover {
        background-color: #fafbfd;
      }
    }
  }

  .tab-content {
    padding: rem(40px) rem(10px) 0;


    @include respond-to-min($breakpoint-lg) {
      padding: rem(40px) 0 0;
    }
  }

  .card-header {
    background: #E0E7F0;
  }

  .collapse {
    padding: rem(20px) 0;
    @include respond-to-min($breakpoint-lg) {
      padding: 0;
    }
  }

  h5 {
    margin-bottom: 0;
    font-size: rem(18px);

    a {
      color: $headline-blue;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      padding: rem(20px) ;
      position: relative;

      &:after {
        content: "\e905";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: rem(20px);
        top: rem(22px);
        transform: rotate(90deg);
      }

      &.collapsed {
        &:after {
          transform: none;
        }
      }
    }
  }
}


// accordion
.ce-accordion {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.accordion {
  &-item {
    margin-bottom: 0.0625rem;
  }

  &-content {
    padding: 1.25rem 0;
  }

  &-header {
    background: #E0E7F0;

    button {
      border: none;
      background: transparent;
      font-family: 'Bai Jamjuree',sans-serif;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      color: $headline-blue;
      padding: 1.25rem;
      width: 100%;
      text-align: left;
      position: relative;

      &:focus,
      &:focus-visible {
        outline: 1px solid $headline-blue;
      }

      &:after {
        content: "\e905";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: rem(20px);
        top: rem(22px);
        transform: rotate(90deg);
      }


      &.collapsed {
        &:after {
          transform: none;
        }
      }
    }
  }
}
