.ce-anchor-menu {
  margin-bottom: 0;
  margin-top: 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include respond-to-min($breakpoint-lg) {
      flex-wrap: nowrap;
      justify-content: center;
      padding: 0 5%;

      &:after,
      &:before {
        content: '';
        width: 5%;
        background: $headline-blue;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:after {
        left: auto;
        right: 0;
      }
    }
  }

  &__item {
    font-family: 'Bai Jamjuree',sans-serif;
    font-weight: 600;
    font-size: rem(16px);

    display: block;
    min-width: 50%;
    text-align: center;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;

    @include respond-to-min($breakpoint-lg) {
      font-size: rem(22px);
      min-width: 0;
      flex-grow: 1;
      flex-basis: 0;
      border-bottom: 0;

      &:first-child {
        border-left: 1px solid transparent;
      }
    }

    text-transform: uppercase;
  }

  &__link {
    background: $headline-blue;
    color: $white-base;
    display: flex;
    padding: rem(20px) rem(10px);
    height: 100%;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $white-base;
      text-decoration: none;
    }
  }
}
