.breadcrumb {
  background-color: transparent;
  line-height: 1;
  margin: 0;
  padding: rem(30px) 0 rem(60px);
  font-size: rem(14px);
  text-align: right;
  overflow-y: hidden;
  flex-wrap: nowrap;

  &-item {
    display: block;
    a {
      display: block;
      color: $body-color;
      white-space: nowrap;
    }
    &.active {
      a {
        color: $meta-blue;
      }
    }
    + .breadcrumb-item::before {
      display: none;
    }

    + .breadcrumb-item a::before {
      display: inline-block;
      padding-right: rem(10px);
      color: $blue-grey;
      content: "›";
    }
  }
}
