.btn {
  font-family: 'Bai Jamjuree',sans-serif;
  font-size: rem(18px);
  line-height: 1;
  padding: rem(14px) rem(60px) rem(14px) rem(30px);
  position: relative;
  border-radius: rem(5px);

  + .btn {
    margin-left: rem(30px);
  }


  &:after {
    content: "\e905";
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: rem(20px);
    top: 50%;
    font-size: rem(18px);
    margin-top: rem(-9px);
  }

  @include respond-to-min($breakpoint-lg) {
    font-size: rem(20px);
  }

  margin-top: rem(20px);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary,
.btn-red {
  border-color: $headline-red;
  background: $headline-red;
  color: $white-base;
  box-shadow: none;

  &:active,
  &:focus,
  &:hover {
    border-color: $headline-red;
    background: $headline-red;
    color: $white-base;
  }
}

.btn-blue {
  border-color: $body-color;
  background: $body-color;
  color: $white-base;
  box-shadow: none;

  &:active,
  &:focus,
  &:hover {
    border-color: $body-color;
    background: $body-color;
    color: $white-base;
  }
}

.btn-white {
  border-color: $white-base;
  background: $white-base;
  color: $body-color;
  box-shadow: none;

  &:active,
  &:focus,
  &:hover {
    border-color: $white-base;
    background: $white-base;
    color: $body-color;
  }
}
