.ce-sonoteccontact_pi1 {
  background: $grey-5;
  max-width: rem(300px);
  box-sizing: border-box;
  padding: rem(20px);
  font-size: rem(16px);

  .gridelement-2c &,
  article > & {
    max-width: 50%;
    border: none;
    padding: 0;

    .ce-contact {
      &__inner {
        border-radius: rem(5px);
        box-sizing: border-box;
        padding: rem(20px);
        display: flex;
      }

      &__header {
        padding: rem(20px) rem(20px) 0;
      }

      &__description {
        padding: 0 rem(20px) rem(20px);
        border-bottom: 1px solid $grey-lighter;
      }

      &__text {
        margin-left: rem(30px);
      }

      &__image {
        max-width: rem(200px);
        min-width: 150px;
      }
    }
  }

  .gridelement & {
    max-width: none;
  }
}

.ce-contact {
  &__name {
    margin: rem(20px) 0 0 ;
  }

  &__function {
    margin: 0 0 rem(20px);
  }

  &__icon {
    color: $headline-red;
    display: inline-block;
    margin-right: rem(20px);
  }

  &__phone {

  }

  &__email {
    color: inherit;
  }

  &__address {
    margin: rem(20px) 0 0 ;
  }
}


#pid5 {
  #contact-1 form {
    .intro-text {
        display: none;
    }
  }
}

