.cookieman-modal {
  font-size: rem(14px);
  line-height: rem(22px);

  .modal-header {
    margin-bottom: 0;
  }

  .modal-footer {
    display: block;
    margin: 0;
    position: relative;
    left: auto;
    transform: none;
    text-align: right;
  }

  .btn {
    font-size: rem(18px);
    margin-top: 0;
    padding: rem(8px) rem(30px) rem(8px) rem(10px);

    &:after {
      right: rem(10px);
      font-size: rem(16px);
    }
  }

  .card {

    &-header {
      border-top: 1px solid #dee2e6;
      padding: rem(10px) 0 rem(10px) rem(20px);
      position: relative;
    }

    &-link {
      display: block;
      position: relative;

      &:after {
        font-size: rem(16px);
        content: "\e905";
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: rem(10px);
        top: 50%;
        font-size: 1.125rem;
        margin-top: -0.5625rem;
        transform: rotate(90deg);

      }

      &.collapsed:after {
        transform: rotate(0deg);
      }
    }
  }
  .cookieman-input {
    position: absolute;
    left:0;
    top: rem(14px);
  }

  .table {
    &.table-sm {
      font-size: rem(12px);
      line-height: 1.2;
    }

    th,td {
      padding: rem(4px);
    }

    thead th {
      border-bottom-width: rem(4px);
    }
  }
}

#cookieman-acco {
  border-bottom: 1px solid #dee2e6;
}
