.ce-uploads {
  padding: 0;
  list-style-type: none;

  &__item {
    background: $grey-lighter-40;
    margin-bottom: rem(10px);
    padding: rem(10px) rem(10px) rem(10px) rem(60px);
    position: relative;
  }

  &__image {
    position: absolute;
    left: 20px;
    top: 50%;
    display: block;
    transform: translateY(-50%);
  }

  &__title {
    font-weight: 600;
  }

  &__description {
    font-size: rem(12px);
    line-height: 1.2;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
