.ce-form_formframework {

}

.form-control {
  background: $grey-lighter-25;
  border-color: $grey-lighter-25;
  border-radius: 0;
  height: rem(50px);

  &:focus {
    background: $grey-lighter;
    border-color: $grey-lighter;
    box-shadow: none;
  }


}
textarea.form-control {
  min-height: rem(120px);
}

.control-label {
  font-weight: 400;
  margin-bottom: 0;
}

.form-check {
  margin: rem(20px) 0;
  padding-left: 0;

  .form-check-label {
    position: relative;
    display: block;
    padding-left: rem(30px);

    p {
      margin: 0;
    }
  }
}

.privacycheck-checkbox {
  position: absolute;
  left: 0;
  top: rem(5px)
}

.form-navigation {
  margin: rem(36px) 0 0;
  .btn {
    font-size: rem(16px);
  }
}

.form-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
  display: none;

  &--inner {
    margin: 0 auto;
    max-width: rem(768px);
    top: 50%;
    position: relative;
    background: $white-base;
    padding: rem(30px);
    transform: translateY(-50%);
    text-align: center;
  }
}

.lds-ellipsis {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $headline-red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


form#career {
  .control-label {
    display: none;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-navigation {
    margin: 0;
    text-align: right;
  }
}
