.gridelement {
  &.full-width {
    overflow: hidden;
  }
}

.gridelement-2c {
  .col-md-6:first-child {
    @include respond-to-min($breakpoint-xl) {
      padding-right: rem(40px);
    }
  }
  .col-md-6:last-child {
    @include respond-to-min($breakpoint-xl) {
      padding-left: rem(40px);
    }
  }
}
