.ce-iconbox {
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-bottom: rem(16px);

  &-inner {
    padding: rem(20px);
    height: 100%;

    &:hover {
      opacity: 0.6;
    }
  }

  .gridelement & {
    height: 100%;
  }

  &__icon {
    color: $headline-red;
    font-size: 4rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(100px);
  }

  &__header {
    font-size: rem(24px);
    font-family: 'Bai Jamjuree',sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
  }

  &__subheader {
    font-size: rem(14px);
    line-height: 1.3;
    margin: rem(10px) 0;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999rem;
  }
}

.fp-iconbox {
  text-align: left;

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  @include respond-to-min($breakpoint-lg) {
    height: 100%;
  }

  &-inner {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: rem(5px);

    @include respond-to-min($breakpoint-lg) {
      height: 100%;
    }


    &:hover {
      background: $white-base;
      color: $headline-blue;

      .fp-iconbox__link,
      .fp-iconbox__header {
        color: $headline-blue!important;

        &:hover {
          color: $headline-blue!important;
        }
      }
    }
  }

  .gridelement & {
    padding-top: 50%;
  }
  .gridelement-4c &{
    padding-top: 75%;
  }


  .gridelement-4c &{
    padding-top: 0;
  }

  &__text {
    display: flex;
    min-height: rem(100px);
    padding: 0 rem(16px);
    align-items: center;
    flex-grow: 1;

    @include respond-to-min($breakpoint-lg) {
      min-height: auto;
    }
  }

  &__header {
    font-size: 1.5rem;
    font-family: 'Bai Jamjuree',sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding: rem(5px) 0;

    @include respond-to-min($breakpoint-md) {
      font-size: rem(19px);
    }
    @include respond-to-min($breakpoint-xl) {
      font-size: rem(24px);
    }
    @include respond-to-min($breakpoint-xxxl) {
      font-size: rem(26px);
    }
  }

  &__icon {
    color: $headline-red;
    font-size: rem(52px);
    width: rem(70px);
    min-width: rem(70px);
    line-height: 1;
    box-sizing: border-box;
    display: block;
    position: relative;
    top:rem(1px);

    @include respond-to-min($breakpoint-lg) {
      font-size: rem(32px);
      width: rem(45px);
      min-width: rem(45px);
    }
    @include respond-to-min($breakpoint-xl) {
      font-size: rem(42px);
      width: rem(60px);
      min-width: rem(60px);
    }

    @include respond-to-min($breakpoint-xxxl) {
      font-size: rem(52px);
      width: rem(70px);
      min-width: rem(70px);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grey-lighter;
    font-size: rem(16px);
    line-height: rem(24px);
    padding: rem(16px) 0 rem(16px) rem(16px);
    border-top: 1px solid $grey-lighter;
    position: relative;
    box-sizing: border-box;
    min-height: rem(75px);

    &:hover {
      text-decoration: none;
    }
    @include respond-to-min($breakpoint-md) {
      min-height: rem(110px);
    }

    @include respond-to-min($breakpoint-lg) {
      font-size: rem(12px);
      min-height: rem(100px);
      line-height: rem(16px);
    }
    @include respond-to-min($breakpoint-xl) {
      font-size: rem(14px);
      line-height: rem(18px);
      min-height: rem(110px);
    }
    @include respond-to-min($breakpoint-xxxl) {
      font-size: rem(16px);
      line-height: rem(24px);
    }

    &-icon {
      font-size: rem(24px);
      display: block;
      padding: 0 rem(12px) 0 rem(16px);
    }
  }

}
