.job {
  &-list {
    margin: 0 rem(-10px);
    border-bottom: 1px solid $grey-lighter-25;
    max-width: rem(910px);

    @include respond-to-min($breakpoint-md) {
      margin: 0;
    }
  }

  &-item {
    line-height: 1.2;
    padding: rem(20px) rem(16px);
    box-sizing: border-box;
    @include respond-to-min($breakpoint-md) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--category {
      font-size: rem(13px);
      display: block;
      line-height: 1.2;
    }

    &.odd {
      background: $grey-lighter-25;
    }

    a {
      color: $headline-blue;
    }

    a.btn {
      color: $white-base;
    }

    td {
      vertical-align: middle;
    }
  }

  &-title {
    margin-bottom: 0;
    font-size: rem(18px);
    line-height: 1.2;
    @include respond-to-min($breakpoint-md) {
      min-width: 50%;
      max-width: 50%;
      width: 50%;
    }
    .categories {
      display: block;
      padding-top: rem(4px);
    }

  }

  &-filter {
    @include respond-to-min($breakpoint-md) {
      display: flex;
      flex-wrap: wrap;
    }

    &-checkbox {

      width: 100%;
      min-width: 100%;

      @include respond-to-min($breakpoint-md) {
        width: 50%;
        min-width: 50%;
        margin-right: 0;
      }
      @include respond-to-min($breakpoint-xl) {
        width: 33.33333%;
        min-width: 33.333333333%;
        margin-right: 0;
      }
      display: block;
      position: relative;
      padding: 0.5rem 0 0.5rem 2rem;
      line-height: 1.6rem;
      margin: 0 2rem 0 0;

      &-input {
        display: none;
      }

      &:before {
        content: ' ';
        border: 2px solid #000;
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        box-sizing: border-box;
        left: 0;
        background: #fff;
        top: 0.5rem;
      }
    }
  }
}

.job-filter-checkbox-input:checked + label:after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: ' ';
  display: block;
  width: 8px;
  height: 16px;
  left: rem(8px);
  top: rem(9px);
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(
      45deg
  );
  transform: rotate(
      45deg
  );
}
.job-filter-checkbox-input:checked + label:before {
  background: #000;
}

.btn-job {
  font-size: 1em;
  padding: 0.5rem 2.25rem 0.5rem 1.75rem;

  &:after {
    font-size: rem(14px);
    margin-top: rem(-7px);
  }
}

.number-of-jobs {
  font-size: rem(14px);
  font-weight: bold;
}

.job-flex-item {
  flex-grow: 1;
}


.job-images {
  margin-top: rem(32px);
  display: flex;
  justify-content: flex-start;
  gap: rem(8px);

  .img-fluid {
    width: auto;
    height: auto;
    flex-shrink: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    object-fit: contain;
  }


  @include respond-to-min($breakpoint-lg) {
    max-width: 75%;
  }
}

.job-flex-container {
  @include respond-to-min($breakpoint-lg) {
    display: flex;
    justify-content: space-between;
  }
}
.job-contact-sidebar {
  display: none;
  position: relative;
  @include respond-to-min($breakpoint-lg) {
    display: block;
    padding-left: rem(32px);
    padding-bottom: rem(64px);
  }

  &__inner {

    @include respond-to-min($breakpoint-lg) {
      position: sticky;
      top: rem(30px);
    }
  }
}

.job-contact {
  @include respond-to-min($breakpoint-lg) {
    display: none;
  }
}



.job-share-links {
  @include respond-to-min($breakpoint-lg) {
    display: flex;
    align-items: center;
  }
}
.job-share-link {
  color: #494949;
  font-size: rem(32px);
  display: inline-block;
  margin-right: rem(10px);
  @include respond-to-min($breakpoint-lg) {
    margin-right: 0;
    margin-left: rem(10px);
  }
}

#careerModal .modal-dialog {
  @include respond-to-min($breakpoint-xs) {
    max-width: 90%;
  }
  @include respond-to-min($breakpoint-lg) {
    max-width: 52rem;
  }
}

#careerModal .modal-body {
  padding: 3rem 1rem;

  @include respond-to-min($breakpoint-md) {
    padding: 3rem;
  }

  @include respond-to-min($breakpoint-lg) {
    padding: 4rem;
  }
}
