.kompressordaten{
  display: none;
}

.numberDisabled{
  background-color: #f1f1f1;
}

#disclaimer {
  padding: rem(20px);
  border: 1px solid $headline-blue;
  background: $grey-5;
  margin: rem(20px) 0;
}

.modal-footer{
  display: inline-block;
  margin: auto;
  margin-bottom: 1em;

  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#optionButton {
  font-weight: lighter;
  background: #fff;
  border: 1px solid #d6d6d6;
  padding: 1.0416666666667%;
  font-family: inherit;
  font-size: inherit;
}

.selectedButton {
  background: #f1f1f1!important;
}

.currency-usd {
  display: none;

  .leakCalculator.imperial & {
    display: inline-block;
  }
}

.imperial.leakCalculator {
  .currency-euro {
    display: none;
  }
}

.endcost{
  font-size: 2em;
  width: max-content;
  margin-left: auto;
  display: none;
  background-image: linear-gradient(to right, #bfbfbf00, #bfbfbf, #bfbfbf00);
  line-height: initial;
  padding: 0 10px;
  max-width: 100%;
  margin-bottom: rem(20px);
}

.tooltip-root{
  color: inherit;
  font-weight: inherit;
  display: block;
  cursor: inherit;
  position: relative;
}

/*tooltip delay*/
label:hover .tooltip-text {
  transition-delay: .5s;
  display: block;
}

.tooltip .tooltip-text {
  display: none;
  position: absolute;
  font-size: rem(14px);
  line-height: rem(18px);
  top: 0;
  background: $headline-blue;
  color: $white-base;
  transform: translate(0, -110%);
  max-width: 100%;
  padding: rem(4px) rem(8px);
}
.tooltip .tooltip-text:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(10px) rem(8px) 0 rem(8px);
  border-color: $headline-blue transparent transparent transparent;
  position: absolute;
  bottom: rem(-10px);
  left: 50%;
  margin-left: rem(-4px);
}

.tooltip .tooltip {
  font-size: rem(14px);
  font-weight: 600;
  color: $headline-red;
  cursor: pointer;
}

small{
  font-size: x-small;
}

#printButton {

}

#printButton.pressed {
  background-color: #eb1c23;
  color: #ffffff;
}

/*#printButton:focus {
    background-color: #eb1c23;
    color: #ffffff;
}*/

/*#printButton:active {
    background-color: #eb1c23;
    color: #ffffff;
}*/

.print-only{
  display: none;
}

@media only screen and (max-width: 767px){
  .one-half {
    margin: 0 3% 0 0;
  }

  .endcost{
    font-size: 1.5em;
  }
}

@media print {
  body {
    font-size: 12px!important;
    line-height: 1.4rem;
  }
  .printhide {
    display: none !important;
  }
  #disclaimer,
  .nav-breadcrumb {
    display: none !important;
  }

  .pb-5, .py-5 {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

  .page-title {
    margin: 0!important;
    padding: 0!important;
  }

  .site-header {
    position: relative;
  }

  .site-header,
  .print {
    display: block!important;
  }

  .tooltip {
  }

  .tooltip.tooltip-root{
    display: initial;
  }

  .tooltip .tooltip{
    display: none;
  }

  #sonotec-map-closer{
    display: none;
  }

  #uebernehmen {
    display: none;
  }

  h2, p{
    display: none
  }

  input {
    width: fit-content;
    margin: 0!important;
    float: right;
    border-style: none;
    background-color: inherit!important;
    text-align: right;
  }

  .print-only{
    display: block;
  }

  .print-only p{
    display: block;
  }

  table {
    border-spacing: 0;
    width: 100%;

    border: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    margin-bottom: rem(20px);
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  td,th {
    padding: .4em!important;
  }

  td:nth-of-type(2) {
    text-align: right!important;
  }

  .noBreak   {page-break-inside:avoid; page-break-after:auto }
  table { page-break-inside:avoid; page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

  .endcost{
    font-size: 1.5rem;
  }

  .cookie-message {
    display: none!important;
  }
}


.leakCalculator {
  @include respond-to-min($breakpoint-xl) {
    max-width: 72%;
  }
}
