.ce-text,
.ce-textmedia {

  &.center {
    .figure {
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;

      .img-fluid {
        width: auto;
      }
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    margin: rem(30px) 0 rem(50px);

    li {
      position: relative;
      padding-left: rem(20px);
      margin-bottom: rem(5px);

      a {
        font-weight: 500;
      }

      &:before {
        content: '›';
        position: absolute;
        left: 0;
        top: 0;
        color: $body-color;
        font-weight: 500;
      }
    }
  }


  .list-checkmarks {
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: rem(30px);
      margin-bottom: rem(10px);
      font-weight: 500;
      color: $headline-red;

      a {
        text-decoration: underline;
      }

      &:before {
        content: '✓';
        position: absolute;
        left: 0;
        top: 0;
        color: $body-color;
      }
    }
  }
}

.ce-bullets {
  &.row {
    margin-top: rem(40px);
  }
  &__item {
    padding: 0 rem(10px) rem(30px) rem(70px);
    position: relative;

    &:before {
      content: '✓';
      position: absolute;
      left: 0;
      top: 0;
      font-weight: bold;
      font-size: rem(30px);
      color: $white-base;
      background: $headline-red;
      display: block;
      border-radius: 50%;
      height: rem(50px);
      width: rem(50px);
      line-height: rem(50px);
      text-align: center;
    }
  }
}
