

.menu {
  display: flex;
  position: relative;
  z-index: 10;

  @include respond-to-min($breakpoint-md) {

  }
  @include respond-to-min($breakpoint-lg) {

  }

  &-left {
    flex-grow: 1;
    background: transparent;
    position: relative;
    overflow: hidden;

    &--triangle {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
  }

  &-right{
    flex-grow: 1;
    background: $white-base;
  }
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(10px);
  padding-top: rem(10px);
  position: relative;

  @include respond-to-min($breakpoint-md) {
    //padding-bottom: rem(32px);
    //padding-top: rem(32px);
    padding-bottom: rem(16px);
    padding-top: rem(16px);
  }
  @include respond-to-min($breakpoint-lg) {
    padding-bottom: 0;
    //padding-top: rem(40px);
    padding-top: 0;
  }
}

#main-menu {
  display: none;
  @include respond-to-min($breakpoint-lg) {
    display: block;
  }
}


.mm {
  //level 1
  &-level-1 {
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include respond-to-min($breakpoint-lg) {
      display: flex;
      align-items: flex-end;
      height: 100%;

      .mm-popup {
        display: none;
      }
    }
  }

  &-item-l1 {
    font-size: rem(20px);

    &.sm {
      position: relative;
    }

    @include respond-to-min($breakpoint-lg) {
      font-size: rem(24px);

      &:hover .mm-popup {
        display: flex;
      }
    }

    @include respond-to-min($breakpoint-xl) {
      font-size: rem(26px);
    }
  }

  &-popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-bottom: rem(64px) solid transparent;
    z-index: 10;
    max-width: rem(240px);
    min-width: rem(100%);

    @include respond-to-min($breakpoint-xl) {
      border-top-width: rem(80px);
    }

    &.lg {
      width: 100%;

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: rem(-64px);
        left: 15%;
        width: 45%;
        height: rem(64px);
      }
      @include respond-to-min($breakpoint-xl) {

        &:before {
          height: rem(80px);
          top: rem(-80px);
        }
      }

    }

    &-inner {
      background: #d9e2e7;
      width: 100%;
    }
  }

  &-link {
    color: $headline-blue;
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    position: relative;
    text-decoration: none;
    font-family: 'Bai Jamjuree',sans-serif;
    font-weight: 600;

    .active > &,
    .current > & {



    }
  }

  &-link-l1 {
    text-transform: uppercase;
    line-height: 1;

    .active & {
      background: $headline-blue!important;
      color: $white-base;
    }

    .mm-item-l1:hover & {
      background: $headline-blue-75;
      text-decoration: none;
      color: $white-base;
    }

    @include respond-to-min($breakpoint-lg) {
      padding: rem(20px) rem(27px);
    }
    @include respond-to-min($breakpoint-xl) {
      padding: rem(27px);
    }
    @include respond-to-min($breakpoint-xxl) {

    }
    @include respond-to-min($breakpoint-xxxl) {
      padding: rem(27px) rem(36px);
    }
  }

  //level 2
  &-level-2 {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;

    .lg & {
      width: 25%;
    }
  }

  &-item-l2 {
    height: rem(87px);

    &:hover {

      > .mm-link-l2 {
        color: $headline-red;
        background: #eef2f5;
      }
      > .mm-level-3 {
        display: block;
        animation: slide-in .3s ease-out;
      }
    }
  }

  &-link-l2 {
    padding-left: rem(15px);
    padding-right: rem(15px);
    position: relative;
    z-index: 2;
    background: #fafbfc;
    border-bottom: 1px solid #cdd8e0;

    @include respond-to-min($breakpoint-lg) {
      padding-left: rem(27px);
    }
    @include respond-to-min($breakpoint-xxl) {
      padding-left: rem(27px);
    }
    @include respond-to-min($breakpoint-xxxl) {
      padding-left: rem(36px);
    }

    .lg & {
      padding-left: rem(60px);
    }

    span {
      position: absolute;
      left: rem(14px);
      top: 50%;
      font-size: rem(32px);
      transform: translateY(-50%);
    }

    &:hover {
      text-decoration: none;
    }
  }

  //level 3
  &-level-3 {
    font-size: rem(18px);
    display: none;
    width: 100%;
    height: 100%;
    background: $grey-lighter;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 0;
  }
  &-item-l3 {
    height: rem(87px);
    border-bottom: 1px solid #eef2f5;
    display: flex;
    align-items: center;
    color: $headline-blue;

    &:hover {
      background: #d9e2e7;

      > .mm-link-l3 {
        color: $headline-red;
      }

      > .mm-level-4 {
        display: block;
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }


  &-link-l3 {
    padding-left: rem(30px);
    padding-right: rem(30px);

    &:hover {
      text-decoration: none;
    }
  }


  //level 4
  &-level-4 {
    font-size: rem(14px);
    display: none;
    width: 200%;
    margin: 0;
    padding: rem(30px) rem(40px) rem(10px);
    list-style-type: none;
    height: 100%;

    column-count: 2;
    column-gap: rem(30px);
    column-fill: auto;

    @include respond-to-min($breakpoint-xl) {
      font-size: rem(16px);
    }
    @include respond-to-min($breakpoint-xxxl) {
      font-size: rem(18px);
    }

  }
  &-item-l4 {
    margin-bottom: rem(20px);
  }

  &-link-l4 {
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    display: inline-block;
    width: auto;

    &:hover {
      color: $headline-red;
    }
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
