.mm-ocd,
#main-menu-mobile {
  @include respond-to-min($breakpoint-lg) {
    display: none;
  }
}

.mm-spn.mm-spn--light {
  color: $body-color;
  background: #d9e2e7;
}

.mm-spn.mm-spn--navbar:after,
.mm-spn.mm-spn--navbar.mm-spn--main:after {
  color: $body-color;
  opacity: 1;
}

.mm-ocd .l1 > li > a{

}
