.meta-wrap {
  background: $blue-header;

}

.menu-meta {
  font-size: rem(12px);
  height: rem(32px);
  line-height: rem(32px);
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 12;


  &--inner {
    display: flex;
    justify-content: flex-end;
    background: $white-80;
    position: relative;
    z-index: 1;
    padding: 0 rem(30px) 0 rem(10px);

  }

  @include respond-to-min($breakpoint-xs) {
    height: rem(40px);
    line-height: rem(40px);
  }
  @include respond-to-min($breakpoint-md) {
    font-size: rem(14px);

  }

  &_item {
    color: $body-color;
    display: block;
    margin-right: rem(16px);

    &.hide-mobile {
      display: none;
    }

    .layoutbu &,
    .frontpage & {
     // color: $white-base;
    }

    @include respond-to-min($breakpoint-xs) {
      &.hide-mobile {
        display: block;
      }
    }
    @include respond-to-min($breakpoint-md) {
      margin-right: rem(24px);
    }

    &:hover {
      color: $meta-blue;
      text-decoration: underline;

      .layoutbu &,
      .frontpage & {
       // color: $white-base;
      }
    }
  }
}

.menu-language {
  position: relative;
  font-weight: 500;

  .dropdown-toggle {
    color: $body-color;
    z-index: 2;

    .layoutbu &,
    .frontpage & {
    //color: $white-base;
    }


    &:hover {
      color: $body-color;
      text-decoration: none;

      .layoutbu &,
      .frontpage & {
       // color: $white-base;
      }
    }
  }

  .dropdown-menu {
    left: auto!important;
    right: 0!important;
    border-radius: 0;
    border-color: $headline-blue;
    padding: 0;
    min-width: 0;
    font-weight: 500;
  }

  .dropdown-item {
    text-align: center;
    padding: 0 rem(14px);
    font-size: rem(14px);
    color: $headline-blue;

    &:hover {
      background-color: $headline-blue;
      color: $white-base;
    }
  }
}
