.news-list {
  &-date {
    display: block;
    color: $meta-blue;
    padding: rem(20px) 0 rem(10px);
    line-height: 1;
    font-size: rem(16px);
  }

  &-header {
    margin-bottom: rem(10px);
    color: $headline-blue!important;
    font-size: rem(24px);

    a {
      color: $headline-blue!important;
    }
  }
}

.news-start {
  position: relative;
  margin-bottom: rem(20px);

  @include respond-to-min($breakpoint-md) {
    margin-bottom: 0;
  }

  &-inner {
    background: $white-base;
    height: 100%;
    position: relative;
  }

  &-text {
    padding: rem(20px) rem(20px)  rem(50px);
    box-sizing: border-box;
  }

  &-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    text-transform: lowercase;

    &:after {
      content: "\e905";
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      display: inline-block;
      padding-left: rem(6px);
      position: relative;
      top: rem(-8px);
      font-size: rem(12px);
    }
  }
}

.news-list-teaser {
  p {
    margin:  0 0;
  }
}

.date-start {
  background: $white-base;
  padding: rem(20px);
  position: relative;
  margin-bottom: rem(20px);
  flex-grow: 1;

  &:last-child {
    margin-bottom: 0;
  }

  .news-list-teaser {
    font-size: rem(14px);
    color: $meta-blue;

    p {
      line-height: 1.2;
    }
  }

  .news-list-header {
    font-size: rem(20px);
  }

  .news-list-teaser {
    font-size: rem(16px);
  }

  &-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999rem;
    overflow: hidden;
  }
}

.page-navigation {
  padding: rem(20px) 0;
  text-align: center;

  p {
    font-size: 80%;
  }
}

.news-list {
  &-link {
    display: block;
    margin-top: rem(8px);
    text-transform: lowercase;

    &:before {
      content: '›';
      display: inline-block;
      font-size: rem(20px);
      padding-right: rem(4px);
      position: relative;
      top: rem(1px);
    }
  }
  &-view {
    padding-bottom: rem(50px);

    .article {
      font-size: rem(14px);
      line-height: 1.4;
      margin-bottom: rem(60px);

      @include respond-to-min($breakpoint-lg) {
        margin-bottom: rem(36px);
        font-size: rem(16px);
      }

      @include respond-to-min($breakpoint-xl) {
        font-size: rem(18px);
      }
    }

    .news-list-date {
      @include respond-to-min($breakpoint-md) {
        padding-top: 0;
      }
    }

    .news-list-teaser {

    }
  }
}

.list-events {
  &-item {
    margin-bottom: rem(20px);
  }
  &-inner {
    padding: rem(20px);
    background: #f2f5f7;
    height: 100%;

    .news-list-date {
      padding-top: rem(20px);
    }
  }
}

.news-frontpage {
  padding-bottom: rem(80px);

  .content-element {
    height: 100%;
    display: flex;
    flex-direction: column;

    .row {
      height: 100%;
    }
  }

  .news-list-view {
    padding-bottom: 0;
    flex-grow: 1;
  }
}

.dates-frontpage {
  padding-top: rem(40px);

  @include respond-to-min($breakpoint-lg) {
    padding-top: 0;
  }

  .news-list-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.news-detail-img {
  margin-bottom: rem(30px);

  @include respond-to-min($breakpoint-md) {
    float: right;
    margin-left: rem(30px);
    max-width: 45%;
  }
}

.news-detail-date {
  font-size: rem(20px);
  font-family: 'Bai Jamjuree',sans-serif;
  font-weight: 600;
  line-height: 1;
  padding: rem(50px) 0 rem(10px);
}

.SingleView .breadcrumb {
  padding-bottom: rem(30px);
}

.SingleView .page-title {
  @include respond-to-min($breakpoint-lg) {
    max-width: 75%;
  }
}

.news-detail-content {

  &-elements {
    .full-width {
      padding: 0;
      margin: rem(20px) 0!important;

      .container {
        padding: 0;
        max-width: none;
        width: 100%;
      }


      @include respond-to-min($breakpoint-lg) {
        max-width: 75%;

        &.ce-textmedia {
          max-width: 100%;
        }
      }
    }
  }

  @include respond-to-min($breakpoint-lg) {
    max-width: 75%;
  }
}


.category-tree {
  @include respond-to-min($breakpoint-md) {
    display: flex;
    flex-wrap: wrap;

    .gridelement-31c & {
      display: block;
    }
  }

  &-item {
    color: $headline-blue;
    width: 100%;
    min-width: 100%;
    display: block;
    position: relative;
    padding: 0.5rem 0 0.5rem 2rem;
    line-height: 1.6rem;
    margin: 0 2rem 0 0;

    @include respond-to-min($breakpoint-md) {
      width: 50%;
      min-width: 50%;
      margin-right: 0;

      .gridelement-31c & {
        width: 100%;
        min-width: 100%;
      }
    }
    @include respond-to-min($breakpoint-xl) {
      width: 33.33333%;
      min-width: 33.333333333%;
      margin-right: 0;
      .gridelement-31c & {
        width: 100%;
        min-width: 100%;
      }
    }

    &:before {
      content: ' ';
      border: 2px solid #000;
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      box-sizing: border-box;
      left: 0;
      background: #fff;
      top: 0.5rem;
    }

    &:hover,
    &.active {
      &:before {
        background: #000;
      }

      &:after {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        content: ' ';
        display: block;
        width: 8px;
        height: 16px;
        left: rem(8px);
        top: rem(9px);
        position: absolute;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(
            45deg
        );
        transform: rotate(
            45deg
        );
      }
    }

    &:hover {
      color: $headline-blue;

      &:not(.active):before {
        background: transparent;
      }
    }
  }
}
