div.tx-indexedsearch-browsebox:last-of-type {
  padding: 1.25rem 0;
}

ul.tx-indexedsearch-browsebox,
.f3-widget-paginator {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: center;
    margin: rem(0) rem(4px);
    width: rem(40px);
    height: rem(40px);
    color: $white-base;
    background: $headline-blue;
    line-height: rem(40px);
    border-radius: rem(4px);

    &:hover {
      opacity: 0.7;
    }

    a {
      color: $white-base;
      display: block;
      width: 100%;
      text-align: center;
      overflow: hidden;

      &:hover {
        text-decoration: none;
      }
    }

    &.current {
      background: $blue-grey;
      color: $headline-blue;
    }

    &.next,&.previous {
      a {
        color: $headline-blue;

        &:before {
          content: "\e905";
          color: $white-base;
          font-family: 'icomoon' !important;
          speak: never;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }

    &.previous {
      a:before {
        content: "\e904";
      }
    }
  }
}
