.ce-redbox {
  font-size: rem(14px);
  display: flex;
  flex-direction: column;
  margin-bottom: rem(32px);


  &__inner {
    color: $white-base;
    background: $headline-red;
    padding: rem(20px) rem(24px) rem(10px);
  }

  &:before {
    content: '';
    border-color: transparent transparent $headline-red transparent;
    border-width: 0 0 rem(30px) rem(30px);
    display: block;
    border-style: solid;
    height: 0;
    width: 42%;
    align-self: flex-end;
    mix-blend-mode: multiply;
  }

  &:after {
    content: '';
    border-color: $headline-red transparent transparent transparent;
    border-width: rem(30px) rem(30px) 0 0;
    display: block;
    border-style: solid;
    height: 0;
    width: 42%;
    mix-blend-mode: multiply;
  }

  &__header {
    color: $white-base!important;
    font-size: rem(24px);
    margin-bottom: rem(16px);
    text-transform: uppercase;
  }

  a {
    color: $white-base;
    text-decoration: underline;

    &:hover {
      opacity: 0.6;
    }
  }

  li {
    a {
      display: block;
      line-height: 1.25;
      margin-bottom: rem(4px);
    }
  }
}
