.reference {
  &__item {
    width: 100%;
    max-width: rem(480px);
    padding: rem(20px);
    box-sizing: border-box;
    background: $grey-lighter-75;
    float: none;
    height: auto;
  }

  &__header {
    margin-bottom: rem(30px);
    display: flex;
  }

  &__title {
    text-transform: none;
    flex-grow: 1;
    font-size: rem(20px);
    margin: rem(6px) 0 0;
  }

  &__company {
    color: $meta-blue;
    display: block;
    font-size: rem(16px);
    font-weight: 400;
    margin-top: rem(5px);
  }

  &__image {
    border-radius: 50%;
    display: block;
    margin-right: rem(20px);
  }

  &__logo {
    display: block;
    margin-left: rem(20px);
    align-self: flex-end;
  }
}

.ce-sonotecreferences_pi1 {
  .slick-track {
    display: flex;
  }
}
