.scrollToTop {
  padding: rem(4px);
  margin: 0;
  width: rem(40px);
  height: rem(40px);
  position: absolute;
  right: rem(10px);
  bottom: rem(20px);

  &:focus {
    box-shadow: none;
  }

  span {
    transform: rotate(90deg);
    display: block;

  }

  &:after {
    display: none;
  }
}
