.tx-indexedsearch-searchbox {
  padding: rem(40px) 0 rem(30px);

  .modal-content & {
    padding: rem(16px) 0;
  }

  .search-input-wrap {
    flex-grow: 1;
    max-width: rem(768px);

    .form-control {
      width: 100%;
    }
  }

  .btn {
    margin-top: 0;
  }
}
