.ce-slider {
  h2,h3,h4 {
    text-align: center;
  }
}

.slick-slide img {
  background: $white-base;
}

.ce-slider-carousel,
.slider-carousel{

  .slick-list {
    .career &,
    .product & {
      @include respond-to-min($breakpoint-md) {
        width: calc(50vw - 8px);
      }

      @include respond-to-min($breakpoint-xxxxl) {
        width: 952px;
      }


    }
  }

  &.job-slider {
    .slick-list {
      width: 100%;
    }
  }

  &__item {
    margin-right: rem(20px);

    &:focus {
      outline: none;
    }
  }

  .slick-dots {
    margin: 0;
    padding: rem(20px) 0 0;
    list-style-type: none;
    display: flex;
    justify-content: center;

    li {
      padding: 0 rem(5px);
    }

    button {
      background: $grey-lighter;
      border: none;
      display: block;
      text-indent: -9999rem;
      overflow: hidden;
      height: rem(10px);
      width: rem(10px);
      border-radius: 50%;
      padding: 0;

      &:focus {
        outline: none;
      }
    }

    .slick-active {
      button {
        background: $headline-red;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    background: transparent;
    color: $headline-blue;
    display: none!important;

    @include respond-to-min($breakpoint-md) {
      display: inline-block!important;
    }

    width: rem(50px);
    border: none;
    font-size: rem(40px);
    opacity: 50%;

    .career &,
    .product & {
      display: none!important;
    }

    &:focus {
      outline: none;
    }
    &.slick-prev {
      left: 0;
      @include respond-to-min($breakpoint-md) {
        transform: translateX(-100%);
      }
    }

    &.slick-next {
      right: 0;
      @include respond-to-min($breakpoint-md) {
        transform: translateX(100%);
      }
    }
  }
}

.frontpage-slider-carousel {
  position: relative;
  width: 100%;
  z-index: 0;
  margin-bottom: rem(40px);
  height: rem(320px);

  @include respond-to-min($breakpoint-xs) {
    height: rem(400px);
  }

  @include respond-to-min($breakpoint-md) {
    margin-bottom: 0;
    height: rem(450px);
  }

  @include respond-to-min($breakpoint-lg) {
    height: rem(500px);
  }

  @include respond-to-min($breakpoint-xl) {
    height: rem(520px);
  }

  .slider-carousel__item {
    margin-right: 0;
    display: none;

    img {
      height: 100%;
      width: auto;
      max-width: none;
    }

    &.active {
      display: block;
    }
  }

  &.slick-initialized {
    .slider-carousel__item {
      display: block;
    }
  }

  .slick-dots button {
    background: $white-base;
  }

  .slick-track {
    height: 100%!important;
  }
  .slick-list {
    padding: 0!important;
    height: 100%!important;
  }

  .slick-dots {
    padding: 0;
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;

    @include respond-to-min($breakpoint-md) {
      bottom: rem(192px);
    }
    @include respond-to-min($breakpoint-lg) {
      bottom: rem(132px);
    }
    @include respond-to-min($breakpoint-xl) {
      bottom: rem(155px);
    }
    @include respond-to-min($breakpoint-xxxl) {
      bottom: rem(185px);
    }
  }

}

.num-slides-1 {
  .slick-dots {
    display: none!important;
  }
}

.job-slider-item {
  padding: rem(40px) rem(20px);
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;

  .h4 {
    margin-bottom: 0;
  }


  &--outer {
    background: $blue-header;
  }

  a {
    color: $headline-blue;
  }
}
