.ce-text {
  @include respond-to-max($breakpoint-md) {
    overflow: auto;
  }
}

.table,
.contenttable {
  width: 100%;
  margin-bottom: rem(50px);
  color: $table-color;
  background-color: $table-bg;

  tr:nth-of-type(odd) {
    background-color: $grey-lighter-25;

  }


  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-top: none;
    border-color: transparent;
  }

  thead th {
    background: $blue-grey-50;
    color: $white-base;
    font-weight: normal;
    border-bottom: rem(10px) solid $white-base;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
}

.contenttable {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }
}
