.gridelements-teaser-box {

}

.ce-teaser {
  margin-bottom: rem(30px);

  a {
    color: $headline-blue;
  }

  &__inner {
    text-align: center;
    background: $grey-lightest;
    border-radius: rem(4px);
    position: relative;
    padding: 0 0 2rem;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
  }

  &__image {

  }

  &__header {
    color: $headline-blue;
    font-size: rem(22px);
    margin: 1em 0;
    padding: 0 1rem;
    text-transform: uppercase;
    hyphens: auto;
  }

  &__subheader {
    display: block;
    font-weight: 400;
    font-size: rem(20px);
    text-transform: none;
  }

  &__text {
    font-size: rem(14px);
    margin: 0;
    padding: 0 1rem;
    line-height: rem(20px);
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999rem;
    overflow: hidden;
  }

}
