.yt-preview-container {
  cursor: pointer;
  max-width: $breakpoint-md;
}
.yt-preview-play-icon {
  content: '';
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.5rem 0 0 -1.5rem;
  border-radius: 50%;
  border: 2px solid $headline-red;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent $headline-red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.625rem 0 0 -0.375rem;
  }
}
.yt-preview-image {
  position: absolute;
  left: 0;
  top: 0;
}
.yt-preview-title {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0.5rem;
  text-shadow: 1px 1px 3px #000;
}
.yt-preview-privacy {
  font-size: 0.6875rem;
  position: absolute;
  bottom: 1rem;
  text-align: center;
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
