<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Type</h1>

<f:flashMessages />

<table  class="tx_sonoteccustomers" >
	<tr>
		<th><f:translate key="tx_sonoteccustomers_domain_model_type.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{types}" as="type">
		<tr>
			<td><f:link.action action="show" arguments="{type : type}"> {type.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{type : type}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{type : type}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Type</f:link.action>
</f:section>
</html>