{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
{namespace products=TYPO3\SonotecRetour\ViewHelpers}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link href="x-https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">

</head>
<body>

<table width="600" cellpadding="0" cellspacing="0" border="0" style="padding-left:1em">
    <formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">
        <f:if condition="{formValue.element.identifier} != privacycheck">
            <f:then>
                <f:if condition="{formValue.isMultiValue}">
                    <f:then>
                        <tr>
                            <th style="text-align: left;width:150px;">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</th>
                            <td>
                                <f:for each="{formValue.processedValue}" as="value">
                                    - {value}<br/>
                                </f:for>
                            </td>
                        </tr>
                    </f:then>
                    <f:else>
                        <tr>
                            <th style="text-align: left;width:150px;">{formvh:translateElementProperty(element: formValue.element, property: 'label')}</th>
                            <f:if condition="{formValue.value}">
                                <f:then>
                                    <td>
                                        <f:switch expression="{formValue.element.identifier}">
                                            <f:case value="products">
                                                <products:product product="{formValue.processedValue}" />
                                                <f:variable name="product" value="{formValue.processedValue}" />
                                            </f:case>
                                            <f:case value="country">
                                                <products:country country="{formValue.processedValue}" />
                                            </f:case>
                                            <f:defaultCase><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></f:defaultCase>
                                        </f:switch>
                                    </td>
                                </f:then>
                            </f:if>
                        </tr>
                    </f:else>
                </f:if>
            </f:then>
        </f:if>
    </formvh:renderAllFormValues>
</table>

<hr/>

<table width="600" cellpadding="0" cellspacing="0" border="0" style="padding-left:1em">
    <tr>
        <th style="text-align: left;width:150px;">
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:address_sonotec" />
        </th>
        <td>
            Nauendorfer Str. 2, 06112 Halle (Saale), Germany
        </td>
    </tr>
    <tr>
        <th style="text-align: left;width:150px;">
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:contactsperson" />
        </th>
        <td>
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:contactsperson.{products:product(product:product,field:'product_group')}" />
        </td>
    </tr>
    <tr>
        <th style="text-align: left;width:150px;">
            HS Code
        </th>
        <td>
            <products:product product="{product}" field="hs_code" />
        </td>
    </tr>
    <tr>
        <th style="text-align: left;width:150px;">
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:eori_no" />
        </th>
        <td>
            DE3391249
        </td>
    </tr>
    <tr>
        <th style="text-align: left;width:150px;">
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:value_of_goods" />
        </th>
        <td>
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:value_of_goods_2" />
        </td>
    </tr>
    <tr>
        <th style="text-align: left;width:150px;">
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:third_country_addition" />
        </th>
        <td>
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:third_country_addition_2" />
        </td>
    </tr>
</table>

</body>
</html>
