<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace products=TYPO3\SonotecRetour\ViewHelpers}

<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue"><f:spaceless><f:if condition="{formValue.element.identifier} != privacycheck && {formValue.element.identifier} != FriendlyCaptcha">
   <f:if condition="{formValue.isMultiValue}">
        <f:then>
            <f:if condition="{formValue.isSection}"><f:then>*** <formvh:translateElementProperty element="{formValue.element}" property="label" /> ***</f:then><f:else><formvh:translateElementProperty element="{formValue.element}" property="label" />: <f:for each="{formValue.processedValue}" as="singleValue">- {singleValue}
            </f:for></f:else></f:if>
        </f:then>
        <f:else>
            <f:if condition="{formValue.isSection}"><f:then>*** <formvh:translateElementProperty element="{formValue.element}" property="label" /> ***</f:then><f:else><formvh:translateElementProperty element="{formValue.element}" property="label" />: <f:if condition="{formValue.processedValue}"><f:then><f:switch expression="{formValue.element.identifier}"><f:case value="products"><f:variable name="product" value="{formValue.processedValue}" /><products:product product="{formValue.processedValue}" /></f:case><f:case value="country"><products:country country="{formValue.processedValue}" /></f:case><f:defaultCase>{formValue.processedValue -> f:format.raw()}</f:defaultCase></f:switch></f:then><f:else>-</f:else></f:if></f:else></f:if>
        </f:else>
    </f:if>
</f:if></f:spaceless>
</formvh:renderAllFormValues>
<f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:address_sonotec" />: Nauendorfer Str. 2, 06112 Halle (Saale), Germany
<f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:contactsperson" />: <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:contactsperson.{products:product(product:product,field:'product_group')}" />
HS Code:  <products:product product="{product}" field="hs_code" />
<f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:eori_no" />: DE3391249
<f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:value_of_goods" />: <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:value_of_goods_2" />
<f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:third_country_addition" />: <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/form.locallang.xlf:third_country_addition_2" />

</html>
