<div class="ce-contact__inner">

    <f:if condition="{contact.image}">
        <div class="ce-contact__image-wrap pt-4">
            <img
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3C/svg%3E"
                data-src="{f:uri.image(image:contact.image, width:'300c', height:'300c')}"
                width="300"
                height="300"
                class="img-fluid img-lazy ce-contact__image"
            />
        </div>
    </f:if>
    <div class="ce-contact__text">
        <f:if condition="{contact.name}">
            <h4 class="ce-contact__name">{contact.name}</h4>
        </f:if>

        <f:if condition="{contact.function}">
            <div class="ce-contact__function">{contact.function}</div>
        </f:if>

        <f:if condition="{contact.phone}">
            <div class="ce-contact__phone"><span class="icon-phone ce-contact__icon"></span>{contact.phone}</div>
        </f:if>


        <f:comment><!--
            <f:if condition="{contact.email} && {isFooter}">
                <f:then>
                    <f:link.page class="ce-contact__email" section="contact-1">
                        <span class="icon-mail ce-contact__icon"></span>E-Mail
                    </f:link.page>
                </f:then>
                <f:else>
                    <f:link.page pageUid="{f:cObject(typoscriptObjectPath:'lib.contactPage')}" title="{contact.email}" class="ce-contact__email" rel="nofollow" additionalParams="{contact: contact.uid, ref: '{f:uri.page(absolute:1,noCacheHash:1)}'}">
                        <span class="icon-mail ce-contact__icon"></span>{contact.email}
                    </f:link.page>
                </f:else>
            </f:if>
--></f:comment>

        <f:link.page pageUid="{settings.applicationForm}" title="{contact.email}" class="ce-contact__email" rel="nofollow" additionalParams="{ref: '{f:uri.page(absolute:1,noCacheHash:1)}'}">
            <span class="icon-mail ce-contact__icon"></span>{contact.email}
        </f:link.page>


        <div class="ce-contact__phone">
            <span class="icon-linkedin ce-contact__icon"></span>
            <a href="{f:cObject(typoscriptObjectPath:'lib.linkedIn')}" target="_blank">LinkedIn</a>
        </div>


        <f:if condition="{contact.address}">
            <p class="ce-contact__address">
                <f:format.nl2br>{contact.address}</f:format.nl2br>
            </p>
        </f:if>
    </div>
</div>
