<div class="gridelement gridelement-2c ce-layout-3 content-element full-width job-contact">
    <div class="container">
        <div class="row ce-layout-0">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="content-element ce-sonoteccontact_pi1">
                    <f:render partial="Job/ContactInner" arguments="{contact:contact}" />
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-6">
                <div class="content-element ce-sonoteccontact_pi1">
                    <div class="ce-contact__inner">
                        <div class="ce-contact__text">
                            <h4 class="ce-contact__name">{company}</h4>
                            <p>
                            <f:if condition="{contact.name}">
                                {contact.name}<br/>
                            </f:if>
                            <f:if condition="{location.address}">
                                {location.address}<br/>
                            </f:if>
                            <f:if condition="{location.zipCode} || {location.city}">
                                {location.zipCode} {location.city}<br/>
                            </f:if>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
