<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<f:security.ifAuthenticated>
		<f:then>
			<f:if condition="{changePasswordReason}">
				<h3>
					<f:translate key="changePasswordReason.{changePasswordReason}" />
				</h3>
			</f:if>

			<f:flashMessages />

			<f:form.validationResults>
				<f:if condition="{validationResults.flattenedErrors}">
                    <div class="alert alert-danger">
					<h4 class="alert-heading"><f:translate key="validationErrorHeader" /> </h4>
					<f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
						<ul>
							<f:for each="{errors}" as="error">
								<li>
									{error}
								</li>
							</f:for>
						</ul>
					</f:for>
                    </div>
				</f:if>
			</f:form.validationResults>

			<f:form action="update" name="changePassword" object="{changePassword}" method="post">
				<f:form.hidden property="changeHmac" />

                <f:if condition="{settings.requireCurrentPassword.enabled} == 1">
                    <div class="form-group mb-5">
                        <label for="currentPassword" class="control-label">
                            <f:translate key="currentPassword" />
                        </label>
                        <f:form.password id="currentPassword" class="form-control" property="currentPassword" />
                    </div>
                </f:if>

                <div class="form-group">
                    <label for="password1" class="control-label">
                        <f:translate key="password" />
                    </label>
                    <f:form.password id="password1" class="form-control" property="password1" />
                </div>
                <div class="form-group">
                    <label for="password2" class="control-label">
                        <f:translate key="repeatPassword" />
                    </label>
                    <f:form.password id="password2" class="form-control" property="password2" />
                </div>
                <div class="form-group">
                    <f:form.button title="Submit" value="1" class="btn btn-red">{f:translate(key: 'update')}</f:form.button>
                </div>

			</f:form>
		</f:then>
		<f:else>
			<f:translate key="notLoggedIn" />
		</f:else>
	</f:security.ifAuthenticated>


</f:section>

</html>
