<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <f:spaceless>
        <f:if condition="{spreadsheet}">

            <table id="sheet{data.uid}" border="0" cellpadding="0" cellspacing="0"
                   class="table{f:if(condition: '{data.table_class}', then: ' table-{data.table_class}')}">
                <f:if condition="{spreadsheet.headData}">
                    <thead>
                    <f:render partial="Rows" section="Main" arguments="{rowsData: spreadsheet.headData,header:data.table_header_position}"/>
                    </thead>
                </f:if>
                <f:if condition="{spreadsheet.bodyData}">
                    <tbody>
                    <f:render partial="Rows" section="Main" arguments="{rowsData: spreadsheet.bodyData,header:data.table_header_position}"/>
                    </tbody>
                </f:if>
            </table>
        </f:if>
    </f:spaceless>
</f:section>
