h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  color: $headline-red;
  font-family: 'Bai Jamjuree',sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 rem(30px);
}

h1 {
  font-size: rem(32px);
  margin:0 0 2rem;

  @include respond-to-max($breakpoint-xs) {
    hyphens: auto;
  }

  @include respond-to-min($breakpoint-md) {
    font-size: rem(40px);
  }

  .frontpage & {
    margin: rem(20px) 0 0 ;
    font-size: rem(30px);
    text-transform: uppercase;
    line-height: 1.125em;
    font-weight: 600;
    padding-bottom: rem(20px);

    @include respond-to-min($breakpoint-xs) {
      font-size: rem(40px);
      margin-top: rem(40px);
    }
    @include respond-to-min($breakpoint-lg) {
      font-size: rem(50px);
      margin-top: rem(50px);
    }
  }

  .product & {
    margin: 0 0 rem(4px);
    font-size: rem(40px);
  }
}

.h2,
h2 {
  color: $headline-red;
  font-weight: 600;
  font-size: rem(32px);

  article > & {
    margin-top: rem(80px);
  }
  +.h3,
  + h3 {
    margin-top: rem(-20px);
  }
  +.h4,
  + h4 {
    margin-top: rem(-20px);
  }

}
.h3,
h3 {
  font-size: rem(26px);
  font-weight: 400;

  .frontpage & {
    font-weight: 600;
  }
}
.h4,
h4 {
  font-size: rem(20px);
  font-weight: 600;
  color: $headline-blue;

  .frontpage & {
    font-weight: 600;
    color: $headline-red;
  }
  .layoutbu  &{
    color: $headline-red;
  }
}

p {
  + h2,
  + h3,
  + h4 {
    margin-top: rem(40px);
  }
}

blockquote {
  margin: 1.5rem 0 1.5rem;
  font-family: 'Bai Jamjuree',sans-serif;
  font-weight: 600;
  font-size: 110%;
  padding-left: 2rem;
  border-left: 2px solid;
  padding-right: 10%;
}

.hero-header-wrap .container > .ce-text,
.layoutbu .hero-header-wrap .ce-text,
.gridelement-31c .ce-text,
article > .ce-text,
.w-lg-75 {
  @include respond-to-min($breakpoint-lg) {
    max-width: 75%;

    &.full-width {
      max-width: none;
    }
  }

  @include respond-to-min($breakpoint-xl) {
    max-width: 62%;

    &.full-width {
      max-width: none;
    }
  }
}

article > .ce-textmedia.ce-layout-0 {
  padding-bottom: rem(60px);
  + .ce-layout-0 {
    padding-top: 0;
  }


  &:first-of-type {
    padding-top: rem(60px);
  }
}

.site-main {
  background: $white-base;
}

.hero-header-wrap {
  background-color: $blue-header;
  padding-bottom: rem(60px);

  .frontpage & {
    padding-bottom: 0;
  }

  &.breadcrumb-wrap {
    padding-bottom: 0;
  }

  .default & {
    background-color: $grey-lighter-25;
  }
}

.hero-header-inner {
  .frontpage & {
    @include respond-to-min($breakpoint-md) {
      margin-top: rem(-177px);
    }
    @include respond-to-min($breakpoint-lg) {
      margin-top: rem(-117px);
    }
    @include respond-to-min($breakpoint-xl) {
      margin-top: rem(-140px);
    }
    @include respond-to-min($breakpoint-xxxl) {
      margin-top: rem(-170px);
    }
  }
}

.hero-header-text {
  max-width: rem(768px);
  margin-bottom: rem(60px);
}


sub, sup {
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
  display:inline-block;
}

.nb {
  white-space: nowrap;
}

figcaption {
  font-size: 85%;
  line-height: 1.2;
  padding: rem(5px) 0;
}
