.site-footer {
  color: $white-base;
  background: $headline-blue;
  font-size: rem(16px);

  &-logo {
    color: $white-base;

    &:hover {
      color: $white-base;
      text-decoration: none;
    }
  }

  &__inner {
    color: $white-base;
    padding-top: rem(80px);
    padding-bottom: rem(60px);
  }

  .h1,.h2,.h3,.h4,.h5,.h6{
    color: $white-base;
  }

  p {
    margin: rem(20px) 0 0;

    a {
      color: $white-base;
    }
  }
}

.footer-logo {
  display: block;
  font-size: rem(32px);
  margin-bottom: rem(40px);
}
.footer-icon {
  display: inline-block;
  margin-right: rem(16px);
  color: $headline-red;
}

.footer-submenu {
  &__col {
    margin-bottom: rem(24px);
  }
  &__main {
    display: block;
    color: $white-base;
    margin: 0 rem(20px) rem(10px) 0;
    line-height: 1.3;
    font-size: rem(18px);
    font-family: 'Bai Jamjuree',sans-serif;
    font-weight: 600;


    @include respond-to-min($breakpoint-lg) {
      min-height: rem(46px);
    }

    &:hover {
      color: $white-base;
      opacity: 0.5;
      text-decoration: none;
    }
  }

  &__item {
    display: block;
    margin: 0 rem(30px) rem(8px) 0;
    color: $white-base;
    line-height: 1.2;

    &:hover {
      color: $white-base;
      opacity: 0.5;
      text-decoration: none;
    }
  }
}

.site-subfooter {
  font-size: rem(14px);

  .inner {
    border-top: 1px solid $white-base;
    padding: 1em 0;
  }

  &__menuItem {
    color: $white-base;
    margin-left: rem(20px);
  }
}

.footer_sm {
  padding-top: rem(40px);
  &-item {
    display: inline-block;
    font-size: rem(24px);
    color: $headline-red;
    text-decoration: none;
    margin: 0 rem(20px) 0 0;

    &:hover {
      color: $body-color-lighter;
      text-decoration: none;
    }
  }
}
