.site-header {

  position: sticky;
  top: 0;
  z-index: 12;
  width: 100%;

  &.SingleView {
    @include respond-to-min($breakpoint-lg) {
      position: relative;
    }
  }



  &.sticky {

    .meta-wrap{
    }
  }
  /*


  .frontpage & {
    @include respond-to-min($breakpoint-xs) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

   */
}

.site-logo {
  height: rem(32px);
  width: auto;

  @include respond-to-min($breakpoint-xl) {
    //height: rem(80px);
    //padding-bottom: rem(40px);
    height: rem(40px);
    padding-bottom: 0;
  }
}

.navbar-toggler-icon {
  border-top: 3px solid;
  border-bottom: 3px solid;
  position: relative;
  height: rem(26px);

  &:after {
    content: '';
    border-top: 3px solid;
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  @include respond-to-min($breakpoint-lg) {
    display: none;
  }
}

.navbar-toggler {
  padding: 0;
}

.header-image {
  position: relative;
  top: 0;
}
.header-with-image {
  background-size: cover;
  background-position: center bottom;
  box-sizing: border-box;
  /*

  padding-bottom: rem(300px);

  @include respond-to-min($breakpoint-xs) {
    padding-bottom: rem(400px);
  }
  @include respond-to-min($breakpoint-md) {
    padding-bottom: rem(450px);
  }
  @include respond-to-min($breakpoint-lg) {
    padding-bottom: rem(520px);
  }
*/
  /*
  @include respond-to-min($breakpoint-lg) {
    padding-bottom: rem(500px);
  }
  @include respond-to-min($breakpoint-xl) {
    padding-bottom: rem(550px);
  }
*/

}


.header-with-image-bu {
  background-size: cover;
  background-position: center bottom;
  box-sizing: border-box;
  padding-bottom: rem(300px);

  @include respond-to-min($breakpoint-xs) {
    padding-bottom: rem(400px);
  }
  @include respond-to-min($breakpoint-md) {
    padding-bottom: rem(450px);
  }
  @include respond-to-min($breakpoint-lg) {
    padding-bottom: rem(520px);
  }
}

.site-header-bu {

}

.header-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white-base;
  font-family: 'Bai Jamjuree',sans-serif;
  font-weight: 400;
  width: 100%;
  text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.65);

  &_title {
    font-size: rem(30px);
    text-transform: uppercase;
    line-height: 1.125em;
    font-weight: 500;
    padding-bottom: rem(10px);

    @include respond-to-min($breakpoint-xs) {
      font-size: rem(40px);
    }
    @include respond-to-min($breakpoint-lg) {
      font-size: rem(50px);
    }
  }

  &_text {
    font-size: rem(16px);
    padding-bottom: rem(10px);
    line-height: 1.125em;


    @include respond-to-min($breakpoint-xs) {
      font-size: rem(20px);
      padding-bottom: rem(20px);
    }

    @include respond-to-min($breakpoint-md) {
      padding-bottom: rem(40px);
    }

    @include respond-to-min($breakpoint-lg) {
      font-size: rem(22px);
      padding-bottom: rem(70px);
    }
  }
}

.header-img {
  position: relative;
  z-index: -1;
  margin-top: -160px;
}

.header-text {
  position: relative;
  height: rem(480px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white-base;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

  @include respond-to-min($breakpoint-xs) {
    height: rem(440px);
  }

  @include respond-to-min($breakpoint-md) {
    height: rem(280px);
  }

  /*
  @include respond-to-min($breakpoint-lg) {
    height: rem(426px);
  }

  @include respond-to-min($breakpoint-xl) {
    height: rem(500px);
  }

  @include respond-to-min($breakpoint-xxxl) {
    height: rem(470px);
  }

   */
}
