
<div class="row">
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_diameter">Tube Dimensions (Outer Diameter)</label>
            <select id="sonotec_sensors_diameter" class="form-control" name="tx_sonotecconfigurator_pi1[diameter]">
                <option value="">{f:if(condition:'{arguments.diameter}', then:'Reset')}</option>
                <f:for each="{formData.diameters}" as="diameter">
                    <option value="{diameter.uid}" {f:if(condition:'{diameter.uid}=={arguments.diameter}', then:'selected="selected"')}>{diameter.title}</option>
                </f:for>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_material">Tube Material Characteristics</label>
            <select id="sonotec_sensors_material" class="form-control" name="tx_sonotecconfigurator_pi1[material]">
                <option value="">{f:if(condition:'{arguments.material}', then:'Reset')}</option>
                <f:for each="{formData.material}" as="label" key="uid">
                    <option value="{uid}" {f:if(condition:'{uid}=={arguments.material}', then:'selected="selected"')}>
                    <f:translate key="LLL:EXT:sonotec_configurator/Resources/Private/Language/locallang_db.xlf:tx_sonotecconfigurator_domain_model_sensor.material.{label}" />
                    </option>
                </f:for>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_flowrate">Flow Rate (Typical Up To)</label>
            <select id="sonotec_sensors_flowrate" class="form-control" name="tx_sonotecconfigurator_pi1[flowrate]">
                <option value="">{f:if(condition:'{arguments.flowrate}', then:'Reset')}</option>
                <f:for each="{formData.flowrate}" as="label" key="uid">
                    <option value="{uid}" {f:if(condition:'{uid}=={arguments.flowrate}', then:'selected="selected"')}>{label} ml/min</option>
                </f:for>
            </select>
        </div>
    </div>

    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_accuracy">Accuracy *</label>
            <select id="sonotec_sensors_accuracy" class="form-control" name="tx_sonotecconfigurator_pi1[accuracy]">
                <option value="">{f:if(condition:'{arguments.accuracy}', then:'Reset')}</option>
                <f:for each="{formData.accuracy}" as="label" key="uid">
                    <option value="{uid}" {f:if(condition:'{uid}=={arguments.accuracy}', then:'selected="selected"')}>{label} %</option>
                </f:for>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_housing">Housing Material</label>
            <select id="sonotec_sensors_housing" class="form-control" name="tx_sonotecconfigurator_pi1[housing]">
                <option value="">{f:if(condition:'{arguments.housing}', then:'Reset')}</option>
                <f:for each="{formData.housing}" as="label" key="uid">
                    <option value="{uid}" {f:if(condition:'{uid}=={arguments.housing}', then:'selected="selected"')}>{label}</option>
                </f:for>
            </select>
        </div>
    </div>

    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_display">Built-In Display</label>
            <select id="sonotec_sensors_display" class="form-control" name="tx_sonotecconfigurator_pi1[display]">
                <option value="">{f:if(condition:'{arguments.display}', then:'Reset')}</option>
                <f:for each="{formData.display}" as="label" key="uid">
                    <option value="{uid}" {f:if(condition:'{uid}=={arguments.display}', then:'selected="selected"')}>
                    <f:translate key="LLL:EXT:sonotec_configurator/Resources/Private/Language/locallang_db.xlf:tx_sonotecconfigurator_domain_model_sensor.display.{label}" />
                    </option>
                </f:for>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
        <div class="form-group pb-3">
            <label class="form-label" for="sonotec_sensors_interface">Interface</label>
            <select id="sonotec_sensors_interface" class="form-control" name="tx_sonotecconfigurator_pi1[interface]">
                <option value="">{f:if(condition:'{arguments.interface}', then:'Reset')}</option>
                <f:for each="{formData.interface}" as="label" key="uid">
                    <option value="{uid}" {f:if(condition:'{uid}=={arguments.interface}', then:'selected="selected"')}>
                    <f:translate key="LLL:EXT:sonotec_configurator/Resources/Private/Language/locallang_db.xlf:tx_sonotecconfigurator_domain_model_sensor.interface.{label}" />
                    </option>
                </f:for>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-3 text-right">
        <button class="btn btn-red" style="margin-top: 2.3rem;" id="sonotec_sensors_reset">Reset</button>
    </div>
</div>

<input type="hidden" value="1" name="tx_sonotecconfigurator_pi1[ajax]" />



<f:if condition="{arguments.ajax}">
    <f:if condition="{sensors->f:count()} == 1">
        <f:then>
            <h2 class="mt-5">Matching Sensor</h2>
        </f:then>
        <f:else>
            <h2 class="mt-5">Matching Sensors</h2>
        </f:else>
    </f:if>

    <table class="table">
        <thead style="font-weight: bold;">
            <tr>
                <th rowspan="2">Sensor Type</th>
                <th rowspan="2">Tube Material Characteristics</th>
                <th rowspan="2">Accessories</th>
                <th colspan="2" style="border-bottom: none;text-align: center;">Accuracy **</th>
            </tr>
            <tr>
                <th style="background: #8d989e;">Low Flow Range</th>
                <th style="background: #8d989e;">High Flow Range</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{sensors}" as="sensor">
                <tr>
                    <td>{sensor.title}</td>
                    <td>{sensor.material_title}</td>
                    <td>{sensor.accessories}</td>
                    <td>{sensor.accuracy_low}</td>
                    <td>{sensor.accuracy_high}</td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:if>
