<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Backend" />

<f:section name="main">
    <p>
        <a class="btn btn-default" href="#" onclick="{URL}+'\u0026edit[tx_sonoteccustomers_domain_model_mail][{settings.email.storagePid}]=new\u0026'; return false; return false;" title="" data-original-title="Datensatz erstellen">
            <core:icon identifier="actions-add" size="small" /> Create new mailing
        </a>
    </p>
     <div class="table-fit">
        <table data-table="tx_sonoteccustomers_domain_model_mail" class="table table-striped table-hover">
            <tbody>

            <f:for each="{mails}" as="mail">

                <f:render partial="Backend/ListItem.html" arguments="{mail:mail, URL:URL}" />

            </f:for>

            </tbody>
        </table>
    </div>








    <f:comment>
    <f:form action="overview" name="mail" enctype="multipart/form-data">

            <f:flashMessages />
        <fieldset class="form-section">
            <div class="form-group ">
                <label class="t3js-formengine-label">
                    <f:translate key="device" />
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <f:form.select property="device" value="{arguments.device}" class="form-control" options="{devices}" optionValueField="uid" optionLabelField="title" style="max-width:480px;" />
                        </div>
                    </div>
                </div>
            </div>

             <div class="form-group ">
                <label class="t3js-formengine-label">
                     <f:translate key="backend.subject" />
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <f:form.textfield property="subject" value="{arguments.subject}" required="required" class="form-control" style="max-width:480px;" />
                        </div>
                    </div>
                </div>
            </div>

             <div class="form-group ">
                <label class="t3js-formengine-label">
                     <f:translate key="backend.message" />
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <f:form.textarea property="message" value="{arguments.message}" additionalAttributes="{required:required}" rows="15" class="form-control" style="max-width:700px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <f:form.submit class="btn btn-default" value="{f:translate(key:'backend.next')}" />
            </div>

        </fieldset>



    </f:form>
    </f:comment>


</f:section>
</html>
