<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Backend" />

<f:section name="main">
        <fieldset class="form-section">
            <div class="form-group ">
                <label class="t3js-formengine-label">
                    Language
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <f:switch expression="{mail.lang}">
                                <f:case value="1">Deutsch</f:case>
                                <f:defaultCase>English</f:defaultCase>
                            </f:switch>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <label class="t3js-formengine-label">
                    Mailing type
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <f:switch expression="{mail.mailingtype}">
                                <f:case value="2">Newsletter</f:case>
                                <f:defaultCase>Software update</f:defaultCase>
                            </f:switch>

                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group ">
                <label class="t3js-formengine-label">
                    <f:translate key="device" />
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            {mail.type.title}
                        </div>
                    </div>
                </div>
            </div>

             <div class="form-group ">
                <label class="t3js-formengine-label">
                     <f:translate key="backend.subject" />
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            {mail.subject}
                        </div>
                    </div>
                </div>
            </div>

             <div class="form-group ">
                <label class="t3js-formengine-label">
                     <f:translate key="backend.message" />
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <f:format.raw>{message}</f:format.raw>
                        </div>
                    </div>
                </div>
            </div>
            <f:if condition="{mail.attachment}">
            <div class="form-group ">
                <label class="t3js-formengine-label">
                     Attachments
                </label>
                <div class="t3js-formengine-field-item">
                    <div class="form-control-wrap">
                        <div class="form-control-clearable">
                            <ul>
                            <f:for each="{mail.attachment}" as="attachment">
                                <li>{settings.email.attachmentPathWWW}{attachment.originalResource.publicUrl}</li>
                            </f:for>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </f:if>

            <div class="form-group ">

                <f:link.action action="index" class="btn btn-default" title="back">
                    back
                </f:link.action>
                <f:link.action action="send" arguments="{mail : mail}" class="btn btn-default" title="Send release notification">
                    Send release notification
                </f:link.action>

            </div>

        </fieldset>


</f:section>
</html>
