{namespace ff=TYPO3\SonotecConfig\ViewHelpers}

<f:if condition="{settings.rootPage}!={data.uid}">

    <nav aria-label="breadcrumb" class="nav-breadcrumb container">
        <ol class="breadcrumb">

            <f:for each="{menuBreadcrumb}" as="breadcrumbItem">

                <f:if condition="{breadcrumbItem.data.doktype} != 4">
                    <li class="breadcrumb-item {f:if(condition:'{breadcrumbItem.current}', then:'active')}">
                        <a href="{breadcrumbItem.link}" title="{breadcrumbItem.title}">
                            <ff:ReplaceCopy content="{breadcrumbItem.title}" />
                        </a>
                    </li>
                </f:if>
            </f:for>

        </ol>
    </nav>

</f:if>
