{namespace ff=TYPO3\SonotecConfig\ViewHelpers}
    <ul class="mm-level mm-level-2">

        <f:for each="{mainMenuSecondLevel}" as="menuItem2">

            <li class="mm-item-l2
                {f:if(condition:'{menuItem2.active}', then:'active')}
                {f:if(condition:'{menuItem2.current}', then:'current')}"
            >

                <a href="{menuItem2.link}"
                    title="{menuItem2.title}"
                    class="mm-link mm-link-l2">

                    <f:if condition="{menuItem2.data.sonotec_icon}">
                        <span class="icon-{menuItem2.data.sonotec_icon}"></span>
                    </f:if>
                    <f:if condition="{menuItem2.nav_title}">
                        <f:then>
                            <ff:ReplaceCopy content="{menuItem2.nav_title}" />
                        </f:then>
                        <f:else>
                            <ff:ReplaceCopy content="{menuItem2.title}" />
                        </f:else>
                    </f:if>

                </a>

                <f:if condition="{menuItem2.children} && {index}==0">
                    <f:render partial="Menu/MenuThirdLevel" arguments="{mainMenuThirdLevel:'{menuItem2.children}',level:3}"/>
                </f:if>
            </li>

        </f:for>

    </ul>


