{namespace ff=TYPO3\SonotecConfig\ViewHelpers}

<ul class="mm-level mm-level-1">

    <f:for each="{mainMenu}" as="menuItem" iteration="i">

        <li class="mm-item mm-item-l1
            {f:if(condition:'{i.index}!=0',then:'sm')}
            {f:if(condition:'{menuItem.active}', then:'active')}
            {f:if(condition:'{menuItem.current}', then:'current')}"
        >

            <f:if condition="{menuItem.data.doktype}==4 && {i.index}==0">
                <f:then>
                    <a href="javascript:void(0);"
                       title="{menuItem.title}"
                       class="mm-link mm-link-l1">
                        <ff:ReplaceCopy content="{menuItem.title}" />
                    </a>
                </f:then>
                <f:else>
                    <a href="{menuItem.link}"
                       title="{menuItem.title}"
                       class="mm-link mm-link-l1">
                        <ff:ReplaceCopy content="{menuItem.title}" />
                    </a>
                </f:else>

            </f:if>


            <f:if condition="{menuItem.children}">
                <div class="mm-popup {f:if(condition:'{i.index}==0',then:'lg')}">
                    <div class="mm-popup-inner">
                        <f:render partial="Menu/MenuSecondLevel" arguments="{mainMenuSecondLevel:'{menuItem.children}', index:'{i.index}'}"/>
                    </div>
                </div>
            </f:if>

        </li>
    </f:for>
</ul>


