{namespace ff=TYPO3\SonotecConfig\ViewHelpers}
<ul class="mm-level mm-level-{level}">
    <f:for each="{mainMenuThirdLevel}" as="menuItem3">
        <li class="mm-item mm-item-l{level}
            {f:if(condition:'{menuItem3.active}', then:'active')}
            {f:if(condition:'{menuItem3.current}', then:'current')}"
        >
            <f:if condition="{menuItem3.data.doktype}==4 && {level}==3">
                <f:then>
                    <f:if condition="{menuItem3.data.sonotec_shortcut}">
                        <f:then>
                            <a href="{menuItem3.link}#c{menuItem3.data.sonotec_shortcut}"
                               title="{menuItem3.title}"
                               class="mm-link mm-link-l{level}">
                                <ff:ReplaceCopy content="{menuItem3.title}" />
                            </a>
                        </f:then>
                        <f:else>
                            <a href="javascript:void(0);"
                               title="{menuItem3.title}"
                               class="mm-link mm-link-l{level}">
                                <ff:ReplaceCopy content="{menuItem3.title}" />
                            </a>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <a href="{menuItem3.link}"
                       title="{menuItem3.title}"
                       class="mm-link mm-link-l{level}">
                        <ff:ReplaceCopy content="{menuItem3.title}" />
                    </a>
                </f:else>

            </f:if>

            <f:if condition="{menuItem3.children}">
                <f:render partial="Menu/MenuThirdLevel" arguments="{mainMenuThirdLevel:'{menuItem3.children}',level:4}"/>
            </f:if>
        </li>
    </f:for>
</ul>
