<div class="menu-meta">
    <f:if condition="{settings.mySonaphone}">
        <f:if condition="{data.uid} == {settings.rootPage} || {f:cObject(typoscriptObjectPath:'lib.showMySonaphone')}">
            <f:link.page pageUid="{settings.mySonaphone}" class="menu-meta_item hide-mobile" title="mySONAPHONE">mySONAPHONE</f:link.page>
        </f:if>
    </f:if>

    <f:cObject typoscriptObjectPath="lib.menuMeta" />

    <f:if condition="{settings.searchPage}">
        <a href="javascript:void(0);" class="menu-meta_item" data-toggle="modal" data-target="#searchModal">
            <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/locallang_frontend.xlf:ll.search" />
        </a>
    </f:if>

    <f:if condition="{menuLanguage -> f:count()} > 1">
        <div class="dropdown menu-language">
        <a href="javascript:void(0);" class="dropdown-toggle" id="nav__language-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <f:for each="{menuLanguage}" as="language">
                <f:if condition="{language.active}">
                    {language.navigationTitle}
                </f:if>
            </f:for>
        </a>
        <div class="dropdown-menu" aria-labelledby="nav__language-dropdown">
            <f:for each="{menuLanguage}" as="language">
                <f:if condition="!{language.active}">
                    <f:if condition="{language.available}">
                        <f:then>
                            <f:variable name="langLink" value="{language.link}" />
                        </f:then>
                        <f:else>
                            <f:variable name="langLink" value="{f:uri.page(pageUid:settings.rootPage,additionalParams:{L:language.languageId})}" />
                        </f:else>
                    </f:if>


                    <a lang="{language.hreflang}"
                       class="dropdown-item"
                       title="{language.navigationTitle}"
                       href="{langLink}"
                       hreflang="{language.hreflang}">
                        {language.navigationTitle}
                    </a>
                </f:if>
            </f:for>
        </div>
    </div>
    </f:if>
</div>
