<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <div class="licenses">
<f:if condition="{licenses}">
    <f:then>
    <ul>
        <f:for each="{licenses}" as="license">
            
            <li>
                <a class="download-file" href="{f:uri.page()}?eID=download&file={license.file.originalResource.properties.file}&u={user.uid}">
                   <f:if condition="{license.file.originalResource.title}">
                       <f:then>{license.file.originalResource.title}</f:then>
                       <f:else>{license.file.originalResource.name}</f:else>
                   </f:if>
                </a>
                <f:if condition="{file.originalResource.description}">
                    <br/>{license.file.originalResource.description}
                </f:if>
            </li>
        </f:for>
    </ul>
        </f:then>
    <f:else>
        keine Lizenzen vorhanden
    </f:else>
</f:if>
    </div>
</f:section>
</html>