<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="tx-indexedsearch-searchbox">
	<f:form action="search" method="post" id="tx_indexedsearch" pageUid="{settings.targetPid}">
		<div class="tx-indexedsearch-hidden-fields">
			<f:form.hidden name="search[_sections]" value="0" />
			<f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
			<f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer" value="0" />
			<f:form.hidden name="search[ext]" value="{searchParams.ext}" />
			<f:form.hidden name="search[searchType]" value="{searchParams.searchType}" />
			<f:form.hidden name="search[defaultOperand]" value="{searchParams.defaultOperand}" />
			<f:form.hidden name="search[mediaType]" value="{searchParams.mediaType}" />
			<f:form.hidden name="search[sortOrder]" value="{searchParams.sortOrder}" />
			<f:form.hidden name="search[group]" value="{searchParams.group}" />
			<f:form.hidden name="search[languageUid]" value="{searchParams.languageUid}" />
			<f:form.hidden name="search[desc]" value="{searchParams.desc}" />
			<f:form.hidden name="search[numberOfResults]" value="{settings.numberOfResults}" />
			<f:form.hidden name="search[extendedSearch]" value="{searchParams.extendedSearch}" />
		</div>
		<div class="form-group search-input-wrap pr-3">
			<f:form.textfield name="search[sword]" value="{sword}" placeholder="{f:translate(key:'form.searchFor')}" id="tx-indexedsearch-searchbox-sword" class="form-control" />
		</div>

		<f:form.button type="submit" name="search[submitButton]" value="1" id="tx-indexedsearch-searchbox-button-submit" class="btn btn-primary">{f:translate(key: 'form.submit')}</f:form.button>

	</f:form>
</div>

</html>
