//All necessary steps for the material-design like animation steps (change background color on hover from left + growing circle animation on active (click/enter)
//Used for buttons and button-like elements like teaserbox-buttons, foldbox-buttons ...

@mixin button-animation ($base-color, $hover-color) {
  background: linear-gradient(to right, $hover-color 0%, $hover-color 50%, $base-color 50%, $base-color 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  overflow: hidden;
  transition: all ease-in-out 0.4s;
}

@mixin button-animation-hover() {
  background-position: 0;
}

@mixin button-animation-active-after() {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

@mixin button-animation-after($color) {
  content: "";
  display: block;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,$color  10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}
