<div id="contact-1" class="gridelement gridelement-31c ce-layout-0 full-width printhide">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7 ">
                <div class="content-element ce-form_formframework ce-layout-0">
                    <f:cObject typoscriptObjectPath="tt_content.formFooter" data="{formVariant:'{data.sonotec_form_variant}'}"/>
                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-1 offset-xl-2 col-xl-3 pt-5 pt-lg-0">
                <f:if condition="{data.sonotec_contact}">
                    <div class="content-element ce-sonoteccontact_pi1 ce-layout-0">
                        <f:cObject typoscriptObjectPath="tt_content.contactFooter" />
                    </div>
                </f:if>
            </div>
        </div>
    </div>
</div>
