    <div class="hero-header hero-header-wrap">

        <f:render partial="Menu/Breadcrumb" arguments="{_all}"/>

        <div class="container">
            <f:if condition="{f:cObject(typoscriptObjectPath:'lib.contentTopRight')} || {f:cObject(typoscriptObjectPath:'lib.contentTopLeft')}">
                <f:then>
                    <div class="row">
                        <div class="col-12  col-lg-6 col-xl-4">
                            <f:render partial="Main/PageTitle" arguments="{data:data}" />
                            <f:cObject typoscriptObjectPath="lib.contentTopLeft" />
                        </div>
                        <div class="col-12  col-lg-6 offset-xl-1 col-xl-7">
                            <f:cObject typoscriptObjectPath="lib.contentTopRight" />
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <f:render partial="Main/PageTitle" arguments="{data:data}" />
                </f:else>
            </f:if>
            <f:cObject typoscriptObjectPath="lib.contentTopCenter" />
        </div>
    </div>
