<div class="hero-header hero-header-wrap">
    <f:cObject typoscriptObjectPath="lib.frontpageSlider" />
    <div class="container hero-header-inner">
        <f:cObject typoscriptObjectPath="lib.contentTopLeft" />
        <f:cObject typoscriptObjectPath="lib.frontpageHeader" />
    </div>
    <div class="ce-layout-3 pt-5">
        <div class="container">
            <div class="row news-frontpage">
                <div class="col-12 col-lg-8">
                    <f:cObject typoscriptObjectPath="lib.frontpageNews" />
                </div>
                <div class="col-12 col-lg-4 dates-frontpage">
                    <f:cObject typoscriptObjectPath="lib.frontpageEvents" />
                </div>
            </div>
        </div>
    </div>
</div>


