<f:render partial="Header/LayoutBU" arguments="{_all}"/>

<div class="hero-header hero-header-wrap">
    <f:render partial="Menu/Breadcrumb" arguments="{_all}"/>
    <div class="container">

        <f:render partial="Main/PageTitle" arguments="{data:data}" />

        <f:cObject typoscriptObjectPath="lib.contentTopLeft" />

    </div>
</div>
