<div class="hero-header hero-header-wrap {f:security.ifAuthenticated(then:'pb-0')}">
    <f:render partial="Menu/Breadcrumb" arguments="{_all}"/>

    <div class="container">
        <f:render partial="Main/PageTitle" arguments="{data:data}" />

        <f:cObject typoscriptObjectPath="lib.contentTopLeft" />

        <f:security.ifAuthenticated>
            <div class="ce-anchor-menu content-element mt-5">
                <ul class="ce-anchor-menu__list">
                    <f:cObject typoscriptObjectPath="lib.menuMySonaphone" />
                    <li class="ce-anchor-menu__item">
                        <f:link.page pageUid="{settings.mySonaphone}"
                                     additionalParams="{logintype:'logout'}"
                                     class="ce-anchor-menu__link">
                            Logout
                        </f:link.page>
                    </li>
                </ul>
            </div>
        </f:security.ifAuthenticated>
    </div>
</div>


