<header class="page-title">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.contentHeader')}">
        <f:then>
            <f:cObject typoscriptObjectPath="lib.contentHeader" />
        </f:then>
        <f:else>
            <h1>{data.title}</h1>
        </f:else>
    </f:if>
</header>
