<div class="hero-header-wrap ">
    <f:render partial="Menu/Breadcrumb" arguments="{_all}"/>
    <div class="container">

        <div class="row product-header">
            <div class="col-12 col-md-6 col-xl-5">
                <f:render partial="Main/PageTitle" arguments="{data:data}" />

                <f:cObject typoscriptObjectPath="lib.contentTopLeft" />
            </div>

            <div class="col-12 col-md-6 offset-xl-1">
                <f:cObject typoscriptObjectPath="lib.contentTopRight" />
            </div>
        </div>
    </div>
</div>

