<div class="hero-header-wrap breadcrumb-wrap sinlgeview">
    <f:render partial="Menu/Breadcrumb" arguments="{_all}"/>

<f:if condition="{f:cObject(typoscriptObjectPath:'lib.show_nav_in_singleview')}">
    <div class="accordion-tabs d-none d-lg-block">
        <ul class="nav nav-tabs container-lg container-xxxl container-fluid">
            <f:cObject typoscriptObjectPath="lib.mainSubMenu" />
        </ul>
    </div>
</f:if>
</div>

<f:cObject typoscriptObjectPath="lib.contentSingleView" />

