<div class="hero-header hero-header-wrap pb-0">

    <f:render partial="Menu/Breadcrumb" arguments="{_all}"/>


    <div class="accordion-tabs d-none d-lg-block">
        <ul class="nav nav-tabs container-lg container-xxxl container-fluid">
            <f:cObject typoscriptObjectPath="lib.mainSubMenu" />
        </ul>
    </div>
</div>

<div class="container pt-5">
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.contentTopRight')} || {f:cObject(typoscriptObjectPath:'lib.contentTopLeft')}">
        <f:then>
            <div class="row pb-5">
                <div class="col-12  col-lg-6 col-xl-4">
                    <f:render partial="Main/PageTitle" arguments="{data:data}" />
                    <f:cObject typoscriptObjectPath="lib.contentTopLeft" />
                </div>
                <div class="col-12  col-lg-6 offset-xl-1 col-xl-7">
                    <f:cObject typoscriptObjectPath="lib.contentTopRight" />
                </div>
            </div>
        </f:then>
        <f:else>
            <f:render partial="Main/PageTitle" arguments="{data:data}" />
        </f:else>
    </f:if>
    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.contentTopCenter')}">
        <div class="pb-5">
            <f:cObject typoscriptObjectPath="lib.contentTopCenter" />
        </div>
    </f:if>
</div>
