
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      xmlns:products="http://typo3.org/ns/TYPO3\SonotecRetour\ViewHelpers"
      data-namespace-typo3-fluid="true">

<formvh:renderRenderable renderable="{element}">

    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">

        <div class="form-group form-country">
            <label class="{element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
                {formvh:translateElementProperty(element: element, property: 'label')}
                <f:if condition="{element.required}"><f:render partial="Field/Required" /></f:if>
            </label>

            <f:form.select
                property="{element.identifier}"
                id="{element.uniqueIdentifier}"
                class="{element.properties.elementClassAttribute} form-country-select form-control"
                value="akzeptiert"
                errorClass="{element.properties.elementErrorClassAttribute}"
                additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            >
                <products:ProductsSelect />
            </f:form.select>
        </div>
    </f:render>
</formvh:renderRenderable>
</html>
