<f:comment><!--
        adding data-cookieman-showonce=1 only if we are not currently on pages where direct read access is mandatory
        -->
</f:comment>
<f:variable name="isShowOnce"
    value="{f:if(
        condition:'{data.uid} != {settings.links.dataProtectionDeclarationPid}
            && {data.uid} != {settings.links.imprintPid}',
        then: 1,
        else: 0
    )}"
/>
<f:variable name="dataProtectionDeclarationLink">
    <a href="{f:uri.page(
        pageUid: settings.links.dataProtectionDeclarationPid,
        section: settings.links.dataProtectionDeclarationAnchor
    )}"
    >{f:translate(key: 'dataProtectionDeclaration')}</a>
</f:variable>

<f:variable name="imprintLink">
    <a href="{f:uri.page(
        pageUid: settings.links.imprintPid,
        section: settings.links.imprintAnchor
    )}"
    >{f:translate(key: 'imprint')}</a>
</f:variable>


<div id="cookieman-modal"
     data-cookieman-showonce="{isShowOnce}"
     data-cookieman-settings="{f:format.json(value: '{groups: settings.groups, trackingObjects: settings.trackingObjects}')}"
     data-backdrop="static"
     data-keyboard="false"
     class="modal cookieman-modal"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
>
    <f:render section="Content"/>
</div>
