body {
  font-family: 'Inter',sans-serif;
  font-weight: 400;
  color: $body-color;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto auto;
  font-size: rem(16px);
  line-height: rem(28px);

  @include respond-to-min($breakpoint-lg) {
    font-size: rem(18px);
    line-height: rem(30px);
  }

}

.site {
  background-color: $blue-header;
  max-width: rem(1920px);
  margin: 0 auto;
  position: relative;
  z-index: 0;

  .default & {
    background-color: $grey-lighter-25;
  }
}

.img-fluid {
  width: 100%;
}


.container {
  @include respond-to-min($breakpoint-xxl) {

  }
  @include respond-to-min($breakpoint-xxxl) {
    max-width: 1386px;
 }

  &-xxxl {
    @include respond-to-min($breakpoint-xxxl) {
      max-width: 1386px;
    }
  }
}

a {
  color: $headline-red;

  &:hover {
    color: $headline-red;
  }
}

.ce-layout-1 {
  background: $blue-header;
}
.ce-layout-2 {
  background: $headline-blue;
  color: $white-base;

  h2,h3,h4,h5 {
    color: $white-base!important;
  }
}
.ce-layout-3 {
  background: $grey-5;
}
.ce-layout-4 {
  background: $white;
}

.full-width {
  padding-top: rem(80px);
  padding-bottom: rem(80px);

  .ce-form_formframework & {
    padding-top: 0;
    padding-bottom: 0;

    .container {
      padding: 0;
    }
  }

  &.ce-layout-0 {
    + .ce-layout-0 {
      padding-top: 0;
    }
  }
}


.gridelement,
.content-element {
  + .gridelement,
  + .content-element {
    margin-top: rem(80px);

    &.full-width {
      margin-top: 0;
    }
  }

  + .ce-smaponejobposting_pi1 {
    margin-top: rem(-100px);
  }
}

.ce-shortcut {
  .full-width:first-child {
    padding-top: 0;
  }
  .full-width:last-child {
    padding-bottom: 0;
  }
}

.page-title {
  margin-bottom: rem(40px);

  h1 {
    margin-bottom: 0;
  }
  h2 {
    color: $headline-blue;
    font-size: rem(26px);
    font-weight: 400;
    margin: rem(6px) 0 0;

    .frontpage & {
      text-align: center;
    }
  }
}

.ce-textmedia.has-layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  .figure {
    margin-bottom: 0;
  }
}

.layout-container {
  padding: rem(20px) rem(20px) rem(55px);
  flex-grow: 1;
  position: relative;

  a {
    position: absolute;
    bottom: rem(30px);
    right: rem(20px);
    max-width: calc(100% - 40px);
  }
}
