@media print {
  p,h2 {
    display: block;
  }

  .download-pdf,
  .scrollToTop,
  .site-footer__inner .col-md-9,
  .site-subfooter .text-right,
  .site-header,
  .navbar-toggler,
  .breadcrumb-wrap,
  .menu-meta {
    display: none;
  }

  .hero-header-wrap {
    padding-top: rem(30px);
    padding-bottom: rem(0)!important;
    margin-bottom: rem(20px)!important;
  }


  .SingleView article > .gridelement,
  .site-footer__inner {
    padding-top: rem(30px);
    padding-bottom: rem(30px);
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: rem(16px);
  }
  p + h2, p + h3, p + h4 {
    //margin-top: rem(16px);
  }

  .SingleView {
    font-size: 16px;
    line-height: 1.6em;
    h1 {
      font-size: 26pt;
    }
    .page-title {
      margin-bottom: 16px;
    }
  }
}
