<f:layout name="Default" />

<f:section name="main">

    <main class="site-main {layout}">

        <!--TYPO3SEARCH_begin-->
        <article>
            <f:render partial="Main/{layout}" arguments="{_all}"/>

            <f:cObject typoscriptObjectPath="lib.contentMain" />

            <f:if condition="{data.sonotec_showform}">
                <f:render partial="Main/ContactBlock" arguments="{_all}"/>
            </f:if>
            <div class="container position-relative">
                <button class="btn btn-blue scrollToTop" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
                    <span class="icon-arrow-left"></span>
                </button>
            </div>
        </article>
        <!--TYPO3SEARCH_end-->
    </main>
</f:section>
