<f:render section="{language}" arguments="{name:name, hash:hash}"/>

<f:section name="de">
<p>Sehr geehrte(r) {name},</p>
<p>bitte klicken Sie hier, um Ihre Anmeldung zu bestätigen<br/>
<f:link.page absolute="1" pageUid="422" noCacheHash="1" additionalParams="{newsletterConfirm:'{hash}'}">
    <f:uri.page absolute="1" pageUid="422" noCacheHash="1" additionalParams="{newsletterConfirm:'{hash}'}" />
</f:link.page>
</p>
<p>Herzlichen Dank für Ihre Anmeldung!</p>
<p>Sie erhalten diese E-Mail, weil Sie sich für den Newsletter auf 
    unserer Website <f:link.external uri="https://www.sonotec.de/produkte/vorbeugende-instandhaltung/support/my-sonaphone/">https://www.sonotec.de/produkte/vorbeugende-instandhaltung/support/my-sonaphone/</f:link.external>
angemeldet haben.</p>
<p>Wir freuen uns Sie zukünftig über SONAPHONE Softwareupdates, 
SONOTEC und zur vorausschauenden Instandhaltung informieren zu dürfen.</p>
<p>Informationen zu den Inhalten, der Protokollierung Ihrer Anmeldung, 
statistischen Auswertung sowie Ihre Abbestellmöglichkeiten, erhalten Sie 
in der Datenschutzerklärung: 
<f:link.page pageUid="398">https://www.sonotec.de/service-und-kontakt/datenschutz/</f:link.page>
</p>
<p>Für Fragen zu diesem Newsletter wenden Sie sich bitte an:<br/>
    <a href="mailto:marketing@sonotec.de">marketing@sonotec.de</a></p>
<p>Falls Sie diese E-Mail versehentlich erhalten haben, löschen Sie sie einfach. 
    Sie werden nicht in unseren Verteiler eingetragen, wenn Sie nicht auf 
    den Bestätigungs-Link klicken. </p>
<p>Herzliche Grüße,</p>
<p>Ihr SONOTEC Team</p>
<hr/>
<p>SONOTEC GmbH <br/>
Nauendorfer Straße 2 <br/>
06112 Halle (Saale) <br/>
Tel.: +49 (0)345/13317-0<br/>
Fax: +49 (0)345/13317-99<br/>
E-Mail: <a href="mailto:sonotec@sonotec.de">sonotec@sonotec.de</a><br/>
Web: <a href="www.sonotec.de">www.sonotec.de</a></p>
<p>
Geschaeftsfuehrer: Hans-Joachim Münch, Dr. Santer zur Horst-Meyer, Manuela Münch, Michael Münch<br/>
Sitz der Gesellschaft: Halle (Saale)<br/>
Registergericht: Amtsgericht Stendal<br/>
Handelsregisternummer: HRB-206251<br/>
USt-IdNr. DE 156 4000 93
</p>
<p>Weitere geschäftliche Angaben im Impressum: 
<f:link.page pageUid="42">https://www.sonotec.de/service-und-kontakt/impressum/</f:link.page><br/>
Datenschutzinformationen: 
<f:link.page pageUid="398">https://www.sonotec.de/service-und-kontakt/datenschutz/</f:link.page><br/>
Sie können den Newsletter jederzeit abbestellen bzw. der Verarbeitung Ihrer 
personenbezogenen Daten jederzeit widersprechen, ohne das hierfür Übermittlungskosten nach den Basistarifen entstehen. 
Klicken Sie auf den entsprechenden Link im Newsletter oder senden 
Sie uns eine Nachricht an <a href="mailto:marketing@sonotec.de">marketing@sonotec.de</a>.</p>
</f:section>



<f:section name="en">
<p>Dear {name},</p>
<p>please click here to confirm your registration <br/>
<f:link.page absolute="1" pageUid="422" noCacheHash="1" additionalParams="{newsletterConfirm:'{hash}'}">
    <f:uri.page absolute="1" pageUid="422" noCacheHash="1" additionalParams="{newsletterConfirm:'{hash}'}" />
</f:link.page>
</p>
<p>Thank you for your registration!</p>
<p>You receive this e-mail because you subscribed to the newsletter on our 
    website <f:link.external uri="https://www.sonotec.eu/products/preventive-maintenance/support/my-sonaphone/">https://www.sonotec.eu/products/preventive-maintenance/support/my-sonaphone/</f:link.external>.</p>
<p>We are delighted to inform you about the latest software updates, SONOTEC 
    and our innovative solutions for predictive maintenance.</p>
<p>Information on the content, the logging of your registration, statistical 
    evaluation and your cancellation options can be found in the privacy policy: 
<f:link.page pageUid="398">https://www.sonotec.eu/service-and-contact/privacy/</f:link.page>
</p>
<p>For questions about this newsletter, please contact:<br/>
    <a href="mailto:marketing@sonotec.de">marketing@sonotec.de</a></p>
<p>If you have received this e-mail by mistake, just delete it. You will not be 
    listed in our mailing list if you do not click on the confirmation link. </p>
<p>Best regards,</p>
<p>Your SONOTEC team</p>
<hr/>

<p>SONOTEC GmbH<br/>
Nauendorfer Straße 2 <br/>
06112 Halle (Saale) <br/>
Germany<br/>
Phone: +49 (0)345 / 133 17-0<br/>
Fax: +49 (0)345 / 133 17-99<br/>
Email: <a href="mailto:sonotec@sonotec.de">sonotec@sonotec.de</a><br/>
Web: <a href="www.sonotec.de">www.sonotec.de</a></p>
<p>
Managing partners: Hans-Joachim Münch, Dr. Santer zur Horst-Meyer, Manuela Münch, Michael Münch<br/>
Commercial Register of the Stendal District Court<br/>
under company registration no.: HRB-206251<br/>
VAT ID no.: DE 156 400093
</p>
<p>Further business information in the imprint: 
<f:link.page pageUid="42">https://www.sonotec.eu/service-and-contact/disclaimer/</f:link.page><br/>
Data protection: 
<f:link.page pageUid="398">https://www.sonotec.eu/service-and-contact/privacy/</f:link.page><br/>

You may unsubscribe to the newsletter any time by clicking on the respective link 
in the newsletter or by sending us a respective message to 
<a href="mailto:marketing@sonotec.de">marketing@sonotec.de</a></p>
</f:section>