<f:layout name="Default" />

<f:section name="main">

    <p>
        {f:translate(key:'action.deleteUser.dear')} {user.first_name} {user.last_name},<br/>

        {f:translate(key:'action.deleteUser')} <strong>({user.email})</strong>?
    </p>

    <f:form action="delete">
        <f:form.hidden value="1" name="delete" />
        <f:link.page pageUid="{settings.editUid}" class="btn btn-blue">{f:translate(key:'action.deleteUser.noAbort')}</f:link.page>
        <f:form.button class="btn btn-red">{f:translate(key:'action.deleteUser.yesDelete')}</f:form.button>
    </f:form>
</f:section>
