<f:layout name="Default" />

<f:section name="main">

    <div class="d-md-flex justify-content-between">
        <div class="flex-grow-1 mb-3">
            <strong>{f:translate(key:'profile.username')}</strong><br/>
            {user.email}
        </div>
        <div class="flex-grow-1 mb-3">
            <strong>{f:translate(key:'profile.name')}</strong><br/>
            {user.first_name} {user.last_name}
        </div>
        <f:if condition="{user.company}">
            <div class="flex-grow-1 mb-3">
                <strong>{f:translate(key:'profile.company')}</strong><br/>
                {user.company}
            </div>
        </f:if>

        <f:if condition="{user.static_info_country}">
            <div class="flex-grow-1 mb-3">
                <strong>{f:translate(key:'profile.country')}</strong><br/>
                {user.static_info_country}
            </div>
        </f:if>
    </div>


</f:section>
