{namespace ff=TYPO3\SonotecConfig\ViewHelpers}

<div class="sonotec-map-all-wrapper">

    <div class="sonotec-map-filter">

        <select class="form-select" id="sonotec-map-countries">
            <option value="0">{f:translate(key:'choose.region')}</option>
            <f:for each="{countries}" as="country" key="key">
                <option value="{key}">{country}</option>
            </f:for>
        </select>

        <f:for each="{categories}" as="category">

            <input type="checkbox" checked="checked" class="sonotec-map-category" id="category_{category.uid}" value="{category.uid}" >

            <label class="sonotec-map-checkbox" for="category_{category.uid}">
                {category.title}
            </label>
        </f:for>
    </div>

    <div class="sonotec-map-wrapper">
        <div id="sonotec-map"></div>

        <script>

            function isDesktop(){
                return (window.innerWidth > 750);
            }
            /*initial parameters for map*/
            var isMobile = {
                Android: function() {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function() {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                Opera: function() {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function() {
                    return navigator.userAgent.match(/IEMobile/i);
                },
                iOS: function() {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                any: function() {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.Opera() || isMobile.Windows() || isMobile.iOS());
                }
            };
            if(!isDesktop() && !isMobile.iOS()){
                L_DISABLE_3D = true;
            }
        </script>
        <script>
            var addresses = new Array();
            <f:for each="{addresses}" as="address" iteration="i">
                addresses[{i.index}]= {address.mapJs->f:format.raw()};
            </f:for>
        </script>

        <ol id="sonotec-map-addresses">
            <li class="close">&times;</li>
            <f:for each="{addresses}" as="address">
                <li class="address address-{address.uid} country-{address.country.uid}">

                    <span class="categories">
                    <f:for each="{address.category}" as="category" iteration="j">
                        &#10003; {category.title}{f:if(condition:'{j.isLast}',then:'',else:'<br/>')}
                    </f:for>
                    </span>

                    <h3>{address.title}</h3>
                    <p><f:format.nl2br>{address.street}</f:format.nl2br></p>

                    <f:if condition="{address.phone}"><p class="tel contact-data"><span class="icon-phone ce-contact__icon"></span> {address.phone}</p></f:if>
                    <f:comment>
                    <f:if condition="{address.mobile}"><p class="fax contact-data"><span class="icon-phone ce-contact__icon"></span>{address.mobile}</p></f:if>
                    </f:comment>

                    <f:if condition="{address.fax}"><p class="fax contact-data">{address.fax}</p></f:if>
                    <f:if condition="{address.email}"><p class="contact-data">
                        <f:link.page
                            class="mail"
                            rel="nofollow"
                            title="{address.email}"
                            section="contact-1"
                            additionalParams="{contactMap: address.uid, ref: '{f:uri.page(absolute:1,noCacheHash:1)}'}">
                            <span class="icon-mail ce-contact__icon"></span> <ff:strReplace subject="{address.email}" search="{0:'@',1:'.'}" replace="{0:'<span>&commat;</span>',1:'<span>&period;</span>'}" />
                        </f:link.page>
                    </p></f:if>
                    <f:if condition="{address.url}">
                        <p class="contact-data">
                            <f:link.external class="web"
                                             uri="{address.url}"
                                             target="_blank"><span class="icon-worldwide ce-contact__icon"></span> {address.url}</f:link.external>
                        </p>
                    </f:if>
                </li>
            </f:for>
        </ol>
        <div id="sonotec-map-addresses-singleview">
            <div class="close">&times;</div>
            <div class="content"></div>
        </div>
    </div>
</div>
