<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    
    {namespace smapOne=Smapone\SmaponeJobposting\ViewHelpers}
    
    <f:layout name="{settings.feed}" />
    
    <f:section name="content">
        
            <f:for each="{jobpostings}" as="jobposting">
                <f:render partial="{settings.feed}/Posting.html" arguments="{jobposting:jobposting}" />
            </f:for>
        
    </f:section>
    
</html>