<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="General" />
<!--
	=====================
		Templates/Category/List.html
-->

<f:section name="content">
	<f:if condition="{categories}">
		<f:then>
            <div class="container mt-3" id="c{data.uid}">
			    <f:render section="categoryTree" arguments="{categories:categories,overwriteDemand:overwriteDemand}" />
            </div>
		</f:then>
		<f:else>
			<f:translate key="list_nocategoriesfound" />
		</f:else>
	</f:if>
</f:section>

<f:section name="categoryTree">

    <div class="category-tree">
        <f:for each="{categories}" as="category">
            <f:variable name="currentUid" value="{f:if(condition:'{category.item.sysLanguageUid}>0',then:'{category.item.l10nParent}',else:'{category.item.uid}')}" />

            <f:link.page title="{category.item.title}"
                         class="category-tree-item
                                {f:if(condition:'{currentUid} == {overwriteDemand.categories}',then:'active')}
                                {f:if(condition:'!{overwriteDemand.categories}',then:'active')}"
                         pageUid="{settings.listPid}"
                         additionalParams="{tx_news_pi1:{overwriteDemand:{categories: currentUid}}}">{category.item.title}</f:link.page>
        </f:for>


    </div>
</f:section>
</html>
