<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">

        <f:for each="{gallery.rows}" as="row">

            <f:for each="{row.columns}" as="column">
                <f:if condition="{column.media}">

                    <f:switch expression="{column.media.type}">
                        <f:case value="3">
                            <f:render section="audioType" arguments="{_all}"/>
                        </f:case>
                        <f:case value="4">
                            <f:render section="videoType" arguments="{_all}"/>
                        </f:case>
                        <f:defaultCase>
                            <figure class="figure">
                                <f:render section="imageType" arguments="{_all}"/>

                                <f:if condition="{column.media.description}">
                                    <figcaption class="figure-caption">{column.media.description}</figcaption>
                                </f:if>
                            </figure>
                        </f:defaultCase>
                    </f:switch>

                </f:if>
            </f:for>
        </f:for>

</f:if>

<f:section name="imageType">

    <f:if condition="{column.media.link}">
        <f:then>
            <f:link.typolink parameter="{column.media.link}">
                <f:render section="media" arguments="{_all}"/>
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <ce:link.clickEnlarge image="{column.media}" configuration="{settings.media.popup}">
                        <f:render section="media" arguments="{_all}"/>
                    </ce:link.clickEnlarge>
                </f:then>
                <f:else>
                    <f:render section="media" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>

<f:section name="audioType">
    <f:render section="media" arguments="{_all}"/>
</f:section>

<f:section name="videoType">
    <div class="embed-responsive embed-responsive-16by9 yt-preview-container" data-video="{column.media.contents}">

        <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 288'%3E%3C/svg%3E"
            data-src="{f:uri.image(image:column.media, width:'768c', height:'432c')}"
            width="768"
            height="432"
            alt="{column.media.alternative}"
            title="{column.media.title}"
            class="yt-preview-image img-fluid img-lazy"
        />
        <span class="yt-preview-play-icon"></span>
    </div>
    <f:if condition="{column.media.description}">
        <div class="video-caption">{column.media.description}</div>
    </f:if>
</f:section>

<f:section name="media">

    <img
        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 768 432'%3E%3C/svg%3E"
        data-src="{f:uri.image(image:column.media, width:'{f:if(condition:data.imagewidth,then:data.imagewidth,else:1200)}m', height:'{f:if(condition:data.imageheight,then:data.imageheight,else:10000)}m')}"
        width="{f:if(condition:data.imagewidth,then:data.imagewidth,else:column.media.properties.width)}"
        height="{f:if(condition:data.imageheight,then:data.imageheight,else:column.media.properties.height)}"
        alt="{column.media.alternative}"
        title="{column.media.title}"
        class="img-fluid img-lazy"
    />
</f:section>
</html>
