<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<f:section name="content">

    <n:format.nothing>
        <n:excludeDisplayedNews newsItem="{newsItem}" />
        <f:if condition="{settings.detail.showMetaTags}">
            <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
        </f:if>
        <f:if condition="{newsItem.alternativeTitle}">
            <f:then>
                <n:titleTag>
                    <f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
                </n:titleTag>
            </f:then>
            <f:else>
                <n:titleTag>
                    <f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
                </n:titleTag>
            </f:else>
        </f:if>
    </n:format.nothing>

	<f:if condition="{newsItem}">

        <div class="container">
            <header class="page-title">
                <div class="news-detail-date">
                    <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                        <f:format.date format="%d.%m.%Y">{newsItem.datetime}</f:format.date>
                    </time>
                </div>
                <f:if condition="{newsItem.newsAuthor}">

                    <span class="d-block">
                        <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:fromathor" />
                        <strong>
                            <f:link.action action="listAuthor" controller="News" pageUid="{settings.pageUids.list.author}" arguments="{newsAuthor:newsItem.newsAuthor}">{newsItem.newsAuthor.name}</f:link.action>
                        </strong>
                    </span>
                </f:if>
                <h1 itemprop="headline">{newsItem.title}</h1>
            </header>

            <f:if condition="{newsItem.falMedia.0}">
                <figure class="news-detail-img">
                    <f:image image="{newsItem.falMedia.0}"
                             class="img-fluid"
                             width="768m"
                    />
                    <f:if condition="{newsItem.falMedia.0.description}">
                        <figcaption>{newsItem.falMedia.0.description}</figcaption>
                    </f:if>
                </figure>
            </f:if>

                <f:if condition="{newsItem.bodytext}">
                    <div class="news-detail-content">
                        <f:format.html>{newsItem.bodytext}</f:format.html>
                    </div>
                </f:if>


            <f:if condition="{newsItem.contentElements}">
                <div class="news-detail-content-elements">
                <f:if condition="{newsItem.sysLanguageUid}==0">
                    <f:then>
                        <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
                    </f:then>
                    <f:else>
                        <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.TranslatedContentElementIdList}</f:cObject>
                    </f:else>
                </f:if>
                </div>
            </f:if>

        </div>




        <div class="news-backlink-wrap container pt-5 pb-5">

            <f:link.page pageUid="{settings.backPid}">
                <span class="icon-arrow-left"></span>  <f:translate key="back-link" />
            </f:link.page>
        </div>


	</f:if>
</f:section>
</html>
