<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<!--TYPO3SEARCH_end-->
    <div class="news-list-view" id="news-container-{contentObjectData.uid}">
        <f:if condition="{news}">
            <f:then>
                <f:switch expression="{settings.templateLayout}">
                    <f:case value="1">
                        <f:render partial="List/StartNews" arguments="{_all}" />
                    </f:case>
                    <f:case value="2">
                        <f:render partial="List/StartEvents" arguments="{_all}" />
                    </f:case>
                    <f:case value="3">
                        <f:render partial="List/ListEvents" arguments="{_all}" />
                    </f:case>
                    <f:defaultCase>
                        <f:render partial="List/Default" arguments="{_all}" />
                    </f:defaultCase>
                </f:switch>
            </f:then>
            <f:else>
                <div class="no-news-found">
                    <f:translate key="list_nonewsfound" />
                </div>
            </f:else>
        </f:if>
    </div>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
