<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />

<f:section name="content">

    <!--TYPO3SEARCH_end-->
    <div class="container  pt-5 pb-5">
        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.tx_news_authors_show_listing')}==1">
            <f:then>
                <header class="page-title">
                    <h1>{f:translate(key: 'LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:ourAuthors')}</h1>
                </header>
            </f:then>
            <f:else>
                <header class="page-title">
                    <h1>{f:translate(key: 'LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:ourAuthor')}: {news.0.newsAuthor.name}</h1>
                </header>
            </f:else>
        </f:if>


        <div class="gridelement gridelement-31c ce-layout-0 full-width pt-0 pb-0">

            <div class="row">
                <div class="col-12 col-lg-8">
                    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.tx_news_authors_show_listing')}==1">
                        <f:then>
                            <ul>
                                {f:cObject(typoscriptObjectPath:'lib.tx_news_authors_listing')}
                            </ul>
                        </f:then>
                        <f:else>
                            <f:if condition="{news}">
                                <f:then>
                                    <f:if condition="{news.0.newsAuthor}">
                                        <f:render partial="Detail/Author" arguments="{newsAuthor: news.0.newsAuthor, settings:settings}"/>
                                    </f:if>

                                    <f:render partial="List/Default" arguments="{news: news,settings:settings}" />
                                </f:then>
                                <f:else>
                                    <div class="no-news-found">
                                        <f:translate key="list_nonewsfound" />
                                    </div>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
                <div class="col-12 col-lg-4">
                    <f:cObject typoscriptObjectPath="lib.contentTopCenter" />
                </div>

            </div>
        </div>
    </div>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
