<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/SearchForm.html
-->

<f:section name="content">
	<div class="news-search-form">
		<f:form object="{search}" name="search" pageUid="{settings.listPid}">
			<fieldset>
				<div class="form-group">
					<f:form.textfield id="news-subject" property="subject" class="form-control"
                                      placeholder="{f:translate(key:'LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:ll.search')}"/>
				</div>

				<f:form.button value="{f:translate(key:'LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:ll.search')}" class="btn btn-red">
                    {f:translate(key:'LLL:EXT:sonotec_config/Resources/Private/Language/de.locallang_frontend.xlf:ll.search')}</f:form.button>
			</fieldset>
		</f:form>
	</div>
</f:section>
</html>
