<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
	<f:if condition="{bullets}">

		<f:switch expression="{data.bullets_type}">
			<f:case value="0">

				<div class="ce-bullets row">
					<f:for each="{bullets}" as="bullet">
						<div class="col-12 col-md-6 col-lg-4">
                            <div class="ce-bullets__item">{bullet}</div>
                        </div>
					</f:for>
				</div>

			</f:case>
			<f:case value="1">

				<ol class="ce-bullets">
					<f:for each="{bullets}" as="bullet">
						<li>{bullet}</li>
					</f:for>
				</ol>

			</f:case>
			<f:case value="2">

				<dl class="ce-bullets">
					<f:for each="{bullets}" as="definitionListItem">
						<f:for each="{definitionListItem}" as="termDescription" iteration="termDescriptionIterator">
							<f:if condition="{termDescriptionIterator.isFirst}">
								<f:then>
									<dt>{termDescription}</dt>
								</f:then>
								<f:else>
									<dd>{termDescription}</dd>
								</f:else>
							</f:if>
						</f:for>
					</f:for>
				</dl>

			</f:case>
		</f:switch>

	</f:if>
</f:section>
</html>
