<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.header} && {data.header_layout}<100">

    <f:render partial="Header/All" arguments="{_all}" />

</f:if>
</html>
