<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="ce-image" id="c{data.uid}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
    <f:render partial="Media/Gallery" arguments="{_all}" />
</div>
</html>
