<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="FullWidthContainer" />

<f:section name="content">

    <f:if condition="{data.bodytext}">
        <f:then>
            <f:if condition="{gallery.position.vertical}=='intext'">
                <f:then>
                    <f:render section="content-horizontal" arguments="{_all}" />
                </f:then>
                <f:else>
                    <f:render section="content-vertical" arguments="{_all}" />
                </f:else>
            </f:if>

        </f:then>
        <f:else>
            <f:render section="video" arguments="{_all}" />
        </f:else>

    </f:if>
</f:section>

<f:section name="video">
    <f:render partial="Header/All" arguments="{_all}"/>
    <f:render partial="MediaGallery" arguments="{_all}"/>
</f:section>


<f:section name="content-horizontal">
    <div class="row">
        <div class="col-12 col-lg-6 {f:if(condition:'{gallery.position.horizontal}==left',then:'order-lg-0',else:'order-lg-3')}">
            <f:render partial="MediaGallery" arguments="{_all}"/>
        </div>
        <div class="col-12 col-lg-6 order-lg-1">
            <f:render partial="Header/All" arguments="{_all}"/>
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </div>
</f:section>

<f:section name="content-vertical">
    <f:render partial="Header/All" arguments="{_all}"/>

    <f:if condition="{gallery.position.vertical}=='below'">
        <f:if condition="{data.layout}>0">
            <div class="ce-layout-{data.layout} layout-container">
        </f:if>
        <f:format.html>{data.bodytext}</f:format.html>

        <f:if condition="{data.layout}>0">
            </div>
        </f:if>
    </f:if>
    <f:render partial="MediaGallery" arguments="{_all}"/>

    <f:if condition="{gallery.position.vertical}=='above'">
        <f:if condition="{data.layout}>0">
            <div class="ce-layout-{data.layout} layout-container">
        </f:if>
        <f:format.html>{data.bodytext}</f:format.html>

        <f:if condition="{data.layout}>0">
            </div>
        </f:if>
    </f:if>
</f:section>
</html>
