<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="FullWidthContainer" />

<f:section name="content">

    <f:render partial="Header/All" arguments="{_all}" />
    <f:format.html>{data.bodytext}</f:format.html>
</f:section>
</html>
