<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="HeaderContentFooter" />
<f:section name="content">
	<f:if condition="{files}">

		<ul class="ce-uploads">
			<f:for each="{files}" as="file" iteration="fileIterator">
				<li class="ce-uploads__item">

                    <img src="{f:uri.resource(path: 'Icons/FileIcons/{file.extension}.gif', extensionName: 'frontend')}" class="ce-uploads__image">

                    <div class="ce-uploads__title">
                        <f:if condition="{file.properties.title}">
                            <f:then>{file.properties.title}</f:then>
                            <f:else>{file.name}</f:else>
                        </f:if>
                    </div>
                    <div class="ce-uploads__description">
                        <f:if condition="{file.properties.description}">
                            <f:then>{file.properties.description}</f:then>
                            <f:else>
                                <f:format.bytes value="{file.properties.size}" />
                            </f:else>
                        </f:if>
                    </div>

                    <a href="{file.publicUrl}" class="ce-uploads__link" target="_blank"></a>
				</li>
			</f:for>
		</ul>
	</f:if>
</f:section>
</html>
