<header
    class="site-header {layout} {f:if(condition:'{f:cObject(typoscriptObjectPath:\'lib.headerImage\')}',then:'header-with-image')}">
    <div class="meta-wrap">
        <div class="container">
            <f:render partial="Menu/Meta" arguments="{_all}"/>
        </div>
    </div>
    <div class="menu bg-white">
        <div class="menu-inner container bg-white">

            <nav class="main-menu">
                <f:link.page title="{settings.pageTitle}" pageUid="{settings.rootPage}">
                    <f:image src="{settings.assetsPath}Img/{settings.pageLogo}" width="314" height="50" title="{settings.pageTitle}" alt="{settings.pageTitle}" class="site-logo" />
               </f:link.page>

                <button class="navbar-toggler" id="navbar-toggler" type="button" data-target="#main-menu-mobile">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="main-menu">
                    <f:render partial="Menu/MenuFirstLevel" arguments="{_all}"/>
                </div>
            </nav>
        </div>
    </div>


</header>
