
<div class="position-relative header-with-image-bu site-header-bu">
    <style>{f:cObject(typoscriptObjectPath:'lib.headerImageSrc')}</style>

    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.anchorNavigation')}">
        <div class="header-image-caption">
            <div class="container">
                <f:comment>
                    <div class="header-image-caption_title">
                        <f:cObject typoscriptObjectPath="lib.headerImageTitle" />
                    </div>
                    <div class="header-image-caption_text">
                        <f:cObject typoscriptObjectPath="lib.headerImageCaption" />
                    </div>
                </f:comment>
                <f:cObject typoscriptObjectPath="lib.anchorNavigation" />
            </div>
        </div>
    </f:if>
</div>


