<f:switch expression="{files->f:count()}">
    <f:case value="0"></f:case>
    <f:case value="1">
        <f:render section="image" arguments="{image:files.0}" />
    </f:case>
    <f:defaultCase>
        <f:render section="slider" arguments="{files:files}" />
    </f:defaultCase>
</f:switch>


<f:section name="image">
    <picture>
        <source srcset="{f:uri.image(image:'{image}',width:'480c', height:'300c')}" media="(max-width: 480px)">
        <source srcset="{f:uri.image(image:'{image}',width:'768c', height:'420c')}" media="(max-width: 768px)">
        <f:image image="{image}" class="img-fluid" width="1440c" height="910c" />
    </picture>
</f:section>



<f:section name="slider">

    <div id="headerSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <f:for each="{files}" as="image" iteration="i">
                <li data-target="#headerSlider" data-slide-to="{i.index}" class="{f:if(condition:'{i.isFirst}',then:'active')}"></li>
            </f:for>
        </ol>

        <div class="carousel-inner">

            <f:for each="{files}" as="image" iteration="i">
                <div class="carousel-item {f:if(condition:'{i.isFirst}',then:'active')}">
                    <f:render section="image" arguments="{image:image}" />
                </div>
            </f:for>

        </div>

        <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</f:section>
