<div class="info-toggle-box">
    <button class="btn btn-danger float-right" type="button" data-toggle="collapse" data-target="#quickAndShort" aria-expanded="false" aria-controls="quickAndShort">
        Kurz & Schnell
    </button>

    <div class="collapse" id="quickAndShort">
        <f:cObject typoscriptObjectPath="lib.quickAndShort"/>
    </div>
</div>
