<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section id="c{data.uid}">
	<f:render section="content" />
	<f:render partial="Footer/All" arguments="{_all}" />
</section>
</html>