
<f:if condition="{data.colPos}==0">
    <f:then>

        <div id="c{data.uid}" class="ce-{data.CType} full-width content-element ce-layout-{data.layout} {gallery.position.horizontal}">
            <div class="container">
                <f:render section="content" />
            </div>
        </div>

    </f:then>
    <f:else>


        <div id="c{data.uid}" class="ce-{data.CType} content-element {gallery.position.horizontal} {f:if(condition:'{data.layout}',then:'has-layout')}">
            <f:render section="content" />
        </div>
    </f:else>
</f:if>
