<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="c{data.uid}">
	<f:render partial="Header/All" arguments="{_all}" />
	<f:render section="content" />
	<f:render partial="Footer/All" arguments="{_all}" />
</div>
</html>