<div class="printhide">

    <div class="printhide">
        <div id="disclaimer" class="printhide">

            <p>
                <strong>Haftungsausschluss</strong><br/>
                SONOTEC hat nach bestem Wissen, basierend auf Methoden der Strömungsakustik, ein Verfahren zur Klassifizierung und Abschätzung des Gesamtleckageverlustes entwickelt. <br>
                SONOTEC haftet in keiner Weise für die erlangten Ergebnisse und für Entscheidungen, die aufgrund der erlangten Ergebnisse getroffen werden. Für jede Handlung, die der Endnutzer aus den Ergebnissen ableitet, trägt der Endnutzer die alleinige Verantwortung und Haftung.
            </p>
            <button type="button" class=" btn btn-blue calculator-disclaimer" value="Ok">Ok</button>
        </div>
    </div>


    <form>
        <div class="ce-layout-3  pb-2 pt-4 pl-4 pr-4 mb-3">
            <h3>
                Leckagekosten-Rechner
            </h3>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Druckluftkennzahl in <span class="kWh">kWh</span>/<span class="m3">m³</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energieverbrauch für die Erzeugung von 1 <span class="m3">m³</span> Druckluft <br>(automatische Berechnung oder vorliegender Wert, muss zur Kosten-Abschätzung angegeben werden, üblicher Wert bei <span id="bar">8 bar: 0,120</span>)</span>
                        </label>
                        <input type="text" id="Druckluftkennzahl" class="Druckluftkennzahl form-control" maxlength="10" oninput="setNumberDecimal(this, 5); changedManually = true; calculateCosts();">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Netto-Strompreis in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="kwh">kWh</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Stromkosten pro <span class="kwh">kWh</span> Energie vom lokalen Stromanbieter (muss zur Kosten-Abschätzung angegeben werden)</span>
                        </label>
                        <input type="text" id="Strompreis" class="Strompreis form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateCosts()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Produktive Arbeitsstunden in h/a
                            <span class="tooltip"> (&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Betriebsdauer, in welcher Druckluft von den Verbrauchern abgenommen wird (muss zur Kosten-Abschätzung angegeben werden), <br><b>Hinweis:</b> Es wird davon ausgegangen, dass die Druckluftanlage außerhalb der Produktionszeiten außer Betrieb ist.</span>
                        </label>
                        <input type="text" id="Arbeitsstunden" class="Arbeitsstunden form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateLoss()">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Gesamt-Leckageverlust in <span class="lmin">l/min</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Gesamtverlust in <span class="lmin">l/min</span> aus SONOTEC LeakExpert Bericht</span>
                        </label>
                        <input type="text" id="Gesamtleckageverlust" class="Gesamtleckageverlust form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateLoss()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Energiekosten in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energiekosten für die Erzeugung von 1 <span class="m3">m³</span> Druckluft (automatische Berechnung)</span>
                        </label>
                        <input type="text" id="Energiekosten" class="numberDisabled Energiekosten form-control" disabled>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Gesamtkosten in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energiekosten + Zusatzkosten für die Erzeugung von 1 <span class="m3">m³</span> Druckluft (automatische Berechnung, Zusatzkosten sind z.B. Investitions- und Instandhaltungskosten)</span>
                        </label>
                        <input type="text" id="Gesamtkosten" class="numberDisabled Gesamtkosten form-control" disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class=" privacycheck-checkbox" type="checkbox"  onchange="toggleCompressor();" >Druckluftkennzahl berechnen
                    </label>
                </div>
            </div>

        </div>

        <div class="kompressordaten ce-layout-3  pb-4 pt-4 pl-4 pr-4 mb-3" >
            <h3>
                Druckluftkennzahl-Rechner
            </h3>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Nennleistung in <span class="kW">kW</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Nennleistung des Kompressors</span>
                        </label>
                        <input type="text" id="Nennleistung" class="Nennleistung form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateKennzahl()">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Nennliefermenge in <span class="m3min">m³/min</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Nennliefermenge in <span class="m3">m³</span>, die der Kompressor laut Herstellerangabe pro Minute liefern kann</span>
                        </label>
                        <input type="text" id="Nennliefermenge" class="Nennliefermenge form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateKennzahl()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Durchschnittliche Auslastung in %
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Durchschnittliche Auslastung der einzelnen Verbraucher</span>
                        </label>
                        <input type="text" class="percentage Auslastung form-control" id="Auslastung" maxlength="3" oninput='this.value = this.value.replace(/[^0-9]/, ""); calculateKennzahl()'>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Volllastleistung in <span class="kW">kW</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Leistung des Kompressors unter Volllast</span>
                        </label>
                        <input type="text" id="Volllastleistung" class="numberDisabled form-control Volllastleistung" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Leerlaufleistung in <span class="kW">kW</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Leistung des Kompressors im Leerlauf</span>
                        </label>
                        <input type="text" id="Leerlaufleistung" class="numberDisabled  form-control Leerlaufleistung" disabled>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Liefermenge in <span class="m3h">m³/h</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Liefermenge in <span class="m3">m³</span>, die der Kompressor pro Stunde in Abhängigkeit von der durchschnittlichen Auslastung liefert</span>
                        </label>
                        <input type="text" id="Liefermenge" class="numberDisabled form-control Liefermenge" disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <button id="uebernehmen" class="btn btn-blue" type="button" onclick="calculateKennzahl();" value="1">Übernehmen</button>

            </div>
        </div>


        <div id="optionMenu" class="print ce-layout-3  pb-4 pt-4 pl-4 pr-4 mb-3">
            <h3>
                Berechnungsgrundlagen
            </h3>

            <div class="row">
                <div class="form-group mr-5">
                    <div class="form-check m-0">
                        <label class="form-check-label">
                            <input class=" privacycheck-checkbox" onClick="switchUnit(this);" type="radio" name="Einheitsystem" value="metrisch" checked>
                            metrisch
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check m-0">
                        <label class="form-check-label">
                            <input class="privacycheck-checkbox" onClick="switchUnit(this);" type="radio" name="Einheitsystem" value="imperial">
                            imperial
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <label class="control-label tooltip tooltip-root">Abweichung in %
                        <span class="tooltip"> (&nbsp;?&nbsp;)</span>
                        <span class="tooltip-text">Durch die großen Unsicherheiten der akustischen Prüfverfahren wird zur Information eine Abweichung ± % vom errechneten Gesamtverlust angegeben; die Abweichung kann hier individuell angepasst werden.</span>
                    </label>
                    <input type="text" id="abweichungProzent" class="percentage form-control" maxlength="3" value="20" oninput='this.value = this.value.replace(/[^0-9]/, ""); calculateCosts()'>
                </div>

                <div class="col-12 col-md-6">
                    <label class="control-label tooltip tooltip-root">Verhältnis Energiekosten zu Gesamtkosten in %
                        <span class="tooltip"> (&nbsp;?&nbsp;)</span>
                        <span class="tooltip-text">Verhältnis zwischen Energiekosten und Gesamtkosten in Prozent (Durchschnitt sind 75%)</span>
                    </label>
                    <input type="text" id="kostenProzent" class="percentage form-control" maxlength="3" value="75" oninput='this.value = this.value.replace(/[^0-9]/, ""); calculateCosts()'>
                </div>
            </div>

        </div>
    </form>

    <hr>
    <div>
        <label class="tooltip tooltip-root pb-3" style="margin: 0;max-width: 28em;">Abschätzung Gesamt-Leckageverlust in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/Jahr
            <span class="tooltip"> (&nbsp;?&nbsp;)</span>
            <span class="tooltip-text">Gesamtverlust in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/Jahr, die Berechnung erfolgt auf Grundlage der Gesamtkosten. Es handelt sich um eine Abschätzung, die individuell angepasst werden kann. </span>
            <small class="d-block" style="line-height: 1">Abweichung &plusmn;<span class="abw">20</span>%</small>
        </label>

        <div class="endcost" >
            <span class="costLeft" style="opacity: .5; font-size: smaller;"></span>&emsp;
            <span class="costMedian"></span>&emsp;
            <span class="costRight" style="opacity: .5; font-size: smaller;"></span>
        </div>
    </div>


    <small style="line-height: 1.4; display: block">
        SONOTEC hat nach bestem Wissen, basierend auf Methoden der Strömungsakustik, ein Verfahren zur Klassifizierung und Abschätzung des Gesamtleckageverlustes entwickelt. <br>
        SONOTEC haftet in keiner Weise für die erlangten Ergebnisse und für Entscheidungen, die aufgrund der erlangten Ergebnisse getroffen werden. Für jede Handlung, die der Endnutzer aus den Ergebnissen ableitet, trägt der Endnutzer die alleinige Verantwortung und Haftung.
    </small>


    <div class="d-flex justify-content-between pb-5">
        <small  class="printhide">Version 1.0.0</small>
        <button id="printButton" class="printhide btn btn-blue" onclick="this.classList.add('pressed');
                        setTimeout(function (e) {
                            e.classList.remove('pressed');
                        }, 1000, this);
                        window.print();">Drucken</button>
    </div>
</div>



<div class="print-only">
    <div class="noBreak">
        <table>
            <tr>
                <th>Leckagekosten</th>
            </tr>
            <tr>
                <td>Druckluftkennzahl in <span class="kWh">kWh</span>/<span class="m3">m³</span></td>
                <td class="Druckluftkennzahl"></td>
            </tr>
            <tr>
                <td>Netto-Strompreis in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="kwh">kWh</span></td>
                <td class="Strompreis"></td>
            </tr>
            <tr>
                <td>Energiekosten in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span></td>
                <td class="Energiekosten"></td>
            </tr>
            <tr>
                <td>
                    Gesamtkosten in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span><br>
                    <span style="font-size: x-small; margin: 0;">Energiekostenanteil: <span class="kostenProzent">75</span>%</span>
                </td>
                <td class="Gesamtkosten"></td>
            </tr>
            <tr>
                <td>Produktive Arbeitsstunden in h/a</td>
                <td class="Arbeitsstunden"></td>
            </tr>
            <tr>
                <td>Gesamt-Leckageverlust in <span class="l">l</span>/min</td>
                <td class="Gesamtleckageverlust"></td>
            </tr>

        </table>
    </div>
    <br>

    <div class="kompressordaten noBreak">
        <br class="printhide">
        <table>
            <tr>
                <th>Druckluftkennzahl</th>
            </tr>
            <tr>
                <td>Nennleistung in <span class="kW">kW</span></td>
                <td class="Nennleistung"></td>
            </tr>
            <tr>
                <td>Nennliefermenge in <span class="m3min">m³/min</span></td>
                <td class="Nennliefermenge"></td>
            </tr>
            <tr>
                <td>Durchschnittliche Auslastung in % </td>
                <td class="Auslastung"></td>
            </tr>
            <tr>
                <td>Volllastleistung in <span class="kW">kW</span></td>
                <td class="Volllastleistung"></td>
            </tr>
            <tr>
                <td>Leerlaufleistung in <span class="kW">kW</span></td>
                <td class="Leerlaufleistung"></td>
            </tr>
            <tr>
                <td>Liefermenge in <span class="m3h">m³/h</span></td>
                <td class="Liefermenge"></td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td>Druckluftkennzahl in <span class="kWh">kWh</span>/<span class="m3">m³</span></td>
                <td class="Druckluftkennzahl"></td>
            </tr>
        </table>
    </div>

    <br>
    <br class="kompressordaten">
    <div  class="noBreak">
        <table>
            <tr>
                <td></td>
                <td>
                    <span class="costLeft" style="opacity: .5; font-size: smaller;"></span>
                </td>
            </tr>
            <tr>
                <td>Abschätzung Gesamt-Leckageverlust in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/Jahr<br>
                    <span style="font-size: x-small; margin: 0;">Abweichung &plusmn;<span class="abw">20</span>%</span>
                </td>
                <td>
                    <span class="costMedian"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span class="costRight" style="opacity: .5; font-size: smaller;"></span>
                </td>
            </tr>
        </table>

        <p>
            <small>
                SONOTEC hat nach bestem Wissen, basierend auf Methoden der Strömungsakustik, ein Verfahren zur Klassifizierung und Abschätzung des Gesamtleckageverlustes entwickelt. SONOTEC haftet in keiner Weise für die erlangten Ergebnisse und für Entscheidungen, die aufgrund der erlangten Ergebnisse getroffen werden. Für jede Handlung, die der Endnutzer aus den Ergebnissen ableitet, trägt der Endnutzer die alleinige Verantwortung und Haftung.
            </small>
        </p>
        <small style="float: left;">Version 1.0.0</small>
    </div>
</div>
