


<div class=" printhide">

    <div class="printhide">
        <div id="disclaimer" class="printhide">

            <p>
                <strong>Disclaimer</strong><br/>
                SONOTEC has developed a process for classifying and estimating the total leakage losses of a system to the best of its knowledge and ability, based on flow acoustics methods.<br>
                SONOTEC shall in no way be held liable for the results generated through the application of this process, nor for any decisions made on the basis of such results. All actions taken by the end user based on the results are the sole responsibility of the end user, who accepts full liability for any such actions.
            </p>
            <button type="button" class=" btn btn-blue calculator-disclaimer" value="Ok">Ok</button>
        </div>
    </div>


    <form>
        <div class="ce-layout-3  pb-2 pt-4 pl-4 pr-4 mb-3">
            <h3>
                Leak Cost Calculator
            </h3>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Compressed air index in <span class="kWh">kWh</span>/<span class="m3">m³</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energy consumption for the production of 1 <span class="m3">m³</span> compressed air (automatic calculation or present value is necessary for evaluation of costs, usual value at <span id="bar">8 bar: 0,120</span>))</span>
                        </label>
                        <input type="text" id="Druckluftkennzahl" class="Druckluftkennzahl form-control" maxlength="10" oninput="setNumberDecimal(this, 5); changedManually = true; calculateCosts();">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Energy costs in €/<span class="kwh">kWh</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energy costs per <span class="kwh">kWh</span> of energy from the local electricity supplier (for evaluation of costs)</span>
                        </label>
                        <input type="text" id="Strompreis" class="Strompreis form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateCosts()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Production hours in h/a
                            <span class="tooltip"> (&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Operating time in which compressed air is taken from pneumatic consumers (must be specified for evaluation of costs) <br><b>Note:</b> It is assumed that the compressed air system is out of operation outside of production times.</span>
                        </label>
                        <input type="text" id="Arbeitsstunden" class="Arbeitsstunden form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateLoss()">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Total leakage loss in <span class="lmin">l/min</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Total loss in <span class="lmin">l/min</span> from SONOTEC LeakExpert report</span>
                        </label>
                        <input type="text" id="Gesamtleckageverlust" class="Gesamtleckageverlust form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateLoss()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Energy costs in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energy costs for the production of 1 <span class="m3">m³</span> compressed air (automatic calculation)</span>
                        </label>
                        <input type="text" id="Energiekosten" class="numberDisabled Energiekosten form-control" disabled>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Total costs in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Energy costs + additional costs for the production of 1 <span class="m3">m³</span> compressed air (automatic calculation, additional costs are for example investment and maintenance costs)</span>
                        </label>
                        <input type="text" id="Gesamtkosten" class="numberDisabled Gesamtkosten form-control" disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class=" privacycheck-checkbox" type="checkbox"  onchange="toggleCompressor();" >Calculate compressed air index
                    </label>
                </div>
            </div>

        </div>

        <div class="kompressordaten ce-layout-3  pb-4 pt-4 pl-4 pr-4 mb-3" >
            <h3>
                Compressed air index calculator
            </h3>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Nominal power in <span class="kW">kW</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Nominal power of the compressor</span>
                        </label>
                        <input type="text" id="Nennleistung" class="Nennleistung form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateKennzahl()">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Nominal delivery rate in <span class="m3min">m³/min</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Nominal delivery rate in <span class="m3">m³</span>, which the compressor can deliver per minute according to the manufacturer</span>
                        </label>
                        <input type="text" id="Nennliefermenge" class="Nennliefermenge form-control" maxlength="10" oninput="setNumberDecimal(this, 2); calculateKennzahl()">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Utilization in %
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Average utilization of pneumatic consumers</span>
                        </label>
                        <input type="text" class="percentage Auslastung form-control" id="Auslastung" maxlength="3" oninput='this.value = this.value.replace(/[^0-9]/, ""); calculateKennzahl()'>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Full load power in <span class="kW">kW</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Power of the compressor under full load</span>
                        </label>
                        <input type="text" id="Volllastleistung" class="numberDisabled form-control Volllastleistung" disabled>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">No-load power in <span class="kW">kW</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Power of the compressor at no-load</span>
                        </label>
                        <input type="text" id="Leerlaufleistung" class="numberDisabled  form-control Leerlaufleistung" disabled>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label class="control-label tooltip tooltip-root">Delivery rate in <span class="m3h">m³/h</span>
                            <span class="tooltip">&nbsp;(&nbsp;?&nbsp;)</span>
                            <span class="tooltip-text">Delivery rate in <span class="m3">m³</span>, which the compressor delivers per hour depending on the average utilization</span>
                        </label>
                        <input type="text" id="Liefermenge" class="numberDisabled form-control Liefermenge" disabled>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <button id="uebernehmen" class="btn btn-blue" type="button" onclick="calculateKennzahl();" value="1">Update</button>

            </div>
        </div>


        <div id="optionMenu" class="print ce-layout-3  pb-4 pt-4 pl-4 pr-4 mb-3">
            <h3>
                Select unit
            </h3>

            <div class="row">
                <div class="form-group mr-5">
                    <div class="form-check m-0">
                        <label class="form-check-label">
                            <input class=" privacycheck-checkbox" onClick="switchUnit(this);" type="radio" name="Einheitsystem" value="metrisch" checked>
                            metric
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check m-0">
                        <label class="form-check-label">
                            <input class="privacycheck-checkbox" onClick="switchUnit(this);" type="radio" name="Einheitsystem" value="imperial">
                            imperial
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <label class="control-label tooltip tooltip-root">Deviation in %
                        <span class="tooltip"> (&nbsp;?&nbsp;)</span>
                        <span class="tooltip-text">Due to the uncertainties of acoustics methods, a deviation ±% of the calculated total loss is given; the deviation can be adjusted individually</span>
                    </label>
                    <input type="text" id="abweichungProzent" class="percentage form-control" maxlength="3" value="20" oninput='this.value = this.value.replace(/[^0-9]/, ""); calculateCosts()'>
                </div>

                <div class="col-12 col-md-6">
                    <label class="control-label tooltip tooltip-root">Ratio of energy costs to total costs in %
                        <span class="tooltip"> (&nbsp;?&nbsp;)</span>
                        <span class="tooltip-text">Relationship between energy costs and total costs in percent (average is 75%)</span>
                    </label>
                    <input type="text" id="kostenProzent" class="percentage form-control" maxlength="3" value="75" oninput='this.value = this.value.replace(/[^0-9]/, ""); calculateCosts()'>
                </div>
            </div>

        </div>
    </form>

    <hr>
    <div>
        <label class="tooltip tooltip-root pb-3" style="margin: 0;max-width: 28em;">Total leakage loss in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/year
            <span class="tooltip"> (&nbsp;?&nbsp;)</span>
            <span class="tooltip-text">Total loss in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/year, the calculation is based on the total costs. It is an estimation that can be customized.</span>
            <small class="d-block" style="line-height: 1">Deviation &plusmn;<span class="abw">20</span>%</small>
        </label>

        <div class="endcost" >
            <span class="costLeft" style="opacity: .5; font-size: smaller;"></span>&emsp;
            <span class="costMedian"></span>&emsp;
            <span class="costRight" style="opacity: .5; font-size: smaller;"></span>
        </div>
    </div>


    <small style="line-height: 1.4; display: block">
        SONOTEC has developed a process for classifying and estimating the total leakage losses of a system to the best of its knowledge and ability, based on flow acoustics methods.
        SONOTEC shall in no way be held liable for the results generated through the application of this process, nor for any decisions made on the basis of such results.
        All actions taken by the end user based on the results are the sole responsibility of the end user, who accepts full liability for any such actions.
    </small>


    <div class="d-flex justify-content-between pb-5">
        <small  class="printhide">Version 1.0.0</small>
        <button id="printButton" class="printhide btn btn-blue" onclick="this.classList.add('pressed');
                        setTimeout(function (e) {
                            e.classList.remove('pressed');
                        }, 1000, this);
                        window.print();">Print</button>
    </div>
</div>



<div class="print-only">
    <div class="noBreak">
        <table>
            <tr>
                <th>Leak Cost</th>
            </tr>
            <tr>
                <td>Compressed air index in <span class="kWh">kWh</span>/<span class="m3">m³</span></td>
                <td class="Druckluftkennzahl"></td>
            </tr>
            <tr>
                <td>Energy costs in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="kwh">kWh</span></td>
                <td class="Strompreis"></td>
            </tr>
            <tr>
                <td>Energy costs in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span></td>
                <td class="Energiekosten"></td>
            </tr>
            <tr>
                <td>
                    Total costs in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/<span class="m3">m³</span><br>
                    <span style="font-size: x-small; margin: 0;">share of energy costs:  <span class="kostenProzent">75</span>%</span>
                </td>
                <td class="Gesamtkosten"></td>
            </tr>
            <tr>
                <td>Production hours in h/a</td>
                <td class="Arbeitsstunden"></td>
            </tr>
            <tr>
                <td>Total leakage loss in <span class="l">l</span>/min</td>
                <td class="Gesamtleckageverlust"></td>
            </tr>

        </table>
    </div>
    <br>

    <div class="kompressordaten noBreak">
        <br class="printhide">
        <table>
            <tr>
                <th>Compressed Air Index</th>
            </tr>
            <tr>
                <td>Nominal power in <span class="kW">kW</span></td>
                <td class="Nennleistung"></td>
            </tr>
            <tr>
                <td>Nominal delivery rate in <span class="m3min">m³/min</span></td>
                <td class="Nennliefermenge"></td>
            </tr>
            <tr>
                <td>Utilization in % </td>
                <td class="Auslastung"></td>
            </tr>
            <tr>
                <td>Full load power in <span class="kW">kW</span></td>
                <td class="Volllastleistung"></td>
            </tr>
            <tr>
                <td>No-load power in <span class="kW">kW</span></td>
                <td class="Leerlaufleistung"></td>
            </tr>
            <tr>
                <td>Delivery rate in <span class="m3h">m³/h</span></td>
                <td class="Liefermenge"></td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td>Compressed air index in <span class="kWh">kWh</span>/<span class="m3">m³</span></td>
                <td class="Druckluftkennzahl"></td>
            </tr>
        </table>
    </div>

    <br>
    <br class="kompressordaten">
    <div  class="noBreak">
        <table>
            <tr>
                <td></td>
                <td>
                    <span class="costLeft" style="opacity: .5; font-size: smaller;"></span>
                </td>
            </tr>
            <tr>
                <td>Total leakage loss in <span class="currency-euro">EUR</span><span class="currency-usd">$</span>/year<br>
                    <span style="font-size: x-small; margin: 0;">Deviation &plusmn;<span class="abw">20</span>%</span>
                </td>
                <td>
                    <span class="costMedian"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span class="costRight" style="opacity: .5; font-size: smaller;"></span>
                </td>
            </tr>
        </table>

        <p>
            <small>
                SONOTEC has developed a process for classifying and estimating the total leakage losses of a system to the best of its knowledge and ability, based on flow acoustics methods.
                SONOTEC shall in no way be held liable for the results generated through the application of this process, nor for any decisions made on the basis of such results.
                All actions taken by the end user based on the results are the sole responsibility of the end user, who accepts full liability for any such actions.
            </small>
        </p>
        <small style="float: left;">Version 1.0.0</small>
    </div>
</div>
