<tr data-uid="{seminar.uid}" data-l10nparent="0">
    <td nowrap="nowrap" class="col-icon">
        <span class="t3js-icon icon icon-size-small icon-state-default icon-tcarecords-tx_ikonumseminars_domain_model_seminar-default" data-identifier="tcarecords-tx_ikonumseminars_domain_model_seminar-default">
            <span class="icon-markup">
                <img src="/typo3conf/ext/sonotec_customers/Resources/Public/Icons/tx_sonoteccustomers_domain_model_license.gif" width="16" height="16">
            </span>
        </span>
    </td>

    <td style="white-space: normal;" class="title">
        <span style="word-wrap:normal; display:inline-block;">
            {mail.subject}
        </span>
    </td>
    <td nowrap="nowrap" class="col-control">

        <div class="btn-group" role="group">

            <a href="#" onclick="{URL}+'&edit[tx_sonoteccustomers_domain_model_mail][{mail.uid}]=edit'; return false;" class="btn btn-default" title="Datensatz bearbeiten" data-original-title="Datensatz bearbeiten">
                <core:icon identifier="actions-open" size="small" /> bearbeiten
             </a>

            <f:link.action action="overview" arguments="{mail : mail}" class="btn btn-default" title="Send release notification">
                <core:icon identifier="actions-preview" size="small" /> Preview release notification
            </f:link.action>


        </div>

    </td>
</tr>
