<f:be.container>
    
    
    <div class="module">
        <div class="module-docheader t3js-module-docheader">
            
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
		<div class="module-docheader-bar-column-left">
                    
		</div>
		<div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
		</div>
            </div>
            
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
		<div class="module-docheader-bar-column-left">
                   
		</div>
		<div class="module-docheader-bar-column-right">
                   
		</div>
            </div>
        </div>
        
        <div id="module-body t3js-module-body" style="padding: 89px 24px 24px;">
            
            <h1>Releasenotification</h1>
            
            <f:render section="main" />
        </div>
        
    </div>
</f:be.container>