<div class="ce-anchor-menu content-element" id="c{data.uid}">
    <ul class="ce-anchor-menu__list">
        <f:for each="{pi_flexform.settings}" as="flexformItem">
            <f:for each="{flexformItem}" as="menuItem">
                <li class="ce-anchor-menu__item">

                    <f:if condition="{menuItem.container.isContact}">
                        <f:then>
                            <f:link.page section="contact-1"
                                         class="ce-anchor-menu__link">{menuItem.container.title}</f:link.page>
                        </f:then>
                        <f:else>
                            <f:if condition="{menuItem.container.link}">
                                <f:then>
                                    <f:link.typolink class="ce-anchor-menu__link"
                                                     parameter="{menuItem.container.link}">{menuItem.container.title}</f:link.typolink>
                                </f:then>
                                <f:else>
                                    <f:link.page section="c{menuItem.container.content}"
                                                 class="ce-anchor-menu__link">{menuItem.container.title}</f:link.page>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </li>
            </f:for>
        </f:for>
    </ul>
</div>

