<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ff=TYPO3\SonotecConfig\ViewHelpers}

    <f:if condition="{data.pid}==1 || {data.pid}==1424">
        <f:then>
            <div class="fp-iconbox ce-iconbox" id="c{data.uid}">
                <div class="fp-iconbox-inner ce-layout-{data.layout}">
                     <f:render section="frontpage" arguments="{_all}" />
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="ce-iconbox" id="c{data.uid}">
                <div class="ce-iconbox-inner ce-layout-{data.layout}">
                    <f:render section="default" arguments="{_all}" />
                </div>
            </div>
        </f:else>
    </f:if>






<f:section name="frontpage">
    <f:if condition="{files.0}">
        <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 524 262'%3E%3C/svg%3E"
            data-src="{f:uri.image(image:files.0, height:'262c',width:'524c')}"
            height="262"
            width="524"
            alt="{file.properties.alternative}"
            title="{file.properties.title}"
            class="img-fluid img-lazy"
        />
    </f:if>
    <div class="fp-iconbox__content">
        <div class="fp-iconbox__text">
            <div class="fp-iconbox__icon">
                <span class="icon-{data.sonotec_icon}"></span>
            </div>
            <h3 class="fp-iconbox__header">
                <f:format.raw><ff:ReplaceCopy content="{data.header}" /></f:format.raw>
            </h3>
        </div>

        <div class="fp-iconbox__link">
            {data.subheader}
            <span class="icon-arrow-right fp-iconbox__link-icon"></span>
        </div>
    </div>
    <f:if condition="{data.header_link}">
        <a href="{f:uri.typolink(parameter:'{data.header_link}')}" class="ce-iconbox__link"></a>
    </f:if>
</f:section>

<f:section name="default">
    <div class="ce-iconbox__icon">
        <f:if condition="{data.sonotec_icon}">
            <span class="icon-{data.sonotec_icon}"></span>
        </f:if>
    </div>

    <div class="ce-iconbox__text">
        <h3 class="ce-iconbox__header">
            <f:format.raw><ff:ReplaceCopy content="{data.header}" /></f:format.raw>
        </h3>
        <f:if condition="{data.subheader}">
            <div class="ce-iconbox__subheader">{data.subheader}</div>
        </f:if>
    </div>
    <f:if condition="{data.header_link}">
        <a href="{f:uri.typolink(parameter:'{data.header_link}')}" class="ce-iconbox__link"></a>
    </f:if>
</f:section>
</html>
