<div class="container pb-5 pt-5" id="c{data.uid}">
    <div class="leakCalculator">
        <f:render partial="Header/All" arguments="{_all}" />

        <f:if condition="{data.sys_language_uid} == 1">
            <f:then>
                <f:render partial="LeakCalculator/De" />
            </f:then>
            <f:else>
                <f:render partial="LeakCalculator/En" />
            </f:else>
        </f:if>
    </div>
</div>
