{namespace ff=TYPO3\SonotecConfig\ViewHelpers}
<div class="ce-redbox content-element" id="c{data.uid}">
    <div class="ce-redbox__inner">
        <f:if condition="{data.header}">
            <h4 class="ce-redbox__header">
                <f:format.raw><ff:ReplaceCopy content="{data.header}" /></f:format.raw>
            </h4>
        </f:if>
        <f:format.html>{data.bodytext}</f:format.html>
    </div>
</div>
