<f:switch expression="{data.colPos}">
    <f:case value="0">
        <div id="c{data.uid}" class="ce-slider ce-layout-{data.layout} content-element full-width">
            <div class="container">
                <f:render partial="Header/All" arguments="{_all}" />
                <f:render section="Slider" arguments="{_all}" />
            </div>
        </div>
    </f:case>
    <f:case value="13">

        <f:render section="SliderFrontpage" arguments="{_all}" />
    </f:case>
    <f:defaultCase>
        <div id="c{data.uid}" class="ce-slider ce-layout-{data.layout} content-element">
            <f:render partial="Header/All" arguments="{_all}" />
            <f:render section="Slider" arguments="{_all}" />
        </div>
    </f:defaultCase>
</f:switch>





<f:section name="Slider">

    <f:if condition="{files}">
        <div class="ce-slider-carousel slider-carousel">
            <f:for each="{files}" as="file">
                <div class="slider-carousel__item">
                    <f:if condition="{file.type}==4">
                        <f:then>
                            <f:variable name="videoWidth" value="{f:if(condition:'{data.imageheight}', then:'{data.imageheight * 1.77}', else:'1020')}" />

                            <div class="embed-responsive embed-responsive-16by9 yt-preview-container"
                                 style="height:{f:if(condition:'{data.imageheight}', then:'{data.imageheight}', else:'576')}px; width:{videoWidth}px"
                                 data-video="{file.contents}">
                                <img
                                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 288'%3E%3C/svg%3E"
                                    data-src="{f:uri.image(image:file, width:'768c', height:'432c')}"
                                    width="{videoWidth}"
                                    height="{f:if(condition:'{data.imageheight}', then:'{data.imageheight}', else:'576')}"
                                    alt="{file.alternative}"
                                    title="{file.title}"
                                    class="yt-preview-image img-fluid img-lazy"
                                />
                                <span class="yt-preview-play-icon"></span>
                            </div>
                        </f:then>
                        <f:else>
                            <f:image
                                image="{file}"
                                height="{f:if(condition:'{data.imageheight}', then:'{data.imageheight}', else:'576')}"
                                class="img-fluid "
                            />
                        </f:else>
                    </f:if>


                </div>
            </f:for>
        </div>
    </f:if>

</f:section>

<f:section name="SliderFrontpage">

    <f:if condition="{files}">
        <div class="frontpage-slider-carousel slider-carousel num-slides-{files->f:count()}">
            <f:for each="{files}" as="file" iteration="i">

                <div class="slider-carousel__item {f:if(condition:'{i.index}==0',then:'active')}">

                    <picture>
                        <source srcset="{f:uri.image(image:'{file}',width:'576c', height:'320c')}" media="(max-width: 575px)">
                        <source srcset="{f:uri.image(image:'{file}',width:'768c', height:'400c')}" media="(max-width: 767px)">
                        <source srcset="{f:uri.image(image:'{file}',width:'992c', height:'450c')}" media="(max-width: 991px)">
                        <img src="{f:uri.image(image:'{file}',width:'1920c', height:'520c')}"
                             alt="{file.properties.alternative}"
                             height="520"
                             width="1920"
                             title="{file.properties.title}" />

                    </picture>
                    <f:comment>
                    <img
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 800'%3E%3C/svg%3E"
                        data-src="{f:uri.image(image:file, height:'690c',width:'1920c')}"
                        height="690"
                        width="1920"
                        alt="{file.properties.alternative}"
                        title="{file.properties.title}"
                        class="img-fluid img-lazy"
                    />
                    </f:comment>
                </div>

            </f:for>
        </div>
    </f:if>

</f:section>
