{namespace ff=TYPO3\SonotecConfig\ViewHelpers}

<div id="c{data.uid}" class="ce-teaser {f:if(condition:'{data.parentgrid_tx_gridelements_backend_layout}==\'teaserbox\'',then:'col-12 col-md-6 col-xl-4')}">
    <div class="ce-teaser__inner">
        <f:if condition="{files.0}">
            <f:link.typolink parameter="{data.header_link}">
                <img
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 524 262'%3E%3C/svg%3E"
                    data-src="{f:uri.image(image:files.0, height:'262c',width:'524c')}"
                    height="262"
                    width="524"
                    alt="{files.0.properties.alternative}"
                    title="{files.0.properties.title}"
                    class="img-fluid img-lazy ce-teaser__image"
                />
            </f:link.typolink>
        </f:if>

        <f:if condition="{data.header}">
            <h3 class="ce-teaser__header">
                <f:link.typolink parameter="{data.header_link}">
                    <f:format.raw><ff:ReplaceCopy content="{data.header}" /></f:format.raw>
                    <f:if condition="{data.subheader}">
                        <span class="ce-teaser__subheader">{data.subheader}</span>
                    </f:if>
                </f:link.typolink>
            </h3>
        </f:if>
        <f:if condition="{data.bodytext}">
            <div class="ce-teaser__text">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>
</div>
