<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/Hoogi91/Spreadsheets/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Main">

    <f:switch expression="{header}">
        <f:case value="1">
            <f:if condition="{rowIterator.index}==0">
                <f:then>
                    <f:render section="CellHeader" arguments="{cell:cell}" />
                </f:then>
                <f:else>
                    <f:render section="CellBody" arguments="{cell:cell}" />
                </f:else>
            </f:if>
        </f:case>
        <f:case value="2">
            <f:if condition="{columnIterator.index}==0">
                <f:then>
                    <f:render section="CellHeader" arguments="{cell:cell}" />
                </f:then>
                <f:else>
                    <f:render section="CellBody" arguments="{cell:cell}" />
                </f:else>
            </f:if>
        </f:case>
        <f:case value="3">
            <f:if condition="{columnIterator.index}==0 || {rowIterator.index}==0">
                <f:then>
                    <f:render section="CellHeader" arguments="{cell:cell}" />
                </f:then>
                <f:else>
                    <f:render section="CellBody" arguments="{cell:cell}" />
                </f:else>
            </f:if>
        </f:case>
        <f:defaultCase>
            <f:render section="CellBody" arguments="{cell:cell}" />
        </f:defaultCase>
    </f:switch>

</f:section>

<f:section name="CellHeader">
    <th {f:if(condition:'{cell.rowspan}>1',then:'rowspan="{cell.rowspan}"')} {f:if(condition:'{cell.colspan}>1',then:'rowspan="{cell.colspan}"')}>
        <s:cell.value.formatted cell="{cell}"/>
    </th>
</f:section>

<f:section name="CellBody">
    <td {f:if(condition:'{cell.rowspan}>1',then:'rowspan="{cell.rowspan}"')} {f:if(condition:'{cell.colspan}>1',then:'rowspan="{cell.colspan}"')}>
        <s:cell.value.formatted cell="{cell}"/>
    </td>
</f:section>

</html>
