
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">

<formvh:renderRenderable renderable="{element}">

    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <div class="frc-captcha"
             data-lang="{element.properties.language}"
             data-solution-field-name=""
             data-sitekey="FCMI9756S54KKKQP"></div>
        <script type="module" src="/typo3conf/ext/ff_friendly_captcha/Resources/Public/JavaScript/Frontend/friendly-challenge.js" async defer></script>
    </f:render>
</formvh:renderRenderable>
</html>
