<div class="customer-address">
    <h3>{address.title}</h3>
    <p><f:format.nl2br>{address.street}</f:format.nl2br></p>

    <f:if condition="{address.phone}"><p class="tel contact-data"></span>{address.phone}</p></f:if>
    <f:comment>
    <f:if condition="{address.mobile}"><p class="fax contact-data"></span>{address.mobile}</p></f:if>
    </f:comment>

    <f:if condition="{address.fax}"><p class="fax contact-data">{address.fax}</p></f:if>
    <f:if condition="{address.email}"><p class="contact-data"><f:link.page pageUid="179" target="_top" noCacheHash="1" onclick="ga('send', 'event', 'anfrage', 'ansprechpartner-karte','{address.email}');" additionalParams="{receiverMail:'{address.emailMasked}'}" class="mail">{address.email}</f:link.page></p></f:if>
    <f:if condition="{address.url}"><p class="contact-data"><f:link.external class="web" uri="{address.url}" target="_blank">{address.url}</f:link.external></p></f:if>

</div>