{namespace ff=BB\BbSmapone\ViewHelpers}
<div class="row mb-2">
	<div class="col col-12">
		<div class="pb-5">
			<div class="row">
                <f:if condition="{newsAuthor.image.uid}">
				<div class="col col-3 col-lg-3">
					<img class="img-fluid rounded-circle" src="{f:uri.image(src:'{newsAuthor.image.uid}',width:'170c',height:'170c',treatIdAsReference:1)}" alt="{newsAuthor.name}" width="170" height="170" />
				</div>
                </f:if>
				<div class="col col-9 pl-lg-3 col-lg-9">
					<p class="mb-0"><strong>{newsAuthor.title}</strong></p>
					<span class="mb-2 h3 d-block">{newsAuthor.name}</span>
					<f:format.html>{newsAuthor.description}</f:format.html>
				</div>
			</div>
		</div>
	</div>
</div>
