{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / New
		Available variables:
			{user}
			{allUserGroups}

<f:section name="main">
	<f:render partial="Misc/FlashMessages" arguments="{_all}" />
	<f:render partial="Misc/FormErrors" arguments="{object:User}" />
	<f:render partial="Misc/ResendConfirmation" arguments="{_all}" />
	<div class="femanager_new">
		<f:form
				name="user"
				object="{user}"
				action="create"
				enctype="multipart/form-data"
				additionalAttributes="{data-femanager-plugin:data.uid}"
				class="form-horizontal {f:if(condition:'{settings.new.validation._enable.client}',then:'feManagerValidation',else:'')}">
			<fieldset>
				<legend>
					<f:translate key="titleCreateProfile" />
				</legend>


                <div class="row">
                    <div class="col-12 col-md-6">
                        <f:render partial="Fields/FirstName" arguments="{_all}" />
                    </div>
                    <div class="col-12 col-md-6">
                        <f:render partial="Fields/LastName" arguments="{_all}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <f:render partial="Fields/Company" arguments="{_all}" />
                    </div>
                    <div class="col-12 col-md-6">
                        <f:render partial="Fields/StaticInfoCountry" arguments="{_all}" />
                    </div>
                </div>

                <f:render partial="Fields/Email" arguments="{_all}" />

                <div class="row">
                    <div class="col-12 col-md-6">
                        <f:render partial="Fields/CustomerDevice" arguments="{_all}" />
                    </div>
                    <div class="col-12 col-md-6">
                        <f:render partial="Fields/CustomerSerialnumberRegistration" arguments="{_all}" />
                    </div>
                </div>

                <f:render partial="Fields/Password" arguments="{_all}" />

                <f:render partial="Fields/ModuleSysDmailHtml" arguments="{_all}" />

                <f:render partial="Fields/Terms" arguments="{_all}" />

                <f:render partial="Fields/SubmitCreate" arguments="{_all}"/>
		</f:form>
	</div>
</f:section>
