<?xml version="1.0"?>
<f:spaceless>
    <feed xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://dev.xing.com/jobs/xsd">	
        <postings>
            <f:render section="content" />
        </postings>
    </feed>
</f:spaceless>