.site-logo {
    height: 2.75rem;
    position: relative;
    left: -0.5rem;
}

@media (min-width: 786px) {
    .site-logo {
        height: 3.75rem;
        left: -1rem;
    }
}

@media (min-width: 75em) {
    .site-logo {
        height: 4.75rem;
        left: -1.25rem;
    }
}

.footer-logo {
    background: url("../Img/logo-addiq-white.svg") no-repeat;
    width: 100%;
    height: 3.5rem;
    background-size: auto 100%;
    background-position: -0.5rem 0;
}

.footer-logo:before {
    display: none;
}

.sonotec-map-filter {
    display: none;
}

.sonotec-map-wrapper span.categories {
    display: none!important;
}
