/* bai-jamjuree-200 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 200;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-200italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 200;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-300 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-300italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 300;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-regular - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 400;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-500 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-500italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 500;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-600 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-600italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 600;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-700italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 700;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-700 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}


/* inter-100 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-200 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-800 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-900 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
