@font-face {
    font-family: 'icomoon';
    src:  url('/typo3conf/ext/sonotec_config/Resources/Public/Fonts/icons/icomoon.eot?rqbqam');
    src:  url('/typo3conf/ext/sonotec_config/Resources/Public/Fonts/icons/icomoon.eot?rqbqam#iefix') format('embedded-opentype'),
    url('/typo3conf/ext/sonotec_config/Resources/Public/Fonts/icons/icomoon.ttf?rqbqam') format('truetype'),
    url('/typo3conf/ext/sonotec_config/Resources/Public/Fonts/icons/icomoon.woff?rqbqam') format('woff'),
    url('/typo3conf/ext/sonotec_config/Resources/Public/Fonts/icons/icomoon.svg?rqbqam#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\e900";
}
.icon-icon-biotech-sonotec:before {
    content: "\e901";
}
.icon-icon-medtech-sonotec:before {
    content: "\e902";
}
.icon-check:before {
    content: "\e903";
}
.icon-arrow-left:before {
    content: "\e904";
}
.icon-arrow-right:before {
    content: "\e905";
}
.icon-mail:before {
    content: "\e906";
}
.icon-phone:before {
    content: "\e907";
}
.icon-check-circle:before {
    content: "\e908";
}
.icon-search:before {
    content: "\e909";
}
.icon-arrow-up-right:before {
    content: "\e90a";
}
.icon-arrow-down-right:before {
    content: "\e90b";
}
.icon-bu-1:before {
    content: "\e90c";
}
.icon-bulb:before {
    content: "\e90d";
}
.icon-bu-2:before {
    content: "\e90e";
}
.icon-bu-3:before {
    content: "\e90f";
}
.icon-bu-4:before {
    content: "\e910";
}
.icon-logo:before {
    content: "\e911";
}
.icon-application:before {
    content: "\e912";
}
.icon-expertise:before {
    content: "\e913";
}
.icon-pruefkopfe:before {
    content: "\e914";
}
.icon-worldwide:before {
    content: "\e915";
}
.icon-icon-semicon-sonotec:before {
    content: "\e916";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-linkedin:before {
    content: "\eac9";
}
