.hero-header-wrap {
    background-repeat: no-repeat,repeat;
    background-position: center 0, center center;
    background-size: cover, 50px auto;
}


.theme-1 .hero-header-wrap {
    background-image: url('../Img/bg/gradient.svg'), url('../Img/bg/pattern_vih.svg');
}


.theme-2 .hero-header-wrap {
    background-image: url('../Img/bg/gradient.svg'), url('../Img/bg/pattern_nifu.svg');
}


.theme-3 .hero-header-wrap {
    background-image: url('../Img/bg/gradient.svg'), url('../Img/bg/pattern_zfp.svg');
}


    /*hinterher überführen*/
.small {
    font-size: 60%;
    text-transform: none;
}

.sonotec-map-wrapper .mail,
.ce-contact__email {
    color: inherit;
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
