

@media print {

/* bai-jamjuree-200 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 200;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-200italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 200;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-200italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-300 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-300italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 300;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-300italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-regular - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-regular.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 400;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-500 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-500italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 500;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-500italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-600 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-600italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 600;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-600italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-700italic - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 700;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700italic.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* bai-jamjuree-700 - latin */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/bai-jamjuree-v4-latin/bai-jamjuree-v4-latin-700.svg#BaiJamjuree') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-100 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-100.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-200 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-600 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-800 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}
/* inter-900 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../Fonts/inter-v2-latin/inter-v2-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Fonts/inter-v2-latin/inter-v2-latin-900.svg#Inter') format('svg'); /* Legacy iOS */
    font-display: swap;
}


    body {
        margin: 0;
        font-size: 12px !important;
        line-height: 1.3em;
        font-family: 'Inter',sans-serif;
        font-weight: 400;
        color: #496471;
    }
    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: #E73439;
        font-family: 'Bai Jamjuree',sans-serif;
        font-weight: normal;
        font-weight: 400;
        line-height: 1.2em;
    }

    .site-header,
    .mm-ocd,
    #searchModal,
    .job-application-btn,
    #main-menu,
    .meta-wrap,
    #main-menu-mobile,
    .site-footer,
    #cookieman-modal,
    .hero-header-wrap + .position-relative .position-sticky .btn,
    .nav-breadcrumb,
    .job-detail-slider,
    .printhide {
        display: none!important;
    }


    .page-title {
        font-size: 1.75em;
    }
    .page-title h1 {
        font-size: 100%;
        margin: 0 0 0.125em;
        padding-top: 20px;
        font-weight: bold;
    }
    .page-title h2 {
        font-size: 70%;
        margin: 0 0 0.5em;
        color: #496471;
    }

    .hero-header-wrap {
        padding: 2em 8em 3em 4em;
        background-color: #E0E7F0;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
    }

    .hero-header-wrap p{
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    h3 {
        font-size: 1.25em;
        margin-bottom: 0.25em;
    }

    p {
        margin: 0 0 1em;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
    }
    .ce-text ul {
        list-style-type: disc;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 20px;
    }
    .ce-text ul li {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 8px;
        padding: 0;
    }
    .ce-text ul li:before {
       display: none;
    }

    p+h2, p+h3, p+h4 {
        margin-top: 1em;
    }

    .content-element  {
        padding: 1em 8em 1em 3.5em;
    }

    .content-element .content-element {
        padding: 0;
    }
    .content-element h3 {
        margin-top: 1em;
    }

    .ce-contact__image-wrap {
        display: none;
    }

    .ce-layout-3 {
        background: #F6F6F6;
    }

    .row {
        display: flex;
        margin: 0!important;
    }
    .col-lg-6 {
        width: 50%;
    }

    .job-contact {
        padding: 10px 30px 20px;
        margin-top: 0;
        background: #F6F6F6;
        font-size: 12px!important;
        line-height: 18px;
    }
    .job-contact:after {
        content: "";
        clear: both;
        display: table;
    }
    .job-contact .container {
        padding: 0;
    }
    .job-contact .content-element {
        padding: 0!important;
    }
    .job-contact .ce-contact__inner {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .job-contact .ce-contact__text {
        margin-left: 0!important;
    }
    .job-contact .container .row{
        display: block;
    }
    .job-contact .container .row .col-12 {
        width: 50%;
        float: left;
        padding: 0;
    }

    .job-contact .ce-contact__function {
        margin-bottom: 8px;
    }

    .job-content-element {
        margin-bottom: 20px!important;
    }

    .container {
        max-width: none!important;
        padding: 0!important;
    }

    .content-element {
        padding: 0 30px!important;
    }
    .hero-header-wrap {
     padding: 0 30px;
        margin-top: 50px;
    }


    .job-content-element-main {
        padding-top: 20px;
    }
    .pdf-header {
        text-align: right;
        background: #fff;
        display: block;
    }

    .pdf-header svg {
        display: inline-block;
    }
    .pdf-header:after {
        content: "";
        clear: both;
        display: table;
    }

    .job-contact-sidebar,
    .job-images {
        display: none;
    }
}
