<template>
    <div class="comments">
        aergaewrg
    </div>
</template>

<script>
    export default {
        name: 'Comments'
    }
</script>

<style lang="scss">
    .comments {
        background-color: #ff0000;
    }
</style>
