<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

{namespace products=TYPO3\SonotecRetour\ViewHelpers}

<formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue"><f:spaceless>
   <f:if condition="{formValue.isMultiValue}">
        <f:then>
            <f:if condition="{formValue.isSection}"><f:then>*** <formvh:translateElementProperty element="{formValue.element}" property="label" /> ***</f:then><f:else><formvh:translateElementProperty element="{formValue.element}" property="label" />: <f:for each="{formValue.processedValue}" as="singleValue">- {singleValue}
            </f:for></f:else></f:if>
        </f:then>
        <f:else>
            <f:if condition="{formValue.isSection}"><f:then>*** <formvh:translateElementProperty element="{formValue.element}" property="label" /> ***</f:then><f:else><formvh:translateElementProperty element="{formValue.element}" property="label" />: <f:if condition="{formValue.processedValue}"><f:then><f:render section="ContentValue" arguments="{_all}" /></f:then><f:else>-</f:else></f:if></f:else></f:if>
        </f:else>
    </f:if>
</f:spaceless>
</formvh:renderAllFormValues>

<f:section name="ContentValue"><f:switch expression="{formValue.element.identifier}">     <f:case value="products"><products:product product="{formValue.processedValue}" /></f:case>
        <f:case value="country"><products:country country="{formValue.processedValue}" /></f:case>
        <f:defaultCase>{formValue.processedValue -> f:format.raw()}</f:defaultCase></f:switch></f:section>
</html>
