<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{references}">

    <div class="ce-slider-carousel">
        <f:for each="{references}" as="reference">
            <div class="ce-slider-carousel__item reference__item">

                <div class="reference__header">
                    <f:if condition="{reference.image}">
                        <f:image image="{reference.image}" width="60c" height="60c" class="reference__image"/>
                    </f:if>

                    <h4 class="reference__title">
                        {reference.name}
                        <f:if condition="{reference.company}">
                            <span class="reference__company">{reference.company}</span>
                        </f:if>
                    </h4>

                    <f:if condition="{reference.logo}">
                        <f:image image="{reference.logo}" width="60m" height="60m" class="reference__logo"/>
                    </f:if>
                </div>

                <f:format.stripTags>
                    {reference.description -> f:format.crop(maxCharacters:240)}
                </f:format.stripTags>
            </div>
        </f:for>
    </div>

</f:if>

</html>
