//colors
$body-color: #496471;
$body-color-lighter: #605959;
$headline-blue: #213C47;
$headline-blue-75: rgba(33, 60, 71, 0.75);
$headline-blue-50: rgba(33, 60, 71, 0.5);
$meta-blue: #738B98;
$blue-grey: #9FB1BD;
$blue-grey-50: rgba(33, 60, 71, 0.5);
$headline-red: #E73439;
$white-base: #fff;
$white-40: rgba(255,255,255,0.4);
$white-80: rgba(255,255,255,0.8);
$grey: #5E646C;
$grey-50: rgba(94,100,108,0.5);
$grey-lighter: #CDD8DF;
$grey-lighter-25: rgba(205, 216, 223, 0.25);
$grey-lighter-50: rgba(205, 216, 223, 0.5);
$grey-lighter-40: rgba(205, 216, 223, 0.4);
$grey-lighter-75: rgba(227, 227, 227, 0.75);
$grey-10: #E6EBEF;
$grey-5: #F6F6F6;
$grey-lightest: #f2f5f7;

$blue-header: #E0E7F0;


//paths
$public-image-path: '/typo3conf/ext/sonotec_config/Resources/Public/Img';
$public-fonts-path: '/typo3conf/ext/sonotec_config/Resources/Public/Fonts';

//font-size
$base-font-size:      100%;
$font-size:           16px;
$line-height:         1.5;

//breakpoints
$breakpoint-xs: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1620px;
$breakpoint-xxxxl: 1920px;
