
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
        <div class="form-check privacycheck">
            <label class="{element.properties.elementClassAttribute} form-check-label" for="{element.uniqueIdentifier}">
                <f:form.checkbox
                    property="{element.identifier}"
                    id="{element.uniqueIdentifier}"
                    class="{element.properties.elementClassAttribute} privacycheck-checkbox"
                    value="akzeptiert"
                    errorClass="{element.properties.elementErrorClassAttribute}"
                    additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                />
                <f:if condition="{element.properties.contentElementUid}">
                    <f:then>
                        <f:cObject typoscriptObjectPath="lib.tx_form.contentElementRendering">{element.properties.contentElementUid}</f:cObject>
                    </f:then>
                    <f:else>
                        {element.label}
                    </f:else>
                </f:if>
            </label>

        </div>
    </f:render>
</formvh:renderRenderable>
</html>
