<div id="sonotec-map"></div>







<f:comment>

			<td><f:link.action action="show" arguments="{address : address}"> {address.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.zip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.mobile}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{address : address}"> {address.url}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{address : address}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{address : address}">Delete</f:link.action></td>
</f:comment>