{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
</head>
<body>

    <p>
        <f:switch expression="{form.formState.formValues.salutation}">
            <f:case value="Herr">Sehr geehrter Herr {form.formState.formValues.lastname},</f:case>
            <f:case value="Frau">Sehr geehrte Frau {form.formState.formValues.lastname},</f:case>
            <f:defaultCase>Sehr geehrte Damen und Herren,</f:defaultCase>
        </f:switch>
    </p>
    <p>vielen Dank für die Zusendung Ihrer Bewerbung und dem damit verbundenen Interesse an einer Tätigkeit in
        unserem Unternehmen.</p>
    <p>Wir werden Ihre Unterlagen prüfen und geben Ihnen danach eine Rückmeldung. Dieser Vorgang kann einige Zeit in
        Anspruch nehmen.</p>
    <p>Wir danken für Ihr Verständnis.</p>
    <p>Mit freundlichen Grüßen,<br/><br/>
        Kirsten Kern<br/>
        Personalreferentin | Personal
    </p>
    <hr/>
    <p>SONOTEC GmbH<br/>
        Nauendorfer Str. 2 | 06112 Halle (Saale) | Deutschland | www.sonotec.de<br/>
        Tel.: +49 345 13317-768 |  Fax: +49 345 13317-99 | kirsten.kern@sonotec.de<br/>
    </p>
    <p>Geschäftsführende Gesellschafter: Manuela Münch, Michael Münch, Hans-Joachim Münch</p>
    <p>
        Sitz der Gesellschaft: Halle (Saale) | Registergericht: Amtsgericht Stendal<br/>
        Handelsregisternummer: HRB-206251 | UST-Id Nr.: DE 156 4000 93
    </p>

</body>
</html>
