{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
</head>
<body>

    <table width="600" cellpadding="0" cellspacing="0" border="0">

        <formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">

            <tr>

                <f:if condition="{formValue.isSection}">
                    <f:then>
                        <td colspan="2">
                            <b>{formvh:translateElementProperty(element: formValue.element, property: 'label')}</b></td>
                    </f:then>
                    <f:else>
                        <td width="600" valign="top" align="left">
                            <f:if condition="{formValue.element.identifier}!='recipienttype' && {formValue.element.identifier}!='recipientuid'">
                                {formvh:translateElementProperty(element: formValue.element, property: 'label')}
                            </f:if>
                        </td>
                        <td width="600" valign="top" align="left">
                            <f:if condition="{formValue.value}">
                                <f:then>
                                    <f:if condition="{formValue.isMultiValue}">
                                        <f:then>
                                            <table cellspacing="0" border="0">
                                                <f:for each="{formValue.processedValue}" as="value">
                                                    <tr>
                                                        <td>{value}</td>
                                                    </tr>
                                                </f:for>
                                            </table>
                                        </f:then>
                                        <f:else>
                                            <table cellspacing="0" border="0">
                                                <tr>
                                                    <f:if condition="{formValue.element.identifier}!='recipienttype' && {formValue.element.identifier}!='recipientuid'">
                                                        <f:if condition="{formValue.element.type} == 'FileUpload'">
                                                            <f:then>
                                                                <td>
                                                                    <a href="https://www.sonotec.de/fileadmin{formValue.value.originalResource.identifier}">
                                                                        https://www.sonotec.de/fileadmin{formValue.value.originalResource.identifier}
                                                                    </a>
                                                                </td>
                                                            </f:then>
                                                            <f:else>
                                                                <td><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
                                                            </f:else>
                                                        </f:if>
                                                    </f:if>
                                                </tr>
                                            </table>
                                        </f:else>
                                    </f:if>
                                </f:then>
                                <f:else>
                                    <f:if condition="{formValue.element.identifier}!='recipienttype' && {formValue.element.identifier}!='recipientuid'">
                                    -
                                    </f:if>
                                </f:else>
                            </f:if>
                        </td>
                    </f:else>
                </f:if>
            </tr>

        </formvh:renderAllFormValues>

    </table>
</body>
</html>
