<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{deleted}">
        <f:then>
            <h3>{f:translate(key:'delete.legend')}</h3>

            <div class="ce-text">
                <f:flashMessages />
            </div>

            <p>
                <f:link.page class="btn btn-blue" pageUid="{settings.overviewUid}">{f:translate(key:'back_to_overview')}</f:link.page>
            </p>

        </f:then>
        <f:else>
            <h3>{f:translate(key:'delete.legend')}</h3>
            <f:form action="delete"  enctype="multipart/form-data"  name="serialnumber" object="{serialnumber}" arguments="{serialnumber:serialnumber}">
                <div class="ce-text">
                    <f:flashMessages />
                </div>
                <f:form.hidden name="delete" value="1" />

                <f:form.button  class="btn btn-red" value="1">{f:translate(key:'delete.submit')}</f:form.button>
                <f:link.page class="btn btn-blue" pageUid="{settings.overviewUid}">{f:translate(key:'cancel')}</f:link.page>

            </f:form>
        </f:else>
    </f:if>




</f:section>
</html>
