<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

    {f:translate(key:'label.serialnumber')}
    <table class="downloads table">

        <tr>
            <th>{f:translate(key:'device')}</th>
            <th colspan="2">{f:translate(key:'serialnumber')}</th>
        </tr>

        <f:for each="{serialnumbers}" as="serialnumber">

            <tr class="data files">

                <td><strong>{serialnumber.type.title}</strong></td>
                <td>{serialnumber.serialnumber}</td>
                <td class="delete-cell">
                    <f:link.action class="delete" pageUid="{settings.deleteUid}" action="delete" arguments="{serialnumber : serialnumber}" title="{f:translate(key:'action.delete')}">
                        <svg class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                            <path d="M96 512h320l32-352h-384zM320 64v-64h-128v64h-160v96l32-32h384l32 32v-96h-160zM288 64h-64v-32h64v32z"></path>
                        </svg>
                    </f:link.action>
                </td>
            </tr>

        </f:for>
    </table>

    <div class="mb-5">
    <f:link.page class="btn btn-red" pageUid="{settings.registerUid}">{f:translate(key:'register_new_device')}</f:link.page>
    </div>

    <h3>Updates</h3>

    <table class="downloads table">
        <f:for each="{downloads}" as="download">
            <f:for each="{download.type.files}" as="file">

                <tr class="files">
                    <td colspan="3">
                        <ul>

                            <li>
                                <a class="download-file" href="{f:uri.page()}sonotec-customers-download/?file={file.originalResource.properties.file}">
                                   <f:if condition="{file.originalResource.title}">
                                       <f:then>{file.originalResource.title}</f:then>
                                       <f:else>{file.originalResource.name}</f:else>
                                   </f:if>
                                </a>
                                <f:if condition="{file.originalResource.description}">
                                    <br/>{file.originalResource.description}
                                </f:if>
                            </li>

                        </ul>
                    </td>
                </tr>
            </f:for>
        </f:for>
    </table>

</f:section>
</html>


