<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

    <f:if condition="{added}">
        <f:then>
            <h3>{f:translate(key:'new.legend')}</h3>

            <div class="ce-text">
                <f:flashMessages />
            </div>

            <p>
                <f:link.page class="btn btn-blue" pageUid="{settings.overviewUid}">{f:translate(key:'back_to_overview')}</f:link.page>
            </p>
        </f:then>
        <f:else>
            <h3>{f:translate(key:'new.legend')}</h3>
            <f:form action="new"  enctype="multipart/form-data"  name="newSerialnumber" object="{newSerialnumber}">
                <div class="ce-text">
                    <f:flashMessages />
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="type" class="control-label">
                                <f:translate key="label.customerDeviceRegistration" />
                            </label>
                            <f:form.select options="{devices}" prependOptionLabel="{f:translate(key:'pleaseChoose')}" class="form-control" id="type" property="type" required="required" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="serialnumber" class="control-label">
                                <f:translate key="label.serialnumber" />
                            </label>
                            <f:form.textfield class="form-control" id="serialnumber" property="serialnumber" required="required" maxlength="{settings.serialnumberLength}" />
                        </div>
                    </div>
                </div>



                <f:form.button  class="btn btn-red" value="1">{f:translate(key:'new.register')}</f:form.button>
                <f:link.page class="btn btn-blue" pageUid="{settings.overviewUid}">{f:translate(key:'cancel')}</f:link.page>

            </f:form>
        </f:else>
    </f:if>



</f:section>
</html>
