<f:for each="{jobposting.locations}" as="location">
<posting>
    <id>{settings.xing.idPrefix}<f:format.printf arguments="{number: jobposting.uid}">%06d</f:format.printf>L{location.uid}</id>

    <job_title>
        <smapOne:cdata content="{jobposting.jobTitle} (m|w|d)" />
    </job_title>

    <description>
        <smapOne:cdata content="<h3>{jobposting.introtext -> f:format.nl2br()}</h3><h3>Zu Ihren Aufgaben zählen:</h3>{jobposting.description -> f:format.html()}<h3>Unsere Anforderungen:</h3>{jobposting.description2 -> f:format.html()}<h3>Ihre Benefits!</h3>{jobposting.description3 -> f:format.html()}<h3>Unser Kontakt:</h3>{jobposting.description4 -> f:format.html()}" />
    </description>

    <url>
        <smapOne:cdata content="{jobposting.url}" />
    </url>

    <company_name>
        <smapOne:cdata content="{jobposting.companyName}" />
    </company_name>

    <publish_to_company_profile>{settings.xing.publishToCompanyProfile}</publish_to_company_profile>

    <publish_to_company_stream>{settings.xing.publishToCompanyStream}</publish_to_company_stream>

    <job_location>
        <f:if condition="{location.address}"><address><smapOne:cdata content="{location.address}" /></address></f:if>
        <f:if condition="{location.city}"><city><smapOne:cdata content="{location.city}" /></city></f:if>
        <f:if condition="{location.zipCode}"><zip_code>{location.zipCode}</zip_code></f:if>
        <f:if condition="{location.country}"><country><smapOne:cdata content="{location.country}" /></country></f:if>
        <f:if condition="{location.latitude}"><latitude>{location.latitude}</latitude></f:if>
        <f:if condition="{location.longitude}"><longitude>{location.longitude}</longitude></f:if>
    </job_location>

    <contact_email><smapOne:cdata content="karriere@sonotec.de" /></contact_email>

    <f:if condition="{jobposting.bannerImageUrl}">
        <banner_image_url><smapOne:cdata content="{f:uri.image(src:jobposting.bannerImageUrl.originalResource.publicUrl,absolute:1)}" /></banner_image_url>
    </f:if>

    <f:if condition="{jobposting.jobType}">
        <job_type><smapOne:cdata content="{jobposting.jobType}" /></job_type>
    </f:if>

    <reply_setting><smapOne:cdata content="email" /></reply_setting>

    <f:if condition="{jobposting.careerLevel}">
        <career_level><smapOne:cdata content="{jobposting.careerLevel}" /></career_level>
    </f:if>

    <f:if condition="{jobposting.salaryRangeStart}>0 || {jobposting.salaryRangeEnd}>0">
        <salary>
            <range_start>{jobposting.salaryRangeStart}</range_start>
            <range_end>{jobposting.salaryRangeEnd}</range_end>
            <currency>EUR</currency>
        </salary>
    </f:if>
</posting>
</f:for>
