<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="serialnumber">
	<f:translate key="tx_sonoteccustomers1_domain_model_serialnumber.serialnumber" />
</label><br />
	<f:form.textfield property="serialnumber" /><br />
</html>