{namespace femanager=In2code\Femanager\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" >
	<f:layout name="Default" />

	User / Edit
	Available variables:
	{user}
	{allUserGroups}

	<f:section name="main">
		<f:render partial="Misc/FlashMessages" arguments="{_all}" />
		<f:render partial="Misc/FormErrors" arguments="{object:User}" />

		<div class="femanager_edit">
			<f:if condition="{user}">
				<f:then>
					<f:form
							name="user"
							object="{user}"
							action="update"
							enctype="multipart/form-data"
							additionalAttributes="{data-femanager-plugin:data.uid}"
							class="form-horizontal {f:if(condition:'{settings.edit.validation._enable.client}',then:'feManagerValidation',else:'')}">

                        <f:form.hidden name="token" value="{token}" />

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <f:render partial="Fields/FirstName" arguments="{_all}" />
                            </div>
                            <div class="col-12 col-md-6">
                                <f:render partial="Fields/LastName" arguments="{_all}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <f:render partial="Fields/Company" arguments="{_all}" />
                            </div>
                            <div class="col-12 col-md-6">
                                <f:render partial="Fields/StaticInfoCountry" arguments="{_all}" />
                            </div>
                        </div>

                        <f:render partial="Fields/ModuleSysDmailHtml" arguments="{_all}" />

                        <f:render partial="Fields/SubmitUpdate" arguments="{_all}" />

					</f:form>
				</f:then>
				<f:else>
					<div class="femanager_note">
						<f:translate key="notLoggedIn" />
					</div>
				</f:else>
			</f:if>
		</div>
	</f:section>

</div>
