{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">
	<label for="femanager_field_company" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.company" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'company')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="input">
		<femanager:form.textfield
				id="femanager_field_company"
				property="company"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'company')}" />
	</div>
</div>
