
{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">
    <label for="customerSerialnumberRegistration" class="control-label">
        <f:translate key="LLL:EXT:sonotec_customers/Resources/Private/Language/locallang.xlf:label.serialnumber" />
        <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'customerSerialnumberRegistration')}">
            <span>*</span>
        </f:if>
    </label>
    <div class="input">
        <femanager:form.textfield
            id="customerSerialnumberRegistration"
            property="customerSerialnumberRegistration"
            class="form-control"
            additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'customerSerialnumberRegistration')}" />
    </div>
</div>
