
{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">
    <label for="customerDeviceRegistration" class="control-label">
        <f:translate key="LLL:EXT:sonotec_customers/Resources/Private/Language/locallang.xlf:label.customerDeviceRegistration" />
        <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'customerDeviceRegistration')}">
            <span>*</span>
        </f:if>
    </label>
    <div class="input">
        <f:form.select
            property="customerDeviceRegistration"
            id="customerDeviceRegistration"
            options="{devices}"
            class="form-control"
            prependOptionLabel="{f:translate(key:'pleaseChoose')}"
            additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'customerDeviceRegistration')}"
        />
    </div>
</div>
