{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">
	<label for="femanager_field_email" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.email" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'email')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="input">
		<femanager:form.textfield
				id="femanager_field_email"
				property="email"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'email')}" />
	</div>
</div>
