{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">
	<label for="femanager_field_firstName" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.firstName" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'firstName')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="input">
		<femanager:form.textfield
				id="femanager_field_firstName"
				property="firstName"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'firstName')}" />
	</div>
</div>
