{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">
	<label for="femanager_field_lastName" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.lastName" />
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'lastName')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="input">
		<femanager:form.textfield
				id="femanager_field_lastName"
				property="lastName"
				class="form-control"
				additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'lastName')}" />
	</div>
</div>
