{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">

        <div class="checkbox">
            <label class="checkbox">
                <f:form.checkbox
                    id="femanager_field_moduleSysDmailHtml"
                    property="moduleSysDmailHtml"
                    value="1"
                    checked="{f:if(condition:'{user.moduleSysDmailHtml}==1',then:'checked')}}"
                    additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'moduleSysDmailHtml')}" />
                <f:translate key="LLL:EXT:sonotec_customers/Resources/Private/Language/locallang.xlf:label.newsletter" />
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'moduleSysDmailHtml')}">
                    <span>*</span>
                </f:if>
            </label>
        </div>
</div>
