{namespace femanager=In2code\Femanager\ViewHelpers}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="femanager_field_password" class="control-label">
                <f:translate key="tx_femanager_domain_model_user.password" />
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
                    <span>*</span>
                </f:if>
            </label>
            <div class="input">
                <f:form.password
                    id="femanager_field_password"
                    property="password"
                    class="form-control"
                    value=""
                    additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password')}" />
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6">

        <div class="form-group">
            <label for="femanager_field_password_repeat" class="control-label">
                <f:translate key="passwordRepeat" />
                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'password')}">
                    <span>*</span>
                </f:if>
            </label>
            <div class="input">
                <f:form.password
                    id="femanager_field_password_repeat"
                    name="password_repeat"
                    class="form-control"
                    value=""
                    additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'password_repeat')}" />
            </div>
        </div>

    </div>
</div>
