{namespace femanager=In2code\Femanager\ViewHelpers}

<div class="form-group">
	<label for="femanager_field_country" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.country"/>
		<f:if condition="{femanager:Validation.IsRequiredField(fieldName:'country')}">
			<span>*</span>
		</f:if>
	</label>
	<div class="input">
        <f:form.select
            property="staticInfoCountry"
            id="femanager_field_country"
            options="{countries}"
            class="form-control"
            prependOptionLabel="{f:translate(key:'pleaseChoose')}"
            additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'staticInfoCountry')}"
        />
	</div>
</div>

