{namespace femanager=In2code\Femanager\ViewHelpers}
<div class="form-group">

        <div class="checkbox">
            <label class="checkbox">
                <f:form.checkbox
                        id="femanager_field_terms"
                        property="terms"
                        value="Terms and conditions"
                        checked="false"
                        additionalAttributes="{femanager:Validation.FormValidationData(settings:settings,fieldName:'terms')}" />
                <f:translate key="tx_femanager_domain_model_user.terms" />

                <f:link.page pageUid="21"><f:translate key="tx_femanager_domain_model_user.termslinktext" /></f:link.page>

                <f:if condition="{femanager:Validation.IsRequiredField(fieldName:'terms')}">
                    <span>*</span>
                </f:if>
            </label>
        </div>
    </div>
