<footer class="site-footer">
    <div class="site-footer__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <f:render partial="Footer/MenuMain" arguments="{_all}" />
                </div>
                <div class="col-md-3">
                    <f:link.page title="{settings.pageTitle}" class="site-footer-logo" pageUid="{settings.rootPage}">
                        <span class="icon-logo footer-logo"></span>
                    </f:link.page>
                    <p>
                        <span class="icon-phone footer-icon"></span> <f:format.raw>{settings.footerPhone}</f:format.raw><br/>
                        <span class="icon-mail footer-icon"></span>
                        <f:link.page pageUid="{settings.contactPage}" class="mask-contact-link"><f:format.raw>{settings.footerMail}</f:format.raw></f:link.page>
                    </p>
                    <div class="footer_sm printhide">
                        <a class="footer_sm-item" href="{f:cObject(typoscriptObjectPath:'lib.linkedIn')}" target="_blank"><span class="icon-linkedin"></span></a>
                        <a class="footer_sm-item" href="https://www.facebook.com/people/SONOTEC/100070180004346/" target="_blank"><span class="icon-facebook2"></span></a>
                        <a class="footer_sm-item" href="https://www.youtube.com/user/SONOTECGmbH" target="_blank"><span class="icon-youtube"></span></a>
                        <a class="footer_sm-item" href="https://www.instagram.com/sonotec_gmbh/" target="_blank"><span style="border-radius: 2px;position:relative;top:2px;overflow: hidden;display: inherit;" class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="site-subfooter">
        <div class="container h-100">
            <div class="inner">
            <div class="row justify-content-between h-100 align-content-center">
                <div class="col">
                    &copy; 1999–{currentYear} Copyright by SONOTEC GmbH
                </div>

                <div class="col text-right">
                    <f:for each="{subfooterMenu}" as="menuItem" iteration="i">
                        <a href="{menuItem.link}" title="{menuItem.title}" class="site-subfooter__menuItem">{menuItem.title}</a>
                    </f:for>
                </div>

            </div>
            </div>
        </div>
    </div>
</footer>
