<div class="row">
    <div class="col-12 col-lg-6 col-xl-4 footer-submenu__col">
        <f:for each="{footerMenu}" as="footerColumn" iteration="i">
            <f:if condition="{footerColumn.data.sonotec_shortcut}">
                <f:then>
                    <a href="{footerColumn.link}#c{footerColumn.data.sonotec_shortcut}" title="{footerColumn.title}" class="footer-submenu__main">{footerColumn.title}</a>
                </f:then>
                <f:else>
                    <a href="{footerColumn.link}" title="{footerColumn.title}" class="footer-submenu__main">{footerColumn.title}</a>
                </f:else>
            </f:if>
            <f:if condition="{footerColumn.children}">
                <div class="footer-submenu">
                    <f:for each="{footerColumn.children}" as="menuItem">
                        <f:if condition="{menuItem.data.sonotec_shortcut}">
                            <f:then>
                                <a href="{menuItem.link}#c{menuItem.data.sonotec_shortcut}" title="{menuItem.title}" class="footer-submenu__item">{menuItem.title}</a>
                            </f:then>
                            <f:else>
                                <a href="{menuItem.link}" title="{menuItem.title}" class="footer-submenu__item">{menuItem.title}</a>
                            </f:else>
                        </f:if>
                    </f:for>
                </div>
        </f:if>
        </div><div class="col-12 col-lg-6 col-xl-4 footer-submenu__col">
    </f:for>
</div>
</div>
