<div class="site {f:cObject(typoscriptObjectPath:'lib.buTheme')}">
    <f:render partial="Header/Header" arguments="{_all}"/>
    <f:render section="main" />
    <f:render partial="Footer/Footer" arguments="{_all}"/>
</div>
<div id="main-menu-mobile" data-title="{settings.pageTitle}">
    <ul class="l1">
        <f:cObject typoscriptObjectPath="lib.mainMenuMobile" />
        <f:cObject typoscriptObjectPath="lib.mainMenuMobileAdditional" />
    </ul>
</div>

<!-- Modal -->
<f:if condition="{settings.searchPage}">
<div id="searchModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class=" h3 mb-0 modal-title" id="exampleModalLabel">
                    <f:translate key="LLL:EXT:sonotec_config/Resources/Private/Language/locallang_frontend.xlf:ll.search" />
                </div>
            </div>
            <div class="modal-body">
                <f:cObject typoscriptObjectPath="lib.headerSearchBox"/>
            </div>
        </div>
    </div>
</div>
</f:if>

<div class="form-overlay" id="form-overlay"></div>


<f:if condition="{data.sonotec_show_popup}">

    <div id="careerModal" class="modal fade" tabindex="-1" aria-labelledby="careerModalLabel" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <f:image src="{settings.assetsPath}Img/logo.svg" width="314" height="50" title="{settings.pageTitle}" alt="{settings.pageTitle}" class="site-logo" />
                    <a style="font-size: 2rem;" href="javascript:void(0);" data-toggle="modal" data-target="#careerModal" id="careerModalClose">&times;</a>
                </div>
                <div class="modal-body">
                    <div class="h2">Bereit, die Zukunft mitzugestalten?</div>
                    <p>Schicken Sie uns einfach Ihr LinkedIn- oder XING-Profil und wir kontaktieren Sie.</p>
                    <f:cObject typoscriptObjectPath="tt_content.formFooter" data="{formVariant:'career.form.yaml'}"/>
                </div>
            </div>
        </div>
    </div>
</f:if>
