<f:if condition="{arguments.ajax}">
    <f:then>
        <f:render partial="Form" arguments="{_all}" />
    </f:then>
    <f:else>
        <div class="container pb-5 pt-5">
            <form id="sonotec_sensors_form" action="{f:uri.page(pageType:100001)}">
                <f:render partial="Form" arguments="{_all}" />
            </form>
        </div>
    </f:else>
</f:if>

